@charset "utf-8";
/* CSS Document */

p{
font-family: Verdana, sans-serif; font-size: 11px;
color: #ffffff;
line-height: 18px;
padding: 3px;
}

p {
  margin-bottom: 0 }
p + p {
	text-indent: 0em;
	margin-top: 0
}
  
.bold {
	font-family: Verdana, sans-serif;
	font-size: 15px;
	font-style: normal;
	line-height: 18px;
	font-weight: bold;
	color: #FFFFFF;
}
