/* Background no-repeat */
body {
	background-repeat:no-repeat;
	background-color:transparent;
	background-position:center;
	font-size: 12pt; 
	color:#808080;
	position: relative; 
	text-align:center;
	font-family:Verdana; 
	}
/*------------Layout and Navagation------------*/

#ReturnTOETTERENGB{left:100px;
			position:absolute;}
#Wrapper {
	margin: 0 auto;
	position: relative;	
	text-align:left; 
	width: 960px; 
	}
#Hidebutton{
	top:13px;
	left:895px;
	position:absolute;
	z-index:999999;
	}
#cse-search-form{
	position:absolute; 
	z-index:97; 
	width:270px; 
	left:650px;  
	}
#cse{
	position:absolute; 
	z-index:99999995; 
	left: 518px; 
	display:none; 
	padding:10px; 
	background-color:#FFFFFF;
	overflow:auto;
	overflow-x:hidden;
	}
#Head	{
	background:url(Header.gif);
	background-repeat:no-repeat;
	height:162px;	
	position:absolute;
	top:-40px;left:0px;
	width:960px; 
	z-index: 5;
	}
	}
#Tagline {
	color:#000000; 
	font-family:Verdana;
	text-decoration: none;
	font-size:7.5pt; 
	font-weight: bold; 
	white-space:pre;
	position: absolute; 
	top: 91px; 
	left:20px; 
	z-index: 300; 
	}
#Logo {
	width:125px; 
	height:66px; 
	position: absolute; 
	white-space:pre;    
	background:url(ETTERLogo.gif);
	background-repeat:no-repeat; 
   	top:-10px; 
	left:30px; 
	z-index: 
	200;
	}
#ContactButton {
	position: absolute; 
	top: 89px; 
	left:884px;
	font-size:9pt;
	text-decoration: none;
	font-family:Verdana; 
	color:#D21D1F;
	z-index:14;
	}
#NavBar {
	width:972px; 
	height:19px; 
	position: absolute;      
	background:url(navbar.gif); 
   	top:106px; 
	left:-6px; 
	z-index: 11;
	}
#NavBarDrop {
	width: 960px;
	height:15px; 
	position:absolute;
	z-index:10; 
	top:121px;
	left:0px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#151515', endColorstr='#00000000', GradientType=0);
	}

/* Drop down Organization */
#dropdown {
	margin: 0;
	padding: 0;
	height: 1em;}
#dropdown li {	
	float: left;
	list-style: none;
	}
#dropdown li a {	
	display: block;
	width:12em;	
	padding: 3px 0px;  
	background-color: transparent;	  
	white-space:pre;
	font-size:.8em;
	letter-spacing: -.4px;
	text-decoration: none;
	text-align:center; 
	z-index: 20000;	  
	font-family: Verdana;	  
	color: #424242;
	position: relative; top:105px; left: 0px;	  
	text-decoration: none; 
	}
#dropdown li a:hover {color:#000000;}
#dropdown li ul {	
	margin: 0;
	padding: 0;
	width: 18em;	  
        letter-spacing:  .01em;
	text-align:center;
	position: absolute;
	visibility: hidden;
	z-index: 20000;	 
	}
#dropdown li ul li{	
	float: none;
	}
#dropdown li ul li a{	
	width: 10em;
	top:105px;
	left:-70px;
	word-spacing: .025em; 	  
	letter-spacing: -.05em;	  
	font-size:.8em; 
	font-family: Verdana;	 
	background: #6e6e6e;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#ADADAD');
	}
#dropdown li ul li a:hover {color:#ff0000;}
/*------------ENGB Site Expansions------------*/
#BluePrint {
	width:960px; 
	height:639px;
	background-repeat:no-repeat;  	   	
	position:absolute; 
	top:120px;left:0px;	
	background:url(ENGBblueprintbackgrd.gif);
	z-index: 1;
	}
#NavBar2 {
	width:972px; 
	height:19px; 
	position: absolute;      
	background:url(navbar.gif); 
   	top:736px; 
	left:-6px; 
	z-index: 20;
	}
#NavBarDrop2 {
	width: 960px;
	height:13px; 
	position:absolute;
	z-index:10; 
	top:749px; 
	left:0px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000');
	}
#Red {
	width: 960px;
	height:19px; 
	position:absolute;
	z-index:9; 
	top:746px; 
	left:0px; 
	background-color:#D21D1F;
	}
#DropRight {
	width: 10px;
	height:775px; 
	position:absolute;
	opacity:0.6;
	z-index:1; 
	top:-10px; 
	left:960px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#494949', endColorstr='#00000000',GradientType=1);
	}
#DropLeft {
	width: 10px;
	height:775px; 
	position:absolute;
	opacity:0.6;
	z-index:1; 
	top:-10px; 
	left:-10px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#494949',GradientType=1);
	}
#PartsWhiteBlockFooterTwo {
	background-color:#FFFFFF;
	border-width: 1px; 
	border-style: solid; 
	border-color:#000000;
	opacity:0.5;
	top:672px;
	left:270px;
	width:4px;
	height:55px;
	position:absolute;
	z-index:10000000;}
#PartsWhiteBlockFooterThree {
	background-color:#FFFFFF;
	border-width: 1px; 
	border-style: solid; 
	border-color:#000000;
	opacity:0.5;
	top:672px;
	left:650px;
	width:4px;
	height:55px;
	position:absolute;
	z-index:10000000;}
#WhiteBlockFooterTwo {
	background-color:#FFFFFF;
	border-width: 1px; 
	border-style: solid; 
	border-color:#000000;
	opacity:0.5;
	top:642px;
	left:270px;
	width:4px;
	height:55px;
	position:absolute;
	z-index:10000000;}
#WhiteBlockFooterThree {
	background-color:#FFFFFF;
	border-width: 1px; 
	border-style: solid; 
	border-color:#000000;
	opacity:0.5;
	top:642px;
	left:650px;
	width:4px;
	height:55px;
	position:absolute;
	z-index:10000000;}
#FooterBarTopDrop {
	width:861px;
	height:8px;
	left:19px;
	top:618px;
	position:absolute;
	z-index:1000000001;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#151515');
	}
#FooterBarBottomDrop {
	width:861px;
	height:8px;
	left:19px;
	top:705px;
	position:absolute;
	z-index:1000000001;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#494949', endColorstr='#00000000');
	}
#PartsFooterBarTopDrop {
	width:861px;
	height:2px;
	left:19px;
	top:660px;
	position:absolute;
	z-index:2;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#151515');
	}
#WhiteNEWareaDrop {
	width: 960px;
	height:13px; 
	position:absolute;
	z-index:10; 
	top:727px; 
	left:0px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#151515');
	}
#ENGBBoosterLeftInsideDrop{
	width: 10px;
	height:755px; 
	position:absolute;
	opacity:0.6;
	z-index:2; 
	top:-10px; 
	left:9px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#151515',GradientType=1);
	}
#LightBlueBkgrd {
	height: 156px; 
	width: 861px; 
	top:582px; 
	left:19px; 
	position:absolute; 
	background:url(ENGBPackaged_Heat_lightblueblk.gif);
	Background-repeat:no-repeat;
	z-index:8;
	}
#PartsLightBlueBkgrd {
	height: 156px; 
	width: 861px; 
	top:582px; 
	left:19px; 
	position:absolute; 
	background:url(ENGBPackaged_Heat_lightblueblk.gif);
	Background-repeat:no-repeat;
	z-index:2;
	}
#DropRightSolidWhiteBkgrd {
	width: 10px;
	height:755px; 
	position:absolute;
	opacity:0.6;
	z-index:12; 
	top:125px; 
	left:880px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#151515', endColorstr='#00000000',GradientType=1);
	}
#SolidWhiteBkgrdBottom {
	width: 861px;
	height:20px;
	position:absolute;
	z-index:3; 
	top:715px; 
	left:19px; 
	background-color:#FFFFFF;
	z-index:9;
	}
#RedBrowseBar {
	top: 715px; 
	left: 19px; 
	background-color: #D21D1F; 
	width: 861px; 
	height: 2em; 
	background:url(redbar.jpg);
	background-repeat: no-repeat; 
	position: absolute; 
	z-index: 50;
	}
#ENews {
	position:absolute; 
	top:617px; 
	left:673px; 
	word-spacing:-.05em;
	line-height: .8em;
	z-index:140000000000;
	}
#PartsENews {
	position:absolute; 
	top:651px; 
	left:673px; 
	word-spacing:-.05em;
	line-height: .8em;
	z-index:140000000000;
	}
#ENGBLearnMore{
	position:absolute; 
	top:637px; 
	left:107px; 
	z-index:140000000000;
	}
#ENGBFooterSolidVideoBTN {
	top:640px;
	left:193px;
	width: 60px;
	height:60px;
	z-index:9999999999;
	position:absolute;
	}
#LearnMoreFooterText{
	font-family:Verdana;
	position:absolute;
	width:210px; 
	height:133px;
	top:660px;
	right:770px;
	line-height: 1.154em;
	font-size:10pt; 
	word-spacing:.1em;
	letter-spacing:.01em; 
	color:#999999;
	text-align:right;
	z-index: 200000;
	}
#PartsENGBLearnMore{
	position:absolute; 
	top:675px; 
	left:108px; 
	z-index:140000000000;
	}
#PartsENGBFooterSolidVideoBTN {
	top:673px;
	left:193px;
	width: 60px;
	height:60px;
	z-index:9;
	position:absolute;
	}
#PartsLearnMoreFooterText{
	font-family:Verdana;
	position:absolute;
	width:210px; 
	height:133px;
	top:693px;
	right:773px;
	line-height: 1.154em;
	font-size:10pt; 
	word-spacing:.1em;
	letter-spacing:.01em; 
	color:#999999;
	text-align:right;
	z-index: 200000;
	}
#CompanyName {
	color:#333333;
	font-family:Verdana;
	font-weight:bold;
	font-size:7pt; 
	white-space:pre;
	position: absolute; 
	top: 740px; 
	left: 25px; 
	z-index: 21;
	}
#Address {
	color:#333333;
	font-family:Verdana;
	font-weight:bold;
	font-size:7pt; 
	white-space:pre;
	position: absolute; 
	top: 740px; 
	left: 210px; 
	z-index: 21;
	}
#Phone {
	color:#333333;
	font-family:Verdana;
	font-weight:bold;
	font-size:7pt; 
	white-space:pre;
	position: absolute; 
	top: 740px; 
	left: 410px; 
	z-index: 21;
	}
#PrivacyPolicy {
	color:#333333;
	font-family:Verdana;
	font-weight:bold;
	font-size:7pt; 
	white-space:pre;
	position:absolute; 
	top: 740px; 
	left: 650px; 
	z-index: 21;
	text-decoration: none;
	}
#TermsofService {
	color:#333333;
	font-family:Verdana;
	font-weight:bold;
	font-size:7pt; 
	white-space:pre;
	position:absolute; 
	top: 740px; 
	left: 735px; 
	z-index: 21;
	text-decoration: none;
	}
#SiteMap {
	color:#333333;
	font-family:Verdana;
	font-weight:bold;
	font-size:7pt; 
	left: 830px; 
	position:absolute; 
	top: 740px; 
	text-decoration: none;
	white-space:pre;
	z-index: 21;
	}
/*------------Index Page------------*/
#IndexWhiteBkgrd {
	width: 861px; 
	height: 457px; 
	top:125px; 
	left:19px; 
	position:absolute; 
	background:url(full_whiteblk.gif); 
	Background-repeat:no-repeat;
	z-index:4;
	}
#IndexSlideshow {
	Width:800px;
	height:350px; 
	top: 155px; 
	left:40px; 
	position:absolute; 
	background-repeat: no-repeat;
	z-index:17;
	}
#IndexPhotoSlideshow {
	Width:800px; 
	height:350px; 
	top: 155px; 
	left:40px; 
	position:absolute; 
	background-repeat: no-repeat;
	z-index:18;
	}
#IndexContent{
	font-family:Verdana; 
	width: 350px; 
	height: 300px;
	color:#494A4A;
	font-size:.69em; 
	position:absolute; 
	line-height: 12px;
	word-spacing:.4px;
	top: 640px; 
	left:295px; 
	z-index: 13;
	}
/*------------Gas Booster Page------------*/
#sm {
	margin:0; 
	padding:0;
	}
#sm {
	list-style:none;
	top:240px;
	left:276px; 
	width:604px; 
	height:309px; 
	display:block; 
	overflow:hidden;z-index: 5;
	position:absolute; 
	}
#sm li {
	float:left; 
	display:inline; 
	overflow:hidden;z-index: 5;
	position:relative; 
	}
#GasBoosterTxt{
	font-family:Verdana;
	position:absolute;
	width:210px; 
	height:233px;
	top:180px;
	left:45px;
	line-height: 1.154em;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em; 
	color:#FFFFFF;
	z-index: 200;
	}
#GasBoosterTransBLK{
	width: 256px;
	height:457px;
	position:absolute;
	z-index:3; 
	top:125px; 
	left:19px; 
	background-color:#000000;
	z-index:12;
	filter:alpha(opacity=87);
	}
#GasBoosterSolidWhiteBkgrd {
	width: 607px;
	height:57px;
	position:absolute; 
	z-index:4; 
	top:525px; 
	left:273px; 
	background-color:#FFFFFF;
	}	
#GasBoosterHeader{
	font-family:Verdana;
	font-weight:bold;
	position:absolute;
	width:240px; 
	height:233px;
	top:145px;
	left:27px;
	line-height: 1.154em;
	font-size:.90em; 
	word-spacing:.1em;
	letter-spacing:-.01em; 
	color:#D21D1F;
	z-index: 200;
	}
#GasBoosterSolidWhiteBkgrd {
	width: 607px;
	height:57px;
	position:absolute; 
	z-index:4; 
	top:525px; 
	left:273px; 
	background-color:#FFFFFF;
	filter:alpha(opacity=90);
	}
#AlternateBoosterNav{
	font-family:Verdana;
	position:absolute;
	width:920px; 
	height:233px;
	top:718px;
	left:25px;
	line-height: 1.154em;
	font-size:.8em; 
	word-spacing:6.3em;
	letter-spacing:-.03em; 
	color:#000000;
	z-index: 200;
	}
#LightBlueTopBkgrd{
	width: 604px; 
	height: 67px; 
	top: 129px; 
	left: 276px;
	position:absolute; 
	background:url(lightbluetopbooster.gif);
	Background-repeat:no-repeat;
	z-index:5;
	}
#LightBlueTopBkgrdDrop{
	width: 605px;
	height:13px; 
	position:absolute;
	filter:alpha(opacity=100);
	z-index:4; 
	top:185px; 
	left:275px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#494949', endColorstr='#00000000');
	}
/*------------ENGB Booster Page------------*/
#ENGBBoosterPhoto {
	width: 650px; 
	height: 433px; 
	top: 138px; 
	left: 275px;
	position:absolute; 
	background:url(Picture_2812.gif);
	Background-repeat:no-repeat;
	z-index:4;
	}
#ENGBSlideshow {
	Width:500px;
	height:371px; 
	top: 138px; 
	left:275px; 
	position:absolute; 
	background-color:transparent;
	background-repeat: no-repeat;
	z-index:5;
	}
#ENGBBoosterTransBLK {	
	width: 256px;
	height:457px;
	position:absolute;
	z-index:3; 
	top:125px; 
	left:19px; 
	background-color:#000000;
	z-index:12;
	}
#ENGBBoosterDropRightBlkTrans {
	width: 10px; 
	height:457px; 
	position:absolute;
	filter:alpha(opacity=60);
	z-index:12; 
	top:125px; 
	left:275px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#151515', endColorstr='#00000000', GradientType=1);
	}
#ENGBBoosterDropRightInside {
	width: 10px; 
	height:457px; 
	position:absolute;
	opacity:0.6;
	z-index:9999; 
	top:125px; 
	left:665px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#151515', GradientType=1);
	}
#ENGBBoosterSolidWhiteBkgrd {
	width: 207px;
	height:457px;
	position:absolute; 
	z-index:6; 
	top:125px; 
	left:673px; 
	background-color:#FFFFFF;
	filter:alpha(opacity=90);
	}
#ENGBLogo {
	width: 190px; 
	height: 70px; 
	top: 130px; 
	left: 60px;
	position:absolute; 
	background:url(ENGBLogo.png);
	Background-repeat:no-repeat;
	z-index:15;
	}
#ENGBBoosterText {	
	font-family:Verdana;
	position:absolute;
	width:220px; 
	height:233px;
	top:220px;
	left:40px;
	line-height: 1em;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.02em; 
	color:#FFFFFF;
	z-index: 200;
	}
#ENGBBoosterTextRightSide {	
	text-align: right;
	font-family:Verdana;
	position:absolute;
	width:180px; 
	height:233px;
	top:180px;
	left:687px;
	line-height: 1.5em;
	font-size:.6em; 
	word-spacing: .09em;
	letter-spacing:-.03em; 
	color:#000000;
	z-index: 200;
	}
#ENGBPDFButton{
	display: block;
	background:url(ENGBpdfbutton.gif);
	width: 255px;
	height: 25px;
	top: 558px;
	left: 19px;
	position: absolute;
	z-index: 200;
	}
#ENGBPDFButton:hover{background:url(ENGBpdfbuttonhit.gif);}
#ViewDiagram {	
	text-align: right;
	position:absolute;
	width:169px; 
	height:233px;
	top:550px;
	left:705px;
	line-height: 1.7em;
	font-size:.83em; 
	word-spacing: .09em;
	letter-spacing:-.0001em; 
	color:#000000;
	z-index: 200;
	}	
#ETTERApprovals {	
	text-align: right;
	position:absolute;
	font-family:Verdana;
	width:169px; 
	height:233px;
	top:605px;
	left:10px;
	line-height: 1.7em;
	font-size:.63em; 
	word-spacing: .09em;
	letter-spacing:-.0001em;
	color:#000000;
	z-index: 2000;
	}
#ApprovalsTxtpopup{
	text-align:left ;
	position:absolute;
	font-family:Verdana;
	width:400px; 
	height:233px;
	top:58px;
	left:10px;
	line-height: .95em;
	font-size: .7em; 
	word-spacing: .09em;
	letter-spacing:-.0001em;
	color:#000000;
	z-index: 2000;
	}
#E101Button {
	text-align: right;
	position:absolute;
	font-family:Verdana;
	width:250px; 
	height:233px;
	top:547px;
	left:629px;
	line-height: 1.7em;
	font-size:.83em; 
	word-spacing: .09em;
	letter-spacing:-.025em; 
	color:#000000;
	z-index: 200;
	}
#ENGBButton {
	text-align: right;
	position:absolute;
	font-family:Verdana;
	width:250px; 
	height:233px;
	top:218px;
	left:617px;
	line-height: 1.7em;
	font-size:.83em; 
	word-spacing: .09em;
	letter-spacing:-.025em; 
	color:#000000;
	z-index: 200;
	}
#ENGBButton2 {
	text-align: right;
	position:absolute;
	font-family:Verdana;
	width:250px; 
	height:233px;
	top:287px;
	left:617px;
	line-height: 1.7em;
	font-size:.83em; 
	word-spacing: .09em;
	letter-spacing:-.025em; 
	color:#000000;
	z-index: 200;
	}
#ENGBButton3 {
	text-align: right;
	position:absolute;
	font-family:Verdana;
	width:250px; 
	height:233px;
	top:346px;
	left:617px;
	line-height: 1.7em;
	font-size:.83em; 
	word-spacing: .09em;
	letter-spacing:-.025em; 
	color:#000000;
	z-index: 200;
	}
#ENGBButton4 {
	text-align: right;
	position:absolute;
	font-family:Verdana;
	width:250px; 
	height:233px;
	top:415px;
	left:617px;
	line-height: 1.7em;
	font-size:.83em; 
	word-spacing: .09em;
	letter-spacing:-.025em; 
	color:#000000;
	z-index: 200;
	}
#BoosterDiagram{
	width: 450px; 
	height: 392px; 
	top: 50px; 
	left: 15px;
	position:absolute; 
	background:url(solidworks_graphic.gif);
	Background-repeat:no-repeat;
	z-index:4;
	}
BoosterNumbers{width: 450px; 
	height: 392px; 
	top: 50px; 
	left: 15px;
	position:absolute; 
	background:url(solidworks_graphic.gif);
	Background-repeat:no-repeat;
	z-index:10;
	}
#fade { /*--Transparent background layer--*/
	display: none; /*--hidden by default--*/
	background: #000;
	position: fixed;
	left: 0; 
	top: 0;
	width: 100%; 
	height: 100%;
	filter:alpha(opacity=80);
	z-index: 9998;
	}
.popup_block {
	display: none; /*--hidden by default--*/
	background: #fff; 
	height:370px;
	padding: 20px;
	border: 2px solid #000;
	float: left;
	font-size: 1.2em;
	position: absolute;
	top: 373px;
	left: 320px;
	z-index: 99998;
	/*--CSS3 Box Shadows--*/
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	}
.popup_block_approvals {
	display: none; /*--hidden by default--*/
	background: #fff; 
	height:70px;
	padding: 20px;
	border: 2px solid #000;
	float: left;
	font-size: .95em;
	position: absolute;
	top: 520px;
	left:750px;
	z-index: 99998;
	/*--CSS3 Box Shadows--*/
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	}
.ENGB_block {
	display: none; /*--hidden by default--*/
	background: #000; 
	height:371px;
	float: left;
	font-size: 1.2em;
	border: 2px solid #494a4a;
	position: absolute;
	top: 403px;
	left: 509px;
	z-index: 99998;
	/*--CSS3 Box Shadows--*/
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	}
#IndexSlideshow {
	Width:800px;
	height:371px; 
	top: 185px; 
	left:40px; 
	position:absolute; 
	background-repeat: no-repeat;
	z-index:17;
	}
#ENGBcontainer {
	top:543px;
	left:674px;
	width: 206px;
	height:15px;
	z-index:1000;
	background:url(viewapprovalsbutton.gif);
	position:absolute;
	}
#container {
	top:563px;
	left:674px;
	width: 206px;
	height:15px;
	z-index:898;
	background:url(viewapprovalsbutton.gif);
	position:absolute;
	}

#container:hover{background:url(viewapprovalsbuttonhit.gif);
		z-index:901;}
#ENGBProductionBTN {
	top:563px;
	left:674px;
	width: 206px;
	height:15px;
	z-index:999;
	position:absolute;
	}
#ENGBProductionBTN:hover{background:url(viewproductionbuttonhit.gif);}
#Production{
	background-color: #000000;
	border: 4px solid #000;
	font-size: .85em;
	top:115px;
	left:455px;
	width: 400px;
	height:420px;
	padding-bottom: .5em;
	position: relative;
	z-index:99999999999;
	}
#ENGBSolidWorksVideo {
	Width:800px;
	height:371px; 
	top: 185px; 
	left:40px; 
	position:absolute; 
	background-repeat: no-repeat;
	z-index:17;
	}
#ENGBSolidWorksVideoBTNText{
	top:523px;
	left:674px;
	width: 206px;
	height:20px;
	background:url(viewENGBvideobutton.gif);
	z-index:999;
	position:absolute;
	}
.ENGBSolid_block {
	display: none; /*--hidden by default--*/
	background: #fff; 
	height:613px;
	float: left;
	font-size: 1.2em;
	border: 2px solid #494a4a;
	position: absolute;
	top: 370px;
	left: 509px;
	z-index: 99999999999;
	/*--CSS3 Box Shadows--*/
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	}
#ENGBSolidVideoBTN {
	top:533px;
	left:674px;
	width: 206px;
	height:15px;
	z-index:999;
	position:absolute;
	}
#ENGB22222SolidVideoBTN {
	top:477px;
	left:814px;
	width: 225px;
	height:92px;
	z-index:999;
	position:absolute;
	}
#ENGBSolidVideoBTN:hover{background:url(viewVideobuttonhit.gif);}
#SolidVideo{
	background-color: #000000;
	border: 4px solid #000;
	font-size: .85em;
	top:15px;
	left:255px;
	width: 640px;
	height:480px;
	position: relative;
	z-index: 99999999; 
	}
img.btn_close_ENGBSolid {
	width:15px; 
	height:13px; 
	z-index: 99999999999999; 
	background:url(closeXsmall.gif);
	position: absolute; 
	top:4px; 
	right:4px;}
#info {
	background: #FFFFFF;
	border: 2px solid #000;
	width: 413px;
	height:100px;
	top:440px;
	left:575px;
	padding-bottom: .5em;
	overflow: hidden;
	position: absolute;
	z-index:999;
	}
#info p {
	width:280px;
	top:80px;
	left:-85px;
	text-align:left;
	color:#000000;
	font-size: .95em;
	margin-left: 75px;
	margin-top: 0;
	padding: 0 0 0 2em;
	z-index:99999;
	position:absolute;
	}
#infoOneInside {
	background: #FFFFFF;
	border: 2px solid #000;
	font-size: 1em;
	top:10px;
	left:10px;
	width: 300px;
	height:150px;
	padding-bottom: .5em;
	overflow: hidden;	
	position: absolute;
	z-index:999;
	}
#infoOne {
	background: #FFFFFF;
	border: 2px solid #000;
	top:130px;
	left:255px;
	width: 425px;
	height:520px;;
	font-size: .85em;
	padding-bottom: .5em;	
	position: absolute;
	z-index:99999999999999999999;
	}
#OneTitle{ 
	color: #D21D2F;
	position:absolute;
	font-size: .95em;
	z-index:99999;
	width:300px;
	height:50px;
	top:3px;
	left:60px;
	z-index:999;
	position:absolute;
	}
#OneContent {
	width:280px;
	top:25px;
	left:-82px;
	text-align:left;
	color:#000000;
	font-size: .7em;
	margin-left: 75px;
	margin-top: 0;
	padding: 0 0 0 2em;
	z-index:999;
	position:absolute;
	}
#OneContentTwo{
	width:370px;
	top:420px;
	left:30px;
	text-align:left;
	color:#FFFFFF;
	font-size: .7em;
	z-index:999;
	position:absolute;
	}
#OneContentThree{
	width:350px;
	top:475px;
	left:40px;
	text-align:left;
	color:#FFFFFF;
	font-size: .7em;
	z-index:999;
	position:absolute;
	}
#BlackBox{
	width:419px;
	height:115px;
	top:408px;
	left:2px;
	background-color:#000000;
	border: 1px solid #D21D1F;
	z-index:998;
	position:absolute;
	}
#infoTwo {
	background: #FFFFFF;
	border: 2px solid #000;
	top:130px;
	left:255px;
	width: 425px;
	height:520px;
	padding-bottom: .5em;
	overflow: hidden;	
	position: absolute;
	z-index:99999999999999999999;
	position:absolute;
	}
#infoTwoInside {
	background: #FFFFFF;
	border: 2px solid #000;
	font-size: 1em;
	top:10px;
	left:10px;
	width: 300px;
	height:150px;
	padding-bottom: .5em;
	overflow: hidden;	
	position: absolute;
	z-index:99999999999;
	position:absolute;
	}
#TwoTitle{ 
	color: #D21D2F;
	position:absolute;
	font-size: .95em;
	z-index:99999;
	width:300px;
	height:50px;
	top:3px;
	left:60px;
	position:absolute;
	}
#TwoContent {
	width:280px;
	top:25px;
	left:-82px;
	text-align:left;
	color:#000000;
	font-size: .65em;
	margin-left: 75px;
	margin-top: 0;
	padding: 0 0 0 2em;
	z-index:9999;
	position:absolute;
	}
#infoThreeInside {
	background: #FFFFFF;
	border: 2px solid #000;
	font-size: 1em;
	top:10px;
	left:10px;
	width: 300px;
	height:150px;
	padding-bottom: .5em;
	overflow: hidden;	
	position: absolute;
	z-index:99999999999;
	position:absolute;
	}
#infoThree {
	background: #FFFFFF;
	border: 2px solid #000;
	top:130px;
	left:255px;
	width: 425px;
	height:520px;
	padding-bottom: .5em;
	overflow: hidden;	
	position: absolute;
	z-index:99999999999999999999;
	position:absolute;
	}
#ThreeTitle{ 
	color: #D21D2F;
	position:absolute;
	font-size: .95em;
	z-index:99999;
	width:300px;
	height:50px;
	top:3px;
	left:60px;
	position:absolute;
	}
#ThreeContent {
	width:280px;
	top:25px;
	left:-82px;
	text-align:left;
	color:#000000;
	font-size: .65em;
	margin-left: 75px;
	margin-top: 0;
	padding: 0 0 0 2em;
	z-index:9999;
	position:absolute;
	}
#infoFourInside {
	background: #FFFFFF;
	border: 2px solid #000;
	font-size: 1em;
	top:10px;
	left:10px;
	width: 300px;
	height:150px;
	padding-bottom: .5em;
	overflow: hidden;	
	position: absolute;
	z-index:99999999999;
	position:absolute;
	}
#infoFour {
	background: #FFFFFF;
	border: 2px solid #000;
	top:115px;
	left:255px;
	width: 425px;
	height:520px;
	padding-bottom: .5em;
	overflow: hidden;
	position: relative;
	z-index:99999999999999999999;
	}
#FourTitle{ 
	color: #D21D2F;
	position:absolute;
	font-size: .95em;
	z-index:99999;
	width:300px;
	height:50px;
	top:3px;
	left:60px;
	position:absolute;
	}
#FourContent {
	width:280px;
	top:25px;
	left:-82px;
	text-align:left;
	color:#000000;
	font-size: .65em;
	margin-left: 75px;
	margin-top: 0;
	padding: 0 0 0 2em;
	z-index:9999;
	position:absolute;
	}
#ULLogo{
	width: 39px; 
	height: 39px; 
	top: 5px; 
	left: 197px;
	position:absolute; 
	Background-repeat:no-repeat;
	z-index:999;
	}
#NationalGrid{
	width: 143px; 
	height: 36px; 
	top: 5px; 
	left: 3px;
	position:absolute; 
	Background-repeat:no-repeat;
	z-index:999;
	}
#ConED{
	width: 73px; 
	height: 50px; 
	top: 5px; 
	left: 140px;
	position:absolute; 
	Background-repeat:no-repeat;
	z-index:998;
	}
#MassGov{
	width: 166px; 
	height: 46px; 
	top: 5px; 
	left: 248px;
	position:absolute; 
	Background-repeat:no-repeat;
	z-index:999;
	}
img.btn_close_ENGB {
	width:15px; 
	height:13px; 
	z-index: 999; 
	background:url(closeXsmall.gif);
	position: absolute; 
	top:2px; 
	right:2px;}
#NumberOne{
	width: 35px; 
	height: 35px; 
	top: 200px; 
	left: 400px;
	position:absolute; 
	Background-repeat:no-repeat;
	z-index:9999999999;}
#NumberTwo{
	width: 35px; 
	height: 35px; 
	top: 280px; 
	left: 190px;
	position:absolute; 
	Background-repeat:no-repeat;
	z-index:9999999999;}
#NumberThree{
	width: 35px; 
	height: 35px; 
	top: 292px; 
	left: 5px;
	position:absolute; 
	Background-repeat:no-repeat;
	z-index:999999;}
#NumberFour{
	width: 35px; 
	height: 35px; 
	top: 350px; 
	left: 290px;
	position:absolute; 
	Background-repeat:no-repeat;
	z-index:9999999;}
#ENGBBullets{
	font-family:Verdana; 
	width: 370px; 
	height: 300px;
	color:#000000;
	font-size:2.05em; 
	position:absolute; 
	line-height: 12px;
	top:110px;
	left:35px;
	z-index: 900;
	}
#ENGBParagraphPopUp{
	font-family:Verdana; 
	width: 260px; 
	height: 300px;
	color:#000000;
	font-size:.85em; 
	position:absolute; 
	line-height: 12px;
	top:5px;
	left:25px;
	z-index: 900;
	}
#gasPODTxtBTN :hover{color:#000000;}
#ENGBTxtBTN :hover{color:#000000;}
#E101PTxtBTN :hover{color:#000000;}
#E101PHCTxtBTN :hover{color:#000000;}
#E101PHCXtraTxtBTN :hover{color:#000000;}
#AccessoriesTxtBTN :hover{color:#000000;}
/*------------gasPOD Booster Page------------*/
#gasPODText{	
	font-family:Verdana;
	position:absolute;
	width:220px; 
	height:233px;
	top:255px;
	left:40px;
	line-height: 1.154em;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em; 
	color:#DBDBDB;
	z-index: 200;
	}
#gasPODLogo {
	width: 214px; 
	height: 80px; 
	top: 150px; 
	left: 40px;
	position:absolute; 
	background:url(gas_POD_logo.png);
	Background-repeat:no-repeat;
	z-index:15;
	}
#gasPODPhoto {
	width: 650px; 
	height: 433px; 
	top: 138px; 
	left: 275px;
	position:absolute; 
	background:url(IMG_3807.gif);
	Background-repeat:no-repeat;
	z-index:4;
	}
#gasPODDropRightPhoto {
	width: 240px; 
	height:433px; 
	position:absolute;
	filter:alpha(opacity=89);
	z-index:5; 
	top:138px; 
	left:680px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000',GradientType=1);
	}
#gasPODDropLeftPhoto {
	width: 253px; 
	height:433px; 
	position:absolute;
	filter:alpha(opacity=100);
	z-index:5; 
	top:138px; 
	left:19px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000',GradientType=1);
	}
#gasPODPDFButton{
	display: block;
	background:url(gasPODpdfbutton.gif);
	width: 255px;
	height: 25px;
	top: 558px;
	left: 19px;
	position: absolute;
	z-index: 1999;
	}
#gasPODPDFButton:hover{background:url(gasPODpdfbuttonhit.gif);}
/*------------E101P Booster Page------------*/
#E101PLogo {
	width: 150px; 
	height: 80px; 
	top: 130px; 
	left: 60px;
	position:absolute; 
	background:url(E101-P_Logo.png);
	Background-repeat:no-repeat;
	z-index:15;
	}
#E101PDiagramLogo {
	width: 179px; 
	height: 80px; 
	top: 345px; 
	left: 10px;
	position:absolute; 
	background:url(E101-P_Logo2.png);
	Background-repeat:no-repeat;
	z-index:15;
	}
#E101PDF{
	position:absolute;
	font-family:Verdana;
	width:200px; 
	height:33px;
	top:569px;
	left:45px;
	line-height: .95em;
	font-size:.5em; 
	word-spacing: .09em;
	letter-spacing:-.0001em;
	color:#000000;
	z-index: 2000;
	}
#E101PTxt{
	font-family:Verdana;
	position:absolute;
	width:215px; 
	height:233px;
	top:220px;
	left:45px;
	line-height: 1em;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em; 
	color:#FFFFFF;
	z-index: 200;
	}
#E101PBoosterTextRightSide{	
	text-align: left;
	position:absolute;
	width:180px; 
	height:233px;
	top:155px;
	left:687px;
	line-height: 1.3em;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em;  
	color:#000000;
	z-index: 200;
	}
#E101PIndent{
	text-align: left;
	position:absolute;
	width:180px; 
	height:233px;
	top:450px;
	left:687px;
	line-height: 1.2em;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em;  
	color:#000000;
	z-index: 200;
	}
#E101PPDFButton{
	background:url(E101Ppdfbutton.gif);
	width: 255px;
	height: 25px;
	top: 558px;
	left: 19px;
	position: absolute;
	z-index: 1999;
	}
#E101PPDFButton:hover{background:url(E101Ppdfbuttonhit.gif);}
#FlowCapacityChartE101P{
	width: 274px; 
	height: 200px; 
	top: 20px; 
	left: 90px;
	position:absolute; 
	background:url(FlowCapacityChart_E101P.gif);
	Background-repeat:no-repeat;
	z-index:15;
	}
#E101PFlowCapacityChartTxt{
	text-align: left;
	font-family:Verdana;
	position:absolute;
	width:360px; 
	height:433px;
	top:260px;
	left:65px;
	line-height: 1.1em;
	font-size:.58em; 
	word-spacing:.1em;
	letter-spacing:-.03em;
	color:#000000;
	z-index: 200;
	}
#FlowCapacityChartE101P{
	width: 274px; 
	height: 200px; 
	top: 20px; 
	left: 90px;
	position:absolute; 
	background:url(FlowCapacityChart_E101P.gif);
	Background-repeat:no-repeat;
	z-index:15;
	}
#E101PFlowCapacityChartTxt{
	text-align: left;
	font-family:Verdana;
	position:absolute;
	width:360px; 
	height:433px;
	top:260px;
	left:65px;
	line-height: 1.1em;
	font-size:.58em; 
	word-spacing:.1em;
	letter-spacing:-.03em;
	color:#000000;
	z-index: 200;
	}
img.btn_close_E101 {
	width:15px; 
	height:13px; 
	z-index: 999; 
	background:url(closeXsmall.gif);
	position: absolute; 
	top:2px; 
	right:2px;}
/*------------E101PHC Booster Page------------*/
#E101PHCLogo {
	width: 179px; 
	height: 80px; 
	top: 130px; 
	left: 45px;
	position:absolute; 
	background:url(E101-PHC_Logo.png);
	Background-repeat:no-repeat;
	z-index:15;
	}
#E101PHCDiagramLogo {
	width: 179px; 
	height: 80px; 
	top: 345px; 
	left: 10px;
	position:absolute; 
	background:url(E101-PHC_Logo2.gif);
	Background-repeat:no-repeat;
	z-index:15;
	}
#E101PHCPhoto {
	width: 650px; 
	height: 433px; 
	top: 138px; 
	left: 205px;
	position:absolute; 
	background:url(IMG_3866.gif);
	Background-repeat:no-repeat;
	z-index:4;
	}
#E101PHCTxt{
	font-family:Verdana;
	position:absolute;
	width:215px; 
	height:233px;
	top:220px;
	left:45px;
	line-height: 1.1em;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em; 
	color:#FFFFFF;
	z-index: 200;
	}
#E101PHCBoosterTextRightSide{	
	text-align: left;
	font-family:Verdana;
	position:absolute;
	width:190px; 
	height:233px;
	top:165px;
	left:687px;
	line-height: 1.3em;
	font-size:.7em; 
	word-spacing: .09em;
	letter-spacing:-.03em; 
	color:#000000;
	z-index: 200;
	}
#E101PHCIndent{
	text-align: left;
	position:absolute;
	width:180px; 
	height:233px;
	top:420px;
	left:687px;
	line-height: 1.3em;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em;  
	color:#000000;
	z-index: 200;
	}
#E101PHCPDFButton{
	display: block;
	background:url(E101PHCpdfbutton.gif);
	width: 255px;
	height: 25px;
	top: 558px;
	left: 19px;
	position: absolute;
	z-index: 1999;
	}
#E101PHCPDFButton:hover{background:url(E101PHCpdfbuttonhit.gif);}
#FlowCapacityChartE101PHC{
	width: 418px; 
	height: 200px; 
	top: 30px; 
	left: 22px;
	position:absolute; 
	background:url(FlowCapacityChart_E101PHC.gif);
	Background-repeat:no-repeat;
	z-index:15;
	}
#E101PHCFlowCapacityChartTxt{
	text-align: left;
	font-family:Verdana;
	position:absolute;
	width:360px; 
	height:433px;
	top:250px;
	left:65px;
	line-height: 1.1em;
	font-size:.58em; 
	word-spacing:.1em;
	letter-spacing:-.03em;
	color:#000000;
	z-index: 200;
	}

/*------------E101PHCXtra Booster Page------------*/
#E101PHCXtraLogo {
	width: 179px; 
	height: 80px; 
	top: 120px; 
	left: 45px;
	position:absolute; 
	background:url(E101-PHC-Xtra_Logo.png);
	Background-repeat:no-repeat;
	z-index:15;
	}
#E101PHCXtraDiagramLogo {
	width: 179px; 
	height: 80px; 
	top: 345px; 
	left: 10px;
	position:absolute; 
	background:url(E101-PHC-Xtra_Logo2.png);
	Background-repeat:no-repeat;
	z-index:15;
	}
#E101PHCXtraPhoto {
	width: 650px; 
	height: 433px; 
	top: 138px; 
	left: 125px;
	position:absolute; 
	background:url(Picture_123.gif);
	Background-repeat:no-repeat;
	z-index:4;
	}
#E101PHCXtraTxt{
	font-family:Verdana;
	position:absolute;
	width:220px; 
	height:233px;
	top:210px;
	left:40px;
	line-height: 1em;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em; 
	color:#FFFFFF;
	z-index: 200;
	}
#E101PHCXtraBoosterTextRightSide{	
	text-align: left;
	position:absolute;
	width:190px; 
	height:233px;
	top:145px;
	left:687px;
	line-height: 1.3em;
	font-size:.7em; 
	word-spacing: .09em;
	letter-spacing:-.03em; 
	color:#000000;
	z-index: 200;
	}
#E101PHCXtraIndent{
	text-align: left;
	position:absolute;
	width:180px; 
	height:233px;
	top:367px;
	left:687px;
	line-height: 1.3em;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em;  
	color:#000000;
	z-index: 200;
	}
#E101PHCXtraPDFButton{
	display: block;
	background:url(E101PHCXtrapdfbutton.gif);
	width: 255px;
	height: 25px;
	top: 558px;
	left: 19px;
	position: absolute;
	z-index: 1999;
	}
#E101PHCXtraPDFButton:hover{background:url(E101PHCXtrapdfbuttonhit.gif);}
#FlowCapacityChartE101PHCXtra{
	width: 418px; 
	height: 200px; 
	top: 20px; 
	left: 22px;
	position:absolute; 
	background:url(FlowCapacityChart_E101PHCXtra.gif);
	Background-repeat:no-repeat;
	z-index:15;
	}
#E101PHCXtraFlowCapacityChartTxt{
	text-align: left;
	font-family:Verdana;
	position:absolute;
	width:345px; 
	height:233px;
	top:245px;
	left:80px;
	line-height: 1.1em;
	font-size:.6em; 
	word-spacing:.1em;
	letter-spacing:-.03em; 
	color:#000000;
	z-index: 200;
	}
#E101PHCXtraDropRightPhoto {
	width: 130px; 
	height:433px; 
	position:absolute;
	filter:alpha(opacity=100);
	z-index:5; 
	top:138px; 
	left:774px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000',GradientType=1);
	}
#E101PHCXtraDropLeftPhoto {
	width: 106px; 
	height:433px; 
	position:absolute;
	filter:alpha(opacity=100);
	z-index:5; 
	top:138px; 
	left:19px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000',GradientType=1);
	}
/*------------BoosterAccessories Page------------*/
#BoosterAccessoriesTxt{
	font-family:Verdana;
	position:absolute;
	width:245px; 
	height:233px;
	top:195px;
	left:40px;
	line-height: 1.1em;
	font-size:.7em; 
	word-spacing:.05em;
	letter-spacing:-.015em; 
	color:#DBDBDB;
	z-index: 200;
	}
#AccessoriesList{font-family:Verdana;
	position:absolute;
	width:244px; 
	height:233px;
	top:340px;
	left:40px;
	line-height: .95em;
	font-size:.7em; 
	word-spacing:.05em;
	letter-spacing:-.015em; 
	z-index: 200;
	}
#DuplexBTN{
	width:120px;
	height:20px;
	top:20px;
	left:10px;
	color:#808080;
	font-family:Verdana;
	position:absolute;
	font-size:.95em;
	word-spacing:.05em;
	letter-spacing:-.015em;
	z-index:13; 
	}
#DuplexBTN:hover{color:#DBDBDB}
#DuplexPhoto{
	width: 391px; 
	height: 433px; 
	top: 140px; 
	left: 279px; 
	background: url(Duplex_Mode_R.gif);
	position:absolute; 
	z-index:6;
	}
#DuplexTxt{
	width:160px;
	height:20px;
	top:195px;
	left:695px;
	color:#000000;
	font-family:Verdana;
	position:relative;
	line-height: 1.154em;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em; 
	z-index:13;
	}
#TouchScreenBTN{
	width:200px;
	height:20px;
	top:10px;
	left:10px;
	color:#808080;
	font-family:Verdana;
	position:relative;
	font-size:.95em;
	word-spacing:.05em;
	letter-spacing:-.015em;
	z-index:13;
	}
#TouchScreenBTN:hover{color:#DBDBDB;}
#TouchScreenPhoto{
	width: 391px; 
	height: 433px;
	top:140px;
	left:279px;
	background: url(IMG_3813_MONEY_SHOT.gif);
	position:absolute; 
	z-index:13;
	}
#TouchScreenTxt{
	width:160px;
	height:20px;
	top:195px;
	left:695px;
	color:#000000;
	font-family:Verdana;
	position:relative;
	line-height: 1.154em;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em; 
	z-index:13;
	}
#StackedBTN{
	width:200px;
	height:10px;
	top:13px;
	left:10px;
	color:#808080;
	font-family:Verdana;
	position:relative;
	font-size:.95em;
	word-spacing:.05em;
	letter-spacing:-.015em;
	z-index:13;
	}
#StackedBTN:hover{color:#DBDBDB;}
#StackedPhoto{
	width: 391px; 
	height: 433px; 
	top: 140px; 
	left: 279px; 
	background: url(IMG_9375.gif);
	position:absolute; 
	z-index:5;
	}
#StackedTxt{
	width:160px;
	height:120px;
	top:195px;
	left:695px;
	color:#000000;
	font-family:Verdana;
	position:relative;
	line-height: 1.154em;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em; 
	z-index:13;
	}
#VentlessBTN{
	width:200px;
	height:20px;
	top:16px;
	left:10px;
	color:#808080;
	font-family:Verdana;
	position:relative;
	font-size:.95em;
	word-spacing:.05em;
	letter-spacing:-.015em;
	z-index:13;
	}
#VentlessBTN:hover{color:#DBDBDB;}
#VentlessPhoto{
	display:block;
	width: 391px; 
	height: 433px; 
	top: 140px; 
	left: 279px; 
	background: url(Picture_906.gif);
	position:absolute; 
	z-index:5;
	}
#VentlessTxt{
	width:160px;
	height:20px;
	top:195px;
	left:695px;
	color:#000000;
	font-family:Verdana;
	position:relative;
	line-height: 1.154em;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em; 
	z-index:13;
	}
#TransBTN{
	width:180px;
	height:20px;
	top:21px;
	left:10px;
	color:#808080;
	font-family:Verdana;
	position:relative;
	font-size:.95em;
	word-spacing:.05em;
	letter-spacing:-.015em;
	z-index:13;
	}
#TransBTN:hover{color:#DBDBDB;}
#TransclosurePhoto{
	width: 391px; 
	height: 433px; 
	top: 140px; 
	left: 279px; 
	background: url(IMG_4174.gif);
	position:absolute; 
	z-index:205;
	}
#TransclosureTxt{
	width:160px;
	height:20px;
	top:195px;
	left:695px;
	color:#000000;
	font-family:Verdana;
	position:relative;
	line-height: 1.154em;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em; 
	z-index:13;
	}
#DuplexTransBTN{
	width:220px;
	height:20px;
	top:25px;
	left:10px;
	color:#808080;
	font-family:Verdana;
	position:relative;
	font-size:.95em;
	word-spacing:.05em;
	letter-spacing:-.015em;
	z-index:13;
	}
#DuplexTransBTN:hover{color:#DBDBDB;}
#DuplexTransclosurePhoto{
	width:391px;
	height:433px;
	top:140px;
	left:279px;
	background: url(IMG_3858.gif);
	position:absolute; 
	z-index:205;
	}
#DuplexTransclosureTxt{
	width:160px;
	height:120px;
	top:195px;
	left:695px;
	color:#000000;
	font-family:Verdana;
	position:relative;
	line-height: 1.154em;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em; 
	z-index:13;
	}
/*------------Ovens and Furnaces Page------------*/
#OvensandFurnacesTxt {
	font-family:Verdana; 
	width: 150px; 
	height: 300px;
	color:#DBDBDB;
	font-size:.7em; 
	word-spacing:.1em;
	position:absolute; 
	letter-spacing:-.03em; 
	top:165px;
	left:60px;
	z-index: 13;
	}
#OvensandFurnacesList{
	font-family:Verdana; 
	width: 160px; 
	height: 300px;
	position:absolute; 
	line-height: 1.3em;
	font-size:.7em; 
	word-spacing: .09em;
	letter-spacing:-.03em;
	top: 165px; 
	left:683px; 
	z-index: 13;
	}
#OvensandFurnacesPhoto {
	width: 753px; 
	height: 433px; 
	top: 138px; 
	left: 19px;
	position:absolute; 
	background:url(furnance_new_crop.gif);
	Background-repeat:no-repeat;
	z-index:4;
	}
#OvensandFurnacesDropRightPhoto {
	width: 230px; 
	height:433px; 
	position:absolute;
	filter:alpha(opacity=100);
	z-index:5; 
	top:138px; 
	left:674px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='transparent', endColorstr='#000000');
	}
#PackagedBurnerPhoto {
	width: 753px; 
	height: 433px; 
	top: 138px; 
	left: 273px;
	position:absolute; 
	background:url(Packaged-Burner-Page-Photo.gif);
	Background-repeat:no-repeat;
	z-index:4;
	}
#PackagedBurnerPhoto {
	width: 753px; 
	height: 433px; 
	top: 138px; 
	left: 273px;
	position:absolute; 
	background:url(Packaged-Burner-Page-Photo.gif);
	Background-repeat:no-repeat;
	z-index:4;
	}
#PackagedBurnerPDFButton{
	display: block;
	background:url(PackageBurnerpdfbutton.gif);
	width: 255px;
	height: 25px;
	top: 558px;
	left: 19px;
	position: absolute;
	z-index: 1999;
	}
/*------------Valve Train Page------------*/
#ValveTrainText {	
	font-family:Verdana;
	position:absolute;
	width:150px; 
	height:233px;
	top:165px;
	left:60px;
	line-height: 1.154em;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em; 
	color:#DBDBDB;
	z-index: 200;
	}
#ValveTrainPhoto {
	width: 650px; 
	height: 433px; 
	top: 138px; 
	left: 110px;
	position:absolute; 
	background:url(Picture_957.gif);
	Background-repeat:no-repeat;
	z-index:4;
	}
#ValveTrainTextRightSide{
	position:absolute;
	width:190px; 
	height:233px;
	top:165px;
	left:700px;
	line-height: 1.3em;
	font-size:.7em; 
	word-spacing: .09em;
	letter-spacing:-.03em; 
	z-index: 200;
	}
#ValveTrainDropRightPhoto {
	width: 130px; 
	height:433px; 
	position:absolute;
	filter:alpha(opacity=100);
	z-index:5; 
	top:138px; 
	left:760px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000',GradientType=1);
	}
#ValveTrainDropLeftPhoto {
	width: 106px; 
	height:433px; 
	position:absolute;
	filter:alpha(opacity=100);
	z-index:5; 
	top:138px; 
	left:19px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000',GradientType=1);
	}
#ValveTrainPDFButton{
	display: block;
	background:url(ValveTrainpdfbutton.gif);
	width: 255px;
	height: 25px;
	top: 558px;
	left: 19px;
	position: absolute;
	z-index: 1999;
	}
#ValveTrainPDFButton:hover{background:url(ValveTrainpdfbuttonhit.gif);}
/*------------Packaged Heaters Page------------*/
#PackagedHeaters {
	font-family:Verdana; 
	width: 160px; 
	height: 300px;
	color:#DBDBDB;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em;
	position:absolute;
	top: 210px; 
	left:60px; 
	z-index: 13;
	}
#PackagedSystemList {
	font-family:Verdana; 
	width: 200px; 
	height: 430px;
	color:#000000;
	font-size:.69em; 
	position:absolute; 
	line-height: 12px;
	word-spacing:.4px;
	top: 143px; 
	left:675px; 
	z-index: 13;
	}
#PackagedHeaterPDFButton{
	display: block;
	background:url(PackageHeaterpdfbutton.gif);
	width: 255px;
	height: 25px;
	top: 558px;
	left: 19px;
	position: absolute;
	z-index: 1999;
	}
#PackagedHeaterPDFButton:hover{background:url(PackageHeaterpdfbuttonhit.gif);}
#WhiteBkgrd {
	width: 567px; 
	height: 457px; 
	top:125px; 
	left:19px; 
	position:absolute; 
	background:url(Packaged_Heat_whiteblk.gif); 
	Background-repeat:no-repeat; 
	z-index:4;
	}
#DropRightWhiteBkgrd {
	width: 10px;
	height:457px; 
	position:absolute;
	filter:alpha(opacity=60);
	z-index:8; 
	top:125px; 
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#808080', endColorstr='#00000000',GradientType=1);
	}
#DropBottomSolidWhiteBkgrd {
	width: 861px;
	height:13px; 
	position:absolute; 
	filter:alpha(opacity=100);
	z-index:10; 
	top:570px; 
	left:19px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000');
	}
#SolidWhiteBkgrd {
	width: 228px;
	height:465px;
	position:absolute; 
	z-index:1; 
	top:120px; 
	left:652px; 
	background-color:#FFFFFF;
	}
#DropRightSolidWhiteBkgrd {
	width: 10px;
	height:635px; 
	position:absolute;
	filter:alpha(opacity=100);
	z-index:2; 
	top:125px; 
	left:880px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#151515', endColorstr='#00000000',GradientType=1);
	}
#PackageSolidWhiteBkgrd{
	width: 207px;
	height:457px;
	position:absolute; 
	z-index:6; 
	top:125px; 
	left:674px; 
	background-color:#FFFFFF;
	filter:alpha(opacity=90);
	}
#PackagedHeaterPhoto {
	height: 433px; 
	width: 650px; 
	top: 138px; 
	left: 110px;
	position:absolute; 
	background:url(Picture_350_2.gif);
	Background-repeat:no-repeat;
	z-index:4;
	}
#TransBLK {
	width: 190px;
	height:457px;
	position:absolute;
	z-index:3; 
	top:125px; 
	left:0px; 
	background-color:#000000;
	z-index:12;
	}
#DropRightBlkTrans {
	width: 10px; 
	height:457px; 
	position:absolute;
	filter:alpha(opacity=100);
	z-index:12; 
	top:125px; 
	left:275px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#151515', endColorstr='#00000000', GradientType=1);
	}
#PlugAndPlayLogo {
	width:110px;
	height:34px; 
	top: 585px; 
	left:45px; 
	position:absolute; 
	z-index:200;}
img.btn_close_plugandplay{
	width:15px; 
	height:13px; 
	z-index: 99999; 
	background:url(closeXsmall.gif);
	position: absolute; 
	top:2px; 
	right:2px;}
#PlugandPlayTxtpopup{
	text-align:left ;
	position:absolute;
	font-family:Verdana;
	width:200px; 
	height:233px;
	top:8px;
	left:6px;
	text-align:center;
	line-height: 1.05em;
	font-size: .7em; 
	word-spacing: .09em;
	letter-spacing:-.0001em;
	color:#494A4A;
	z-index: 2000;
	}
#infoPartsBlock {
	background: #FFFFFF;
	border: .5px solid #000;
	top: 500px;
	left:130px;
	width: 215px;
	height:100px;
	font-size: .95em;
	padding-bottom: .5em;	
	position: absolute;
	z-index: 99998888;
	-webkit-box-shadow: 0px 0px 10px #000;
	-moz-box-shadow: 0px 0px 10px #000;
	box-shadow: 0px 0px 10px #000;
	}
img.btn_close_approvals {
	width:15px; 
	height:13px; 
	z-index: 99999; 
	background:url(closeXsmall.gif);
	position: absolute; 
	top:2px; 
	right:2px;}
#PackagedHeatButton {
	z-index: 9999; 
	position:absolute; 
	top:567px; 
	left:674px; ; 
	text-decoration: none;
	font-family:Verdana; 
	}
#PhotoOne {
	background:url(Air_Heat.gif); 
	background-repeat: no-repeat; 
	Width: 190px; 
	height: 125px; 
	top:10px; left:10px; 
	position: absolute; 
	z-index: 99999;
	}
#PhotoTwo {
	background:url(Low_NOx_Pkg.gif); 
	background-repeat: no-repeat;
	Width: 190px; 
	height: 145px; 
	top:142px; 
	left:10px; 
	position: absolute; 
	z-index: 99999;
	}
#PhotoThree {
	background:url(Electric_Heat.gif);
	background-repeat: no-repeat; 
	Width: 190px; 
	height: 274px; 
	top:280px; 
	left:10px; 
	position: absolute; 
	z-index: 99999;
	}
#Text {
	width:230px; 
	font-size:7.5pt; 
	font-family:Verdana; 
	top:10px; 
	left: 210px; 
	position: absolute;
	z-index: 99999;}
#PackagedHeaterRightDropPhoto {
	width: 130px; 
	height:433px; 
	position:absolute;
	filter:alpha(opacity=100);
	z-index:5; 
	top:138px; 
	left:754px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000',GradientType=1);
	}
#PackagedHeaterLeftDropPhoto {
	width: 106px; 
	height:433px; 
	position:absolute;
	filter:alpha(opacity=100);
	z-index:5; 
	top:138px; 
	left:19px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000',GradientType=1);
	}
/*------------Control Panel Page------------*/
#ControlPanel {
	font-family:Verdana; 
	width: 220px; 
	height: 300px;
	color:#DBDBDB;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em; 
	position:absolute; 
	top: 210px; 
	left:30px; 
	z-index: 13;
	}
#ControlPanelList {
	font-family:Verdana; 
	width: 200px; 
	height: 300px;
	color:#000000;
	font-size:.69em; 
	position:absolute; 
	line-height: 16px;
	word-spacing:.4px;
	top: 150px; 
	left:683px; 
	z-index: 13;
	}
#ControlPanelPhoto {
	height: 433px; 
	width: 660px; 
	top: 138px; 
	left: 275px; 
	position:absolute; 
	background:url(Picture-405.png);
	Background-repeat:no-repeat;
	z-index:4;
	}
#ControlPanelULLogo{
	height: 50px; 
	width: 50px; 
	top: 510px; 
	left: 65px; 
	position:absolute; 
	background:url(UL-logo.gif);
	Background-repeat:no-repeat;
	z-index:15;
}
#ULText{
	font-family:Verdana; 
	width: 150px; 
	height: 300px;
	color:#FFFFFF;
	font-size:.67em; 
	position:absolute; 
	line-height: 12px;
	text-align:center;
	word-spacing:.4px;
	top: 490px; 
	left:15px; 
	z-index: 13;
}
/*------------Web Drying Page------------*/
#WebDryingText {
	font-family:Verdana; 
	width: 160px; 
	height: 300px;
	color:#DBDBDB; 
	position:absolute; 
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em;
	top: 165px; 
	left:65px; 
	z-index: 13;
	}
#WebDryingList{
	font-family:Verdana; 
	width: 195px; 
	height: 300px;
	position:absolute; 
	top: 165px; 
	left:690px; 
	z-index: 13;
	}
#WebDryPhoto{
	height: 433px; 
	width: 433px; 
	top: 138px; 
	left: 270px; 
	position:absolute; 
	background:url(webdryingsqcrop.gif);
	Background-repeat:no-repeat;
	z-index:4;
	}
/*------------Web Worx Page------------*/
#WebWorxTagline_1 {
	font-family:Georgia; 
	width: 350px; 
	height: 300px;
	color:#E54022;
	font-size:.79em; 
	position:absolute; 
	line-height: 14px;
	top: 140px; 
	left:25px; 
	z-index: 13;
	}
#WebWorxTagline_2 {
	font-family:Georgia; 
	width: 350px; 
	height: 300px;
	color:#444F89;
	font-size:.79em; 
	position:absolute; 
	line-height: 14px;
	top: 158px; 
	left:60px; 
	z-index: 13;
	}
#WebWorxTagline_3 {
	font-family:Georgia; 
	width: 250px; 
	height: 300px;
	color:#000000;
	font-size:.65em; 
	position:absolute; 
	line-height: 12px;
	top: 300px; 
	left:25px; 
	z-index: 13;}
#WebWorxTxt {
	font-family:Georgia; 
	width: 225px; 
	height: 300px;
	color:#FFFFFF;
	font-size:.70em; 
	position:absolute; 
	line-height: 13px;
	top: 335px; 
	left:40px; 
	z-index: 13;
	}
#WebWorxLogo {
	width:300px; 
	height:187px; 
	top: 175px; 
	left:25px; 
	position:absolute; 
	background:url(webworxlogo.png); 
	background-repeat: no-repeat;
	z-index:12;
	}
/*------------Boiler Worx Page------------*/
#BoilerWorxLogo {
	width:300px; 
	height:186px; 
	top: 145px; 
	left:25px; 
	position:absolute; 
	background:url(BoilerWorxLogo.png); 
	background-repeat: no-repeat;
	z-index:12;
	}
#BoilerWorxTxt {
	font-family:Georgia; 
	width: 225px; 
	height: 300px;
	color:#FFFFFF;
	font-size:.7em; 
	position:absolute; 
	line-height: 14px;
	top: 280px; 
	left:40px; 
	z-index: 13;
	}
#BoilerWorxSeries {
	font-family:Georgia; 
	width: 400px; 
	height: 400px;
	color:#000000;
	font-size:.75em; 
	position:absolute; 
	line-height: 14px;
	top: 180px; 
	left:470px; 
	z-index: 13;
	}
/*------------Jobs Page------------*/
#JobsTxt {
	font-family:Verdana;
	color:#FFFFFF;
	width:200px;
	font-size:.75em; 
	position:absolute;
	top:200px; 
	left:35px; 
	z-index:244;
	}
#JobsPhoto {
	width: 650px; 
	height: 433px; 
	top: 138px; 
	left: 230px; 
	background:url(jobs_photo.gif); 
	position:absolute; z-index: 11;
	}
#JobsDropLeftPhoto {
	width: 300px; 
	height:433px; 
	position:absolute;
	filter:alpha(opacity=100);
	z-index:5; 
	top:138px; 
	left:19px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='transparent');
	}
/*------------Contact Us Page------------*/
#AddressETC {
	font-family:Verdana;
	color:#000000;
	font-size:.9em; 
	position:absolute;
	line-height:15px;
	top:140px; 
	left:35px; 
	z-index:243;
	}
#PhoneNumber{
	font-family:Verdana; 
	color:#000000;
	font-size:.77em; 
	position:absolute; 
	line-height:12px;
	top:175px; 
	left:35px; 
	z-index:243;
	}
#Subject {
	font-family:Verdana;
	color:#000000;
	font-size:.8em;
	letter-spacing: -.4px; 
	position:absolute; 
	top: 240px; 
	left:35px;
	z-index: 211;
	}
#Name {
	font-family:Verdana;
	color:#000000; 
	font-size:.8em;
	letter-spacing: -.4px;
	position:absolute; 
	top: 288px; 
	left:35px;
	z-index: 210;
	}
#Company {
	font-family:Verdana; 
	color:#000000;
	position:absolute; 
	font-size:.8em;
	letter-spacing: -.4px;
	top: 334px; 
	left:35px; 
	z-index: 225;
	}
#Email {
	font-family:Verdana;
	color:#000000;
	position:absolute;  
	font-size:.8em;
	letter-spacing: -.4px;
	top: 381px; 
	left:35px; 
	z-index: 213;
	}
#Message {
	font-family:Verdana; 
	color:#000000;
	position:absolute; 
	font-size:.8em;
	letter-spacing: -.4px;
	top: 430px; 
	left:35px; 
	z-index:214;
	}
#ContactForm{
	width:250px; 
	height:430px;
	top:200px; 
	left:30px;
	position:absolute; 
	z-index:20;}
#BackMap {
	position:absolute; 
	top:598px; 
	font-size:9pt;
	text-decoration: none;
	left:780px;
	font-family:Verdana; 
	color:#D21D1F;
	z-index:14;
	}
#DirectButtonTxt {
	position:absolute; 
	top:598px; 
	font-size:9pt;
	text-decoration: none;
	left:700px;
	font-family:Verdana; 
	color:#D21D1F;
	white-space:pre;
	z-index:14;
	}
#EmployeeDirectory {
	margin-right:5px;
	font-family:Verdana; 
	line-height:9px;
	color:#000000; 
	text-align:right; 
	width:250px; 
	height:430px;
	font-size:9pt; 
	position:absolute;
	line-height: .7em; 
	white-space:pre;
	top: 135px; 
	left:615px; 
	z-index: 25; 
	overflow:scroll;
	}
#googlemap {
	top: 140px;
	left:420px;
	position:absolute;
	z-index: 227;
	}
#SendButton {
	top: 345px;
	left:39px;
	position:absolute;
	z-index: 228;
	}
#SendButton1 {
	top: 383px;
	left:39px;
	position:absolute;
	z-index: 228;
	}
#PhoneNumbers {
	font-family:Verdana; 
	line-height:11.7px;
	color:#000000;
	font-size:.795em; 
	position:absolute; 
	white-space:pre;
	}
/*------------Safety Audits Page------------*/
#SafetyAuditPhoto {
	width: 650px; 
	height: 433px; 
	top: 138px; 
	left: 230px;  
	background:url(Safety_Audits.gif); 
	position:absolute; 
	z-index: 11;
	}
#SafetyAudits {
	font-family:Verdana; 
	width: 210px; 
	height: 300px;
	color:#FFFFFF;
	font-size:.7em; 
	position:absolute; 
	line-height: 14px;
	top: 157px; 
	left:50px; 
	z-index: 13;
	}
#SafetyAuditsLabel {
	width:488px; 
	height:488px; 
	top: 445px; 
	left:750px; 
	position:absolute; 
	background:url(SafetyAuditPhoto.gif); 
	background-repeat: no-repeat;
	z-index:12;
	}
#NFPALogo {
	width:55px; 
	height:63px; 
	top: 582px; 
	left:50px; 
	position:absolute; 
	background:url(nfpa_logo.gif); 
	background-repeat: no-repeat;
	z-index:150;
	}
#SafetyAuditTransBLK {	
	width: 301px;
	height:457px;
	position:absolute;
	z-index:3; 
	top:125px; 
	left:19px; 
	background-color:#000000;
	z-index:12;
	}
#SafetyAuditDropRightBlkTrans {
	width: 10px;
	height:457px; 
	position:absolute;
	filter:alpha(opacity=100);
	z-index:12; 
	top:125px; 
	left:320.5px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000', GradientType=1);
	}
#SafetyAuditWhiteBkgrd {
	width: 861px; 
	height: 458px; 
	top:125px; 
	left:19px; 
	position:absolute; 
	background:url(full_whiteblk.gif); 
	Background-repeat:no-repeat; 
	z-index:4;
	}
/*------------Spectrum Page------------*/
#Spectrum {
	width:303px; 
	height:45px; 
	position:absolute; 
	background:url(SPECTRUMlogo.gif);
	background-repeat:no-repeat;
	top: 157px; 
	left:45px; 
	z-index: 15;
	}
#SpectrumProviding {
	top: 135px; 
	left:45px;
	font-family:Georgia;
	position:absolute; 
	background-repeat: no-repeat;
	font-size:.9em; 
	color:#000000;
	z-index:12;
	}
#SpectrumExpertise {
	top: 200px; 
	left:165px;
	font-family:Georgia;
	position:absolute; 
	background-repeat: no-repeat;
	font-size:.9em; 
	color:#000000;
	z-index:12;
	}
#SpectrumLogo {
	width:350px; 
	height:387px; 
	top: 300px; 
	left:65px; 
	position:absolute; 
	background:url(SPECTRUM.gif); 
	background-repeat: no-repeat;
	z-index:7;
	}
#SpectrumText {
	font-family:Georgia; 
	width: 300px; 
	height: 300px;
	color:#000000;
	font-size:.75em; 
	position:absolute; 
	line-height: 14px;
	top: 235px; 
	left:45px; 
	z-index: 13;
	} 
#EnergyEfficiency {
	font-family:Georgia; 
	width: 450px; 
	height: 400px;
	font-size:.75em; 
	position:absolute; 
	color:#424242; 
	line-height: 13px;
	top: 150px; 
	left:430px; 
	z-index: 14;
	overflow:scroll;
	}
#Header {
	font-family:Georgia;
	font-weight:bold;
	font-size:1em; 
	position:absolute; 
	top: 10px; 
	left:145px; 
	z-index: 15;
	}
#Previous {
	font-family:Georgia;
	font-weight:bold;
	font-size:.7em; 
	position:absolute; 
	top: 610px; 
	left: 775px; 
	z-index: 25;
	text-decoration: 
	none;
	}
#Next {
	font-family:Georgia;
	font-weight:bold;
	font-size:.7em; 
	position:absolute; 
	top: 610px; 
	left: 845px; 
	z-index: 26;
	text-decoration: none;
	}
#SpectrumSolidWhiteBkgrd{
	width: 845px;
	height:457px;
	position:absolute; 
	z-index:6; 
	top:125px; 
	left:20px; 
	background-color:#FFFFFF;
	filter:alpha(opacity=70);
	}
SpectrumTransBLK {	
	width: 340px;
	height:457px;
	position:absolute;
	z-index:3; 
	top:125px; 
	left:19px; 
	background-color:#000000;
	z-index:12;
	}
/*------------Inside the Job Page------------*/
#InsidetheJobWhite{	
	width: 300px;
	height:457px;
	position:absolute;
	z-index:3; 
	top:125px; 
	left:19px; 
	background-color:#FFFFFF;
	z-index:6;
	}
#InsidetheJobWhiteRight{	
	width: 410px;
	height:457px;
	position:absolute;
	z-index:3; 
	top:125px; 
	left:460px; 
	background-color:#FFFFFF;
	z-index:6;
	}
#InsideTheJobLeftTxt{
	font-family:Verdana; 
	width:1447px; 
	height: 449px;
	font-size:.75em; 
	position:absolute; 
	color:#424242; 
	font-size:.7em; 
	word-spacing:.1em;
	line-height: 13px;
	letter-spacing:-.03em; 
	top: 150px; 
	left:50px; 
	z-index: 8;
	}
#InsidetheJob {
	font-family:Verdana; 
	width: 450px; 
	height: 470px;
	font-size:.75em; 
	position:absolute; 
	color:#424242; 
	font-size:.7em; 
	word-spacing:.1em;
	line-height: 13px;
	letter-spacing:-.03em; 
	top: 130px; 
	left:430px; 
	z-index: 6;
	overflow:scroll;
	}
#FrankIRoundsInsideLogo {
	width:147px; 
	height:60px; 
	top: 175px; 
	left:35px; 
	position:absolute; 
	background:url(Frank-I-Rounds_Inside-Job.gif); 
	background-repeat: no-repeat;
	z-index:18;
	}
#FrankIRoundsInsidePhoto{
	width:350px; 
	height:225px; 
	top: 615px; 
	left:42px; 
	position:absolute; 
	background:url(Verizon-Photo.gif); 
	background-repeat: no-repeat;
	z-index:21;
	}
#InsideFrankIRoundsPhoto {
	width:400px; 
	height:387px; 
	top: 0px; 
	left:35px; 
	position:absolute; 
	background:url(InsideJobVerizon.gif); 
	background-repeat: no-repeat;
	z-index:17;
	}
#InsideIHOPPhoto {
	width:400px; 
	height:387px; 
	top: 0px; 
	left:35px; 
	position:absolute; 
	background:url(InsideJobPA.gif); 
	background-repeat: no-repeat;
	z-index:17;
	}
#PodojilLogo {
	width:171px; 
	height:38px; 
	top: 170px; 
	left:35px; 
	position:absolute; 
	background:url(PodojilLogo.gif); 
	background-repeat: no-repeat;
	z-index:18;
	}
#Philadelphia {
	font-family:Georgia;
	font-size: 1.3em; 
	position:absolute; 
	color:#424242; 
	line-height: 13px;
	letter-spacing: -1px;
	top:190px; 
	left:215px; 
	z-index: 20;
	}
#PABoosterPhoto {
	width:400px; 
	height:387px; 
	top: 555px; 
	left:42px; 
	position:absolute; 
	background:url(PABooster.gif); 
	background-repeat: no-repeat;
	z-index:21;
	}
#InsidetheJobBoston {
	font-family:Verdana; 
	width: 440px; 
	height: 470px;
	font-size:.75em; 
	position:absolute; 
	color:#424242; 
	font-size:.7em; 
	word-spacing:.1em;
	line-height: 13px;
	letter-spacing:-.03em; 
	top: 130px; 
	left:440px; 
	z-index: 6;
	overflow:scroll;
	}
#Boston {
	font-family:Georgia;
	font-size: 1.3em; 
	position:absolute; 
	color:#424242; 
	line-height: 13px;
	letter-spacing: -1px;
	top:177px; 
	left:125px; 
	z-index: 20;
	}
#InsideFishPierPhoto {
	width:400px; 
	height:387px; 
	top: 0px; 
	left:25px; 
	position:absolute; 
	background:url(InsideJobMA.gif); 
	background-repeat: no-repeat;
	z-index:22;
	}
#PJKennedyLogo {
	width:94px; 
	height:102px; 
	top: 177px; 
	left:25px; 
	position:absolute; 
	background:url(PJKennedyLogo.gif); 
	background-repeat: no-repeat;
	z-index:18;
	}
#BostonTransPhoto {
	width:350px; 
	height:316px; 
	top: 400px; 
	left:42px; 
	position:absolute; 
	background:url(InsideBoston.gif); 
	background-repeat: no-repeat;
	z-index:21;
	}
#PhotoCaptionBostonOne {
	text-align:center;
	font-family:Verdana; 
	width: 300px; 
	height: 44px;
	font-size:.75em; 
	position:absolute; 
	color:#424242; 
	font-size:.7em; 
	word-spacing:.1em;
	line-height: 11px;
	letter-spacing:-.03em; 
	top: 675px; 
	left:40px; 
	z-index: 6;
	}
#BostonTransPhoto2 {
	width:350px; 
	height:225px; 
	top: 905px; 
	left:42px; 
	position:absolute; 
	background:url(Boston_Fish_Pier_Photo_2.gif); 
	background-repeat: no-repeat;
	z-index:21;
	}
#PhotoCaptionBostonTwo {
	text-align:center;
	font-family:Verdana; 
	width: 300px; 
	height: 44px;
	font-size:.75em; 
	position:absolute; 
	color:#424242; 
	font-size:.7em; 
	word-spacing:.1em;
	line-height: 11px;
	letter-spacing:-.03em; 
	top: 1095px; 
	left:40px; 
	z-index: 6;
	}
#TextIndent {
	font-family:Verdana; 
	width: 280px; 
	height: 540px;
	font-size:1em; 
	position:absolute; 
	color:#424242; 
	line-height: 13px;
	top: 190px; 
	left:125px; 
	z-index: 2014;
	}
#InsideForensicPhoto {
	width:400px; 
	height:387px; 
	top: 0px; 
	left:35px; 
	position:absolute; 
	background:url(InsideJobCT.gif); 
	background-repeat: no-repeat;
	z-index:22;
	}
#NutmegLogo {
	width:171px; 
	height:56px; 
	top: 175px; 
	left:45px; 
	position:absolute; 
	background:url(NutmegLogo.gif); 
	background-repeat: no-repeat;
	z-index:18;
	}
#Meriden {
	font-family:Verdana;
	font-size: 1.3em; 
	position:absolute; 
	color:#424242; 
	line-height: 13px;
	letter-spacing: -1px;
	top:195px; 
	left:215px; 
	z-index: 20;
	}
#MeridenPhotoOne {
	width:350px; 
	height:225px; 
	top: 500px; 
	left:62px; 
	position:absolute; 
	background:url(MeridenPhoto.gif); 
	background-repeat: no-repeat;
	z-index:21;
	}
#MeridenPhotoTwo {
	width:350px; 
	height:220px; 
	top: 1060px; 
	left:62px; 
	position:absolute; 
	background:url(MeridenPhoto2.gif); 
	background-repeat: no-repeat;
	z-index:21;
	}
#InsideJobNextBTN {
	font-family:Verdana;
	font-size: .85em; 
	position:absolute; 
	color:#506580; 
	font-size:.7em; 
	word-spacing:.1em;
	line-height: 13px;
	letter-spacing:-.03em; 
	font-weight:bold;
	top:600px; 
	left:825px; 
	z-index: 20; 	
	text-decoration:none;
	}
/*------------History Page------------*/
#HistoryTxt {
	font-family:Georgia;
	font-size: 1.3em; 
	position:absolute; 
	color:#424242; 
	line-height: 13px;
	letter-spacing: -1px;
	top:165px; 
	left:215px; 
	z-index: 20;
	}
/*------------Tech Tips Page------------*/
#TechTipsLeftTxt{
	font-family:Verdana; 
	width:300px; 
	height: 470px;
	font-size:.75em; 
	position:absolute; 
	color:#424242; 
	font-size:.7em; 
	word-spacing:.1em;
	line-height: 13px;
	letter-spacing:-.03em; 
	top: 150px; 
	left:25px; 
	z-index: 8;
	}
#InsideTheJob {
	font-family:Verdana; 
	width: 450px; 
	height: 470px;
	font-size:.75em; 
	position:absolute; 
	color:#424242; 
	font-size:.7em; 
	word-spacing:.1em;
	line-height: 13px;
	letter-spacing:-.03em; 
	top: 130px; 
	left:430px; 
	z-index: 6;
	overflow:scroll;
	}
/*------------Accolades Page------------*/
#AccoladesTxt {
	font-family:Verdana;
	color:#DBDBDB;
	width:250px;
	font-size:.7em; 
	position:absolute;
	top:175px; 
	left:45px; 
	z-index:244;
	}
#AccoladesSlideshow {
	Width:500px;
	height:371px; 
	top: 138px; 
	left:320px; 
	position:absolute; 
	background-repeat: no-repeat;
	z-index:10;
	}
#AccoladesOne{
	top:280px; 
	left:45px; 		
	height:10px;
	width: 200px;
	position:absolute; 
	z-index:1000}
#AccoladesTwo{
	top:296px; 
	left:45px; 		
	height:10px;
	width: 200px;
	position:absolute; 
	z-index:1000}
#AccoladesThree{
	top:310px; 
	left:45px; 		
	height:10px;
	width: 200px;
	position:absolute; 
	z-index:1000}
#AccoladesFour{
	top:325px; 
	left:45px; 		
	height:10px;
	width: 200px;
	position:absolute; 
	z-index:1000}
.popup_block_Accolades {
	display: none; 
	background: #fff; 
	height:500px;
	float: left;
	position: absolute;
	top: 350px;
	left:500px;
	overflow:scroll;
	z-index: 99998;
	/*--CSS3 Box Shadows--*/
	-webkit-box-shadow: 0px 0px 5px #000;
	-moz-box-shadow: 0px 0px 5px #000;
	box-shadow: 0px 0px 5px #000;
	}
.popup_block_Accolades2 {
	display: none; 
	background: #fff; 
	height:500px;
	float: left;
	position: absolute;
	top: 350px;
	left:500px;
	overflow:scroll;
	z-index: 99998;
	/*--CSS3 Box Shadows--*/
	-webkit-box-shadow: 0px 0px 5px #000;
	-moz-box-shadow: 0px 0px 5px #000;
	box-shadow: 0px 0px 5px #000;
	}
.popup_block_Accolades3 {
	display: none; 
	background: #fff; 
	height:500px;
	float: left;
	position: absolute;
	top: 350px;
	left:500px;
	overflow:scroll;
	z-index: 99998;
	/*--CSS3 Box Shadows--*/
	-webkit-box-shadow: 0px 0px 5px #000;
	-moz-box-shadow: 0px 0px 5px #000;
	box-shadow: 0px 0px 5px #000;
	}
.popup_block_Accolades4 {
	display: none; 
	background: #fff; 
	height:500px;
	float: left;
	position: absolute;
	top: 350px;
	left:500px;
	overflow:scroll;
	z-index: 99998;
	/*--CSS3 Box Shadows--*/
	-webkit-box-shadow: 0px 0px 5px #000;
	-moz-box-shadow: 0px 0px 5px #000;
	box-shadow: 0px 0px 5px #000;
	}
img.btn_close_Accolades1 {
	width:15px; 
	height:13px; 
	z-index: 99999; 
	background:url(closeXsmall.gif);
	position: absolute; 
	top:2px; 
	right:2px;}
img.btn_close_Accolades2 {
	width:15px; 
	height:13px; 
	z-index: 99999; 
	background:url(closeXsmall.gif);
	position: absolute; 
	top:2px; 
	right:2px;}
img.btn_close_Accolades3 {
	width:15px; 
	height:13px; 
	z-index: 99999; 
	background:url(closeXsmall.gif);
	position: absolute; 
	top:2px; 
	right:2px;}
img.btn_close_Accolades4 {
	width:15px; 
	height:13px; 
	z-index: 99999; 
	background:url(closeXsmall.gif);
	position: absolute; 
	top:2px; 
	right:2px;}
/*------------Philosophy Page------------*/
#PhilosophyTxt {
	position:absolute;
	font-family:Verdana;
	width:230px; 
	height:233px;
	top:140px;
	left:50px;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em; 
	color:#DBDBDB;
	z-index: 200;
	}
#PhilosophyPhoto {
	width: 596px; 
	height: 433px; 
	top: 190px; 
	left: 284px;
	background-repeat:no-repeat;    
	background:url(Picture3.gif);
	background-repeat:no-repeat; 
   	position:absolute; 
	z-index: 11;
	}
/*------------News Page------------*/
#NewsBody{
	position:absolute;
	font-family:Verdana;
	width:287px; 
	height:458px;
	top:125px;
	left:35px;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em; 
	color:#DBDBDB;
	z-index: 12;
	overflow:scroll;
	overflow-x:hidden;
	}
#NewsPhoto {
	width: 559px; 
	height: 433px; 
	top: 138px; 
	left: 322px;
	background-repeat:no-repeat; 
	background:url(Picture-100.gif); 
	position:absolute; 
	z-index: 11;
	}
/*------------The Company Page------------*/
#TheCompany {
	position:absolute;
	font-family:Verdana;
	width:230px; 
	height:233px;
	top:175px;
	left:50px;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em; 
	color:#DBDBDB;
	z-index: 200;
	}
#TheCompanyPhoto {
	width: 565px; 
	height: 433px; 
	top: 138px; 
	left: 315px;
	background-repeat:no-repeat; 
	background:url(Picture2.gif); 
	position:absolute; 
	z-index: 11;
	}
/*------------Parts Line Card------------*/
#LineCard{	
	position:absolute;
	font-family:Verdana;
	width:635px; 
	height:300px;
	top:250px;
	left:135px;
	font-size:.7em; 
	word-spacing:.1em;
	line-height: 13px
	letter-spacing:-.03em; 
	color:#000000;
	overflow:scroll;
	z-index: 5;
	}
#LightBlueBox{
	width:635px;
	height:295px;
	top:250px;
	left:135px;
	background-color:#DBDBDB;
	position:absolute;
	z-index:5;}
#DropRight2 {
	width: 10px;
	height:283px; 
	position:absolute;
	filter:alpha(opacity=30);
	z-index:10; 
	top:250px; 
	left:135px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#808080', endColorstr='#00000000', GradientType=1);
	}
#DropLeft2 {
	width: 6px;
	height:283px; 
	position:absolute;
	filter:alpha(opacity=30);
	z-index:10; 
	top:250px; 
	left:764px;
	filter:   progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#808080', GradientType=1);
	}
#PartsTopDrop {
	width: 635px;
	height:10px; 
	position:absolute;
	filter:alpha(opacity=30);
	z-index:10; 
	top:250px;
	left:135px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#808080', endColorstr='#00000000');
	}
#PartsBottomDrop {
	width: 635px;
	height:6px; 
	position:absolute;
	filter:alpha(opacity=30);
	z-index:10; 
	top:547px;
	left:135px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#808080');
	}
#OneStop{
	width:164px; 
	height:100px; 
	position: absolute; 
	white-space:pre;    
	background:url(One_Stop.gif);
	background-repeat:no-repeat; 
   	top:140px; 
	left:114px; 
	z-index:20;
	}
#PartsHeader{
	text-align:center;
	width:700px;
	height:50px;
	top:225px;
	left:50px;
	font-size:1.1em;
	position:absolute;
	z-index: 20;
	}
#PartsList{
	width:490px;
	height:50px;
	top: 30px;
	left:60px;
	position:absolute;
	z-index: 20;
	}
#PartsHeader2{
	width:480px;
	height:50px;
	top:620px;
	left:50px;
	font-size:1.15em;
	position:absolute;
	z-index: 20;
	}
#PartsList2{
	width:400px;
	height:50px;
	top:690px;
	left:60px;
	position:absolute;
	z-index: 20;
	}
#PartsHeader3{
	width:400px;
	height:50px;
	top:830px;
	left:60px;
	font-size:1.15em;
	position:absolute;
	z-index: 20;
	}
#PartsList3{width:400px;
	height:50px;
	top:900px;
	left:60px;
	position:absolute;
	z-index: 20;
	}
#PartsHeader4{
	width:350px;
	height:50px;
	top:1030px;
	left:60px;
	position:absolute;
	z-index: 20;
	}
#PartsList4{width:490px;
	height:50px;
	top:1110px;
	left:60px;
	position:absolute;
	z-index: 20;
	}
#PartsList42{
	width:490px;
	height:100px;
	top:30px;
	left:0px;
	position:absolute;
	z-index: 20;
	}	
#PartsHeader5{
	width:600px;
	height:33px;
	top:625px;
	left:155px;
	background:url(parts_bottom_title.gif);
	position:absolute;
	z-index: 20;
	}
#PrintableLineCard{
	display: block;
	background:url(LineCardpdfbutton.gif);
	width: 255px;
	height: 25px;
	top: 550px;
	left: 135px;
	position: absolute;
	z-index: 1999;
	}
#PrintableLineCard:hover{background:url(LineCardpdfbuttonhit.gif);}
#container2{
	width:200px;
	height:44px;
	top:555px;
	left:560px;
	position:absolute;
	z-index: 20;
	}
#infomanufacturers{
	width:165px; 
	height:520px; 
	top:130px; 
	left:780px;
	background-color:#FFFFFF;
	border: 1px solid #000;
	position:absolute; 
	z-index:219;
	}
/*------------History Page------------*/
#HistoryBackground{
	width:860px; 
	height:464px; 
	position:absolute;
	z-index:5; 
	top:111px;
	left:20px; 
	background:url(historychop.gif);
	}
#BlackParts {
	width: 860px;
	height:2px; 
	position:absolute;
	z-index:7; 
	top:557px; 
	left:20px; 
	opacity:0.7;
	background-color:#000000;
	}
#BlackPartsTop {
	width: 860px;
	height:2px; 
	position:absolute;
	z-index:7; 
	top:500px; 
	left:20px; 
	opacity:0.7;
	background-color:#000000;
	}
#HistoryWhtBar{
	width: 860px;
	height:10px; 
	position:absolute;
	z-index:6; 
	top:552px; 
	left:20px; 
	background-color:#FFFFFF;
	}
#HistoryWhtBarTop{
	width: 860px;
	height:10px; 
	position:absolute;
	z-index:6; 
	top:495px; 
	left:20px; 
	background-color:#FFFFFF;
	}
#ThumbnailBackgroundWhite {
	width:860px; 
	height:100px; 
	position:absolute;
	z-index:2; 
	top:492px;
	left:20px; 
	background:#FFFFFF;
	} 

#slideshow {
	list-style:none; 
	color:#FFFFFF
	}
#slideshow span {
	display:none; 
	color:#FFFFFF
	}
#wrapper2 {
	width:880px;  
	margin:50px auto; 
	display:none
	}
#wrapper2 * {
	margin:0; 
	padding:0
	}
#Historyfullsize {
	position:relative; 
	width:25px; 
	height:238px; 
	top:128px; 
	left:10px; 
	padding:2px; 
	}
#information {
	position:absolute; 
	bottom:0; 
	top:-10px; 
	left:570px; 
	width:235px; 
	height:0px; 
	background:transparent; 
	color:#000000;
	z-index:100;
	}
#information h3 {
	padding:4px 8px 3px; 
	font-size:13px; 
	color:#D21D1F;
	letter-spacing:-.015em; 
	font-weight: bolder;
	}
#information p {
	padding:0 8px 8px;
	font-size:.65em;
	line-height: 1.1em; 
	width:240px; 
	text-align:left;
	font-family:Verdana;
	letter-spacing:.0001em;
	text-align:left;
	font-family:Verdana;
	}
#image {
	width:160px;
	}
#image img {
	left:-15px;
	top:-57px;
	position:absolute; 
	z-index:25; 
	width:auto
	}
.imgnav {
	position:absolute; 
	width:25%; 
	height:306px; 
	cursor:pointer; 
	z-index:15000
	}

#thumbnails {
	margin-top:15px;
	z-index:20000000;
	}

#HistoryLeftGrayBox {
	width: 20px;
	height:68px; 
	position:absolute;
	z-index:8; 
	top:495px; 
	left:19px; 
	background-color:#FFFFFF;
	}
#HistoryRightGrayBox {
	width: 20px;
	height:68px; 
	position:absolute;
	z-index:8; 
	top:495px; 
	left:860px; 
	background-color:#FFFFFF;
	}

#slideleft {
	position:absolute; 
	z-index:20001; 
	left: 20px; 
	width:20px; 
	top:490px; 
	height:81px; 
	background:url(arrowleft.gif) center center no-repeat; 
	background-color:transparent;
	background-repeat:no-repeat;
	
	}
#slideright { 
	position:absolute; 
	z-index:200001; 
	left:860px; 
	width:20px; 
	top:509px; 
	height:81px; 
	background-image:url(arrowright.gif);
	background-repeat:no-repeat;
	}
#slidearea {
	z-index:6; 
	left:-20px; 
	position:relative; 
	width:850px; 
	margin-left:0px; 
	height:145px; 
	overflow:hidden; 
	top:145px; 
	background-color:transparent;	
	}
#Historyslider {
	position:absolute; 
	left:0; 
	height:81px; 
	z-index:6;
	}
#Historyslider img {
	cursor:pointer; 
	padding:45px; 
	z-index:3; 
	}
#HistoryPartsByManDropShadow{
	width: 860px;
	height:7px; 
	position:absolute;
	opacity:0.85;
	filter:alpha(opacity=100);
	z-index:5; 
	top:502px; 
	left:20px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#808080', endColorstr='#00000000');
	}

#HistoryWhitebardrop{
	width: 860px;
	height:7px; 
	position:absolute;
	opacity:0.85;
	filter:alpha(opacity=100);
	z-index:8; 
	top:562px; 
	left:20px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#808080', endColorstr='#00000000');
	}
#HistoryWhitebardroptopofbottom{
	width: 860px;
	height:7px; 
	position:absolute;
	opacity:0.85;
	filter:alpha(opacity=100);
	z-index:5; 
	top:546px; 
	left:20px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#808080');
	}
#HistoryWhitebardroptopoftop{
	width: 860px;
	height:7px; 
	position:absolute;
	opacity:0.85;
	filter:alpha(opacity=100);
	z-index:5; 
	top:489px; 
	left:20px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#808080');
	}
#HistoryPartsByManDropShadow2{
	width: 860px;
	height:7px; 
	position:absolute;
	opacity:0.85;
	filter:alpha(opacity=100);
	z-index:7; 
	top:588px; 
	left:20px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#808080', endColorstr='#00000000');
	}

#HistoryLrgProductDropShadow{
	width: 10px;
	height:705px; 
	position:absolute;
	opacity:0.6;
	filter:alpha(opacity=100);
	z-index:1; 
	top:-10px; 
	left:880px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#808080', endColorstr='#00000000');
	}
/*------------Parts by Manufacturer Page------------*/

#PartsRequstInfo{
	width:466px;
	height:20px;
	top:472px;
	left:414px;
	background:url(partsrequestmoreinfoBTN.gif);
	position:absolute;
	z-index:500;
	}
#PartsRequstInfo:hover{background:url(partsrequestmoreinfoBTNhit.gif);}
#PartsLineCardBTN{
	width:250px;
	height:20px;
	top:472px;
	left:19px;
	background:url(PartsLineCardBTN.gif);
	position:absolute;
	z-index:500;
	}
#PartsLineCardBTN:hover{background:url(PartsLineCardBTNhit.gif);}
#AntunesLogoLarge {
	width:184px; 
	height:60px; 
	top:145px; 
	left:50px;
	background:url(PartsByManLogos/LargeLogo/AntunesLogoLarge.gif);
	position:absolute; 
	z-index:224;
	}
#AscoLogoLarge {
	width:184px; 
	height:74px; 
	top:145px; 
	left:50px;
	background:url(PartsByManLogos/LargeLogo/AscoLogoLarge.gif);
	position:absolute; 
	z-index:225;
	}
#BryanDonkinLogoLarge {
	width:80px; 
	height:84px; 
	top:132px; 
	left:33px;
	background:url(PartsByManLogos/LargeLogo/BryanDonkinLogoLarge.gif);
	position:absolute; 
	z-index:225;
	}
#DuragLogoLarge {
	width:184px; 
	height:37px; 
	top:145px; 
	left:33px;
	background:url(PartsByManLogos/LargeLogo/DuragLogoLarge.gif);
	position:absolute; 
	z-index:225;
	}
#DwyerLogoLarge {
	width:156px; 
	height:84px; 
	top:130px; 
	left:50px;
	background:url(PartsByManLogos/LargeLogo/DwyerLogoLarge.gif);
	position:absolute; 
	z-index:225;
	}
#EclipseLogoLarge {
	width:184px; 
	height:77px; 
	top:145px; 
	left:50px;
	background:url(PartsByManLogos/LargeLogo/EclipseLogoLarge.gif);
	position:absolute; 
	z-index:225;
	}
#EmonLogoLarge {
	width:173px; 
	height:66px; 
	top:145px; 
	left:50px;
	background:url(PartsByManLogos/LargeLogo/EmonLogoLarge.gif);
	position:absolute; 
	z-index:225;
	}

#ElsterLogoLarge {
	width:130px; 
	height:80px; 
	top:135px; 
	left:40px;
	background:url(PartsByManLogos/LargeLogo/Elster_Logo_Large.gif);
	position:absolute; 
	z-index:225;
	}
#HauckLogoLarge {
	width:171px; 
	height:84px; 
	top:130px; 
	left:65px;
	background:url(PartsByManLogos/LargeLogo/HauckLogoLarge.gif);
	position:absolute; 
	z-index:9;
	}
#HoneywellLogoLarge {
	width:184px; 
	height:35px; 
	top:145px; 
	left:50px;
	background:url(PartsByManLogos/LargeLogo/HoneywellLogoLarge.gif);
	position:absolute; 
	z-index:225;
	}
#MaxitrolLogoLarge {
	width:184px; 
	height:35px; 
	top:175px; 
	left:50px;
	background:url(PartsByManLogos/LargeLogo/MaxitrolLogoLarge.gif);
	position:absolute; 
	z-index:225;
	}
#MaxonLogoLarge {
	width:184px; 
	height:64px; 
	top:145px; 
	left:50px;
	background:url(PartsByManLogos/LargeLogo/MaxonLogoLarge.gif);
	position:absolute; 
	z-index:225;
	}
#PartlowLogoLarge {
	width:184px; 
	height:25px; 
	top:165px; 
	left:45px;
	background:url(PartsByManLogos/LargeLogo/PartlowLogoLarge.gif);
	position:absolute; 
	z-index:225;
	}
#ProtectionLogoLarge {
	width:184px; 
	height:53px;
	top:155px; 
	left:50px;
	background:url(PartsByManLogos/LargeLogo/ProtectionLogoLarge.gif);
	position:absolute; 
	z-index:225;
	}
#SensusLogoLarge {
	width:184px; 
	height:48px; 
	top:145px; 
	left:50px;
	background-repeat: no-repeat;
	background:url(PartsByManLogos/LargeLogo/SensusLogoLarge.gif);
	position:absolute; 
	z-index:225;
	}
#ShinkoLogoLarge {
	width:184px; 
	height:64px; 
	top:145px; 
	left:50px;
	background:url(PartsByManLogos/LargeLogo/ShinkoLogoLarge.gif);
	position:absolute; 
	z-index:225;
	}
#SiemensLogoLarge {
	width:184px; 
	height:42px; 
	top:155px; 
	left:50px;
	background:url(PartsByManLogos/LargeLogo/SiemensLogoLarge.gif);
	position:absolute; 
	z-index:225;
	}
#KromSchroderLogoLarge {
	width:167px; 
	height:84px;
	top:145px; 
	left:50px;
	background:url(PartsByManLogos/LargeLogo/KromschroderLogoLarge.gif);
	position:absolute; 
	z-index:225;
	}
#VulcanLogoLarge {
	width:184px; 
	height:78px; 
	top:145px; 
	left:50px;
	background:url(PartsByManLogos/LargeLogo/VulcanLogoLarge.gif);
	position:absolute; 
	z-index:225;
	}
#MaxitrolLogo {
	width:142px;
	height:21px;
	top:600px;
	left:19px; 
	display:block;
	background:url(MaxitrolBTN.gif);
	position:absolute; 
	z-index:151;
	}
#MaxitrolLogo:hover{background:url(MaxitrolBTNhit.gif);}
#SiemensLogo {
	width:142px;
	height:21px; 
	top:623px;
	left:19px; 
	display:block;
	background:url(SiemensBTN.gif);
	position:absolute; 
	z-index:15000000; 
	}
#SiemensLogo:hover{background:url(SiemensBTNhit.gif);}
#BryanDonkinLogo {
	width:142px;
	height:21px; 
	top:600px;
	left:163px; 
	display:block;
	background:url(BryanDonkinBTN.gif);
	position:absolute; 
	z-index:203;
	}
#BryanDonkinLogo:hover{background:url(BryanDonkinBTNhit.gif);}
#ProtectionLogo {
	width:142px;
	height:21px; 
	top:645px;
	left:19px; 
	display:block;
	background:url(ProtectionControlBTN.gif);
	position:absolute; 
	z-index:144;
	}
#ProtectionLogo:hover{background:url(ProtectionControlBTNhit.gif);}
#PartlowLogo {
	width:142px;
	height:21px; 
	top:623px;
	left:163px; 
	display:block;
	background:url(PartlowBTN.gif);
	position:absolute; 
	z-index:143;
	}
#PartlowLogo:hover{background:url(PartlowBTNhit.gif);}
#MaxonLogo {
	width:142px; 
	height:21px;
	top:645px;
	left:163px; 
	display:block;
	background:url(MaxonBTN.gif);
	position:absolute; 
	z-index:200;
	}
#MaxonLogo:hover{background:url(MaxonBTNhit.gif);}
#AscoLogo {
	width:142px; 
	height:21px;
	top:600px;
	left:307px; 
	display:block;
	background:url(AscoBTN.gif);
	position:absolute; 
	z-index:225;
	}
#AscoLogo:hover{background:url(AscoBTNhit.gif);}
#HoneywellLogo {
	width:142px;
	height:21px; 
	top:623px;
	left:307px; 
	display:block;
	background:url(HoneywellBTN.gif);
	position:absolute; 
	z-index:149;
	}
#HoneywellLogo:hover{background:url(HoneywellBTNhit.gif);}
#KromSchroderLogo {
	width:142px;
	height:21px; 
	top:645px;
	left:307px; 
	display:block;
	background:url(KromSchroderBTN.gif);
	position:absolute; 
	z-index:204;
	}
#KromSchroderLogo:hover{background:url(KromSchroderBTNhit.gif);}
#DwyerLogo {
	width:142px;  
	height:21px; 
	top:600px;
	left:451px; 
	display:block;
	background:url(DwyerBTN.gif);
	position:absolute; 
	z-index:202;
	}
#DwyerLogo:hover{background:url(DwyerBTNhit.gif);}
#DuragLogo {
	width:142px; 
	height:21px; 
	top:623px;
	left:451px; 
	display:block;
	background:url(DuragBTN.gif);
	position:absolute; 
	z-index:148;
	}
#DuragLogo:hover{background:url(DuragBTNhit.gif);}
#HauckLogo {
	width:142px;
	height:21px; 
	top:645px;
	left:451px; 
	display:block;
	background:url(HauckBTN.gif);
	position:absolute; 
	z-index:146;
	}
#HauckLogo:hover{background:url(HauckBTNhit.gif);}
#VulcanLogo {
	width:142px;
	height:21px;  
	top:600px;
	left:594px; 
	display:block;
	background:url(VulcanCatalyticBTN.gif);
	position:absolute; 
	z-index:140;
	}
#VulcanLogo:hover{background:url(VulcanCatalyticBTNhit.gif);}
#SensusLogo {
	width:142px;
	height:21px; 
	top:623px;
	left:594px; 
	display:block;
	background:url(SensusBTN.gif);
	position:absolute; 
	z-index:141;
	}
#SensusLogo:hover{background:url(SensusBTNhit.gif);}
#EmonLogo {
	width:142px;
	height:21px; 
	top:645px;
	left:594px; 
	display:block;
	background:url(EmonBTN.gif);
	position:absolute; 
	z-index:147;
	}
#EmonLogo:hover{background:url(EmonBTNhit.gif);}
#ShinkoLogo {
	width:142px;
	height:21px;
	top:600px;
	left:737px; 
	display:block;
	background:url(ShinkoBTN.gif);
	position:absolute; 
	z-index:139;
	}
#ShinkoLogo:hover{background:url(ShinkoBTNhit.gif);}
#EclipseLogo {
	width:142px; 
	height:21px;  
	top:623px;
	left:737px; 
	display:block;
	background:url(EclipseBTN.gif);
	position:absolute; 
	z-index:145;
	}
#EclipseLogo:hover{background:url(EclipseBTNhit.gif);}
#AntunesLogo {
	width:142px; 
	height:21px;
	display:block;
	background:url(AntunesControlsBTN.gif);
	top:645px;
	left:737px; 
	position:absolute; 
	z-index:20001;
	}
#AntunesLogo:hover{background:url(AntunesControlsBTNhit.gif);}




#LeftGrayBox {
	width: 20px;
	height:100px; 
	position:absolute;
	z-index:6; 
	top:492px; 
	left:19px; 
	background-color:#FFFFFF;
	}
#RightGrayBox {
	width: 20px;
	height:100px; 
	position:absolute;
	z-index:6; 
	top:492px; 
	left:860px; 
	background-color:#FFFFFF;
	}

#SensusText {
	text-align:left;
	font-family:Verdana; 
	width:230px;
	height:270px;
	font-size:.7em; 
	color:#000000; 
	letter-spacing:.0001em;
	position:absolute; 
	top:220px; 
	line-height: 1.1em;
	left: 35px; 
	z-index: 26;
	text-decoration:none;
	overflow:auto;
	overflow-x:hidden;
	}
#ThumbnailBackground {
	width:850px; 
	height:140px; 
	position:absolute;
	z-index:3; 
	top:492px;
	left:19px; 
	background-color:#DFDFDE;
	} 

 /* slider specific CSS */
        .sliderGallery {
            background-color:transparent;
	    left:37px;
            overflow: hidden;
	    top:485px;
            position: relative;
            height: 110px;
            width: 840px;
	    z-index:4;
        }
        
        .sliderGallery UL {
            position: absolute;
            list-style: none;
            overflow: none;
            white-space: nowrap;
            padding: 0;
            margin: 0;
        }
        
        .sliderGallery UL LI {
            display: inline;
	    padding:40px;
        }
        
        .slider {
            width: 861px;
            height: 17px;
            top: 72px;
            margin-left: 2px;
            padding: 0px;
            position: relative;
	    z-index:1;
            background: url(productbrowser_scrollbar_20070622.png) no-repeat;
        }
        
        .handle {
            position: absolute;
            cursor: move;
            height: 18px;
            width: 181px;
            top: 0;
            background: url(http://static.jqueryfordesigners.com/demo/images/productbrowser_scroller_20080115.png) no-repeat;
            z-index: 1;
        }
        
        .slider span {
            color: #bbb;
            font-size: 80%;
            cursor: pointer;
            position: absolute;
            z-index: 5;
            top: 3px;
        }
        
        .slider .slider-lbl1 {
            left: 50px;
        }
        
        .slider .slider-lbl2 {
            left: 107px;
        }
        
        .slider .slider-lbl3 {
            left: 156px;
        }

        .slider .slider-lbl4 {
            left: 280px;
        }

        .slider .slider-lbl5 {
            left: 455px;
        }
.popup_block_Parts {
	display: block; 
	background: #fff; 
	height:347px;
	width:450px;
	float: left;
	font-size: .95em;
	position: absolute;
	top: 125px;
	left:430px;
	z-index: 9;
	overflow:auto;
	overflow-x:hidden;
	}

#fullsize {
	position:relative; 
	width:25px; 
	height:238px; 
	top:50px; 
	left:250px; 
	z-index:100;
	}
#PartsContent{
	position:relative; 
	width:25px; 
	height:238px; 
	top:-230px; 
	left:0px; 
	z-index:100;
	}
h3 {
	positions:absolute;
	z-index:200;
	width:400px;
	top:0px; 
	left:200px; 
	font-size:13px; 
	color:#D21D1F;
	letter-spacing:-.015em; 
	font-weight: bolder;
	}
p {
	positions:absolute;
	width:250px;
	z-index:200;
	top:0px; 
	left:000px; 
	font-size:.65em;
	line-height: 1.1em; 
	text-align:left;
	letter-spacing:.0001em;
	font-family:Verdana;
	}
#ManBioWhtBkg{
	width: 250px;
	height:367px; 
	position:absolute;
	z-index:8; 
	top:125px; 
	left:19px; 
	background-color:#FFFFFF;
	}
#ManBioDropShadow{
	width: 10px;
	height:502px; 
	position:absolute;
	opacity:0.6;
	filter:alpha(opacity=100);
	z-index:4; 
	top:-10px; 
	left:236px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#808080', endColorstr='#00000000', GradientType=1);
	}
#PartsByManDropShadow{
	width: 861px;
	height:10px; 
	position:absolute;
	opacity:0.85;
	filter:alpha(opacity=100);
	z-index:7; 
	top:492px; 
	left:19px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#808080', endColorstr='#00000000');
	}
#PartsByManDropShadow2{
	width: 861px;
	height:10px; 
	position:absolute;
	opacity:0.85;
	filter:alpha(opacity=100);
	z-index:7; 
	top:588px; 
	left:19px;
	pointer-events:none;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#808080');
	}
#LrgProductWhtBkg{
	width: 466px;
	height:367px; 
	position:absolute;
	z-index:3; 
	top:125px; 
	left:414px; 
	background-color:#FFFFFF;
	}
#LrgProductDropShadow{
	width: 10px;
	height:705px; 
	position:absolute;
	opacity:0.6;
	filter:alpha(opacity=100);
	z-index:1; 
	top:-10px; 
	left:880px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#808080', endColorstr='#00000000', GradientType=1);
	}
#LogoNavWhtBkg{
	width: 860px;
	height:75px; 
	position:absolute;
	z-index:3; 
	top:592px; 
	left:20px; 
	background-color:#FFFFFF;
	}
#Manufacturers{
	text-align:left;
	font-family:Verdana; 
	font-weight:bold;
	font-size:.9em; 
	color:#000000;
	position:absolute; 
	top:250px; 
	left: 245px; 
	z-index: 26;
	text-decoration:none;
	}
#Types{
	text-align:left;
	font-family:Verdana; 
	font-weight:bold;
	font-size:.9em; 
	color:#000000;
	position:absolute; 
	top:250px; 
	left: 245px; 
	z-index: 26;
	text-decoration:none;
	}
#PartsContactForm{
	width:200px;
	height:400px;
	top:200px;
	left:30px;
	position:absolute;
	z-index:500
	font-family:Verdana;
	color:#000000;
	font-size:.75em}
/*------------Literature Pages------------*/
#LiteratureMenu {
	width: 320px;
	margin-left: 582px;
	margin-top: 123px;
	position:absolute;
	z-index: 250000000000;
	}
.accordionButton {	
	width: 280px;
	height:25px;
	float: left;
	font-family:Verdana;
	font-size:.8em;
	color:#424242;
	padding-top: .3em;
	padding-left: .3em;
	background: #808080;
	cursor: pointer;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#424242', endColorstr='#DBDBDB');
	position:relative;
	z-index: 990000000000;
	}
.accordionButton:hover{
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#DBDBDB', endColorstr='#424242');
	color:#000000;
	}	
.accordionContent {	
	width: 330px;
	float: left;
	font-family:Verdana;
	font-size:.7em;
	background: transparent;
	cursor: pointer;
	display: none;
	position:relative;
	z-index: 990000000000;
	}
.accordionBContent {	
	width: 245px;
	height:18px;
	float: left;
	padding-left: 1em;
	padding-top: .4em;
	top:1px;
	margin-left:15px;
	font-family:Verdana;
	color:#424242;
	font-size:.9em;
	background: #FFFFFF;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#808080', endColorstr='#FFFFFF');
	z-index: 990000000000;
	}
.accordionBContent:hover {
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#808080');
	color:#D21D1F;
	}
#LiteratureBlkTrans {	
	width: 311px;
	height:457px;
	position:absolute;
	z-index:3; 
	top:125px; 
	left:569px; 
	background-color:#000000;
	z-index:12;
	}
#LiteratureBlkDropTrans {
	width: 10px;
	height:457px; 
	position:absolute;
	filter:alpha(opacity=100);
	z-index:12; 
	top:125px; 
	left:559px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=1);
	}
#LiteraturePhoto{	
	width:861px;
	height:533px;
	top:138px;
	left:19px;
	background:url(literaturebkground.gif);
	background-repeat:no-repeat;
	position:absolute;
	z-index:7;
	}
#LiteratureTxt{
	width:400px;
	height:25px;
	top:142px;
	left:578px;
	line-height: 1.1em;
	font-size:.7em; 
	word-spacing:.01em;
	letter-spacing:-.03em; 
	font-family:Verdana;
	position:absolute;
	z-index:20000;
	}
/*------------Terms of Service Page------------*/
#TOSHeadline{
	color:#000000; 
	font-weight:bold; 
	font-family:Verdana;
	font-size:12pt; 
	position:absolute; 
	z-index:20;
	top:150px; 
	left:200px;
	}
#TOSParagraph {
	color:#4d4d4d; 
	font-family:Verdana;	
	font-size:9pt; 
	width:850px; 
	position:absolute; 
	top:200px; 
	left:38px; 
	z-index:20; 
	height:360px;
	width:800px;
	overflow:scroll;
	}
/*------------Privacy Policy Page------------*/
#PolicyHeadline{ 
	color:#000000; 
	font-weight:bold; 
	font-family:Verdana; 
	font-size:12pt; 
	position:absolute; 
	z-index:20;
	top:150px; 
	left:200px;
	}
#PrivacyPolicyText {
	color:#4d4d4d; 
	font-family:Verdana;	
	font-size:9pt; 
	width:850px; 
	position:absolute; 
	top:200px; 
	left:38px; 
	z-index:20; 
	height:360px;
	width:800px;
	overflow:scroll;
	}
/*------------Site Map Page------------*/
#sitemaplist {
	color:#808080; 
	font-family:Verdana;	
	font-size:9pt; 
	width:800px; 
	height:470px;
	position:absolute; 
	top:125px;
	left:80px; 
	z-index:5;
	overflow:scroll;
	}
