f/* Background no-repeat */
body {
	background-repeat:no-repeat;
	background-color:transparent;
	background-position:center
	font-size: 12pt; 
	color:#000000;
	position: relative; 
	text-align:left;
	font-family:Verdana; 
	}



/*------------Layout and Navagation------------*/

#Wrapper {
	margin: 0 auto;
	position: relative;	
	text-align:left; 
	width: 960px;
	}
#Head	{
	background:url(Header.gif);
	background-repeat:no-repeat;
	height:162px;	
	position:absolute;
	top:-40px;left:0px;
	width:960px; 
	z-index: 5;
	}
#BluePrint {
	width:960px; 
	height:639px;
	background-repeat:no-repeat;  	   	
	position:absolute; 
	top:50px;left:0px;	
	background:url(blueprintbackgrd.gif);
	z-index: 1;
	}
#Tagline {
	color:#000000; 
	font-family:Verdana;
	text-decoration: none;
	font-size:7.5pt; 
	font-weight: bold; 
	white-space:pre;
	position: absolute; 
	top: 91px; 
	left:20px; 
	z-index: 300; 
	}
#Logo {
	width:125px; 
	height:66px; 
	position: absolute; 
	white-space:pre;    
	background:url(ETTERLogo.gif);
	background-repeat:no-repeat; 
   	top:-10px; 
	left:30px; 
	z-index: 
	200;
	}
#Search { 
	position: absolute; 
	top: 15px; 
	left: 730px; 
	z-index: 400; 
	z-index: 1000; 
	}
#ContactButton {
	position: absolute; 
	top: 89px; 
	left:884px;
	font-size:9pt;
	text-decoration: none;
	font-family:Verdana; 
	color:#D21D1F;
	z-index:14;
	}
#NavBar {
	width:972px; 
	height:19px; 
	position: absolute;      
	background:url(navbar.gif); 
   	top:106px; 
	left:-6px; 
	z-index: 11;
	}
#NavBarDrop {
	width: 960px;
	height:15px; 
	position:absolute;
	opacity:9;
	z-index:10; 
	top:121px;
	left:0px;
	 background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(Transparent));
	background: -moz-linear-gradient(bottom,  Transparent,  #000000);
	}
#BottomDrop {
	width: 960px;
	height:20px; 
	position:absolute;
	opacity:9;
	z-index:1; 
	top:685px;
	left:0px; 
	 background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(Transparent));
	background: -moz-linear-gradient(bottom,  Transparent,  #000000);
	}
#NavBar2 {
	width:972px; 
	height:19px; 
	position: absolute;      
	background:url(navbar.gif); 
   	top:666px; 
	left:-6px; 
	z-index: 11;
	}
#NavBarDrop2 {
	width: 960px;
	height:13px; 
	position:absolute;
	opacity:1;
	filter:alpha(opacity=100);
	z-index:10; 
	top:679px; 
	left:0px;
	background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(Transparent));
	background: -moz-linear-gradient(bottom, transparent,  #000000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='transparent', endColorstr='#000000');
	}
#Red {
	width: 960px;
	height:19px; 
	position:absolute;
	z-index:9; 
	top:676px; 
	left:0px; 
	background-color:#D21D1F;
	}
#DropRight {
	width: 10px;
	height:705px; 
	position:absolute;
	opacity:0.6;
	filter:alpha(opacity=100);
	z-index:1; 
	top:-10px; 
	left:960px;
	 background: -webkit-gradient(linear, left top, right top, from(#000000), to(Transparent));
	background: -moz-linear-gradient(right,  #FFFFFF,  #000000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#000000');
	}
#DropLeft {
	width: 10px;
	height:705px; 
	position:absolute;
	opacity:0.6;
	filter:alpha(opacity=100);
	z-index:1; 
	top:-10px; 
	left:-10px;
	 background: -webkit-gradient(linear, left top, right top, from(Transparent), to(#000000));
	background: -moz-linear-gradient(left,  #FFFFFF,  #000000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#000000');
	}
/* Drop down Organization */
#entiredrop {
	position:absolute; 
	top:-155px; 
	left:-800px;
	z-index: 1000; 
	margin-left: 
	}

#dropdown {	  
	  margin: 0;
	  padding: 0;
	  height: 1em;
	  }
#dropdown li {
	  float: left;	  
	  list-style: none;
	  }
#dropdown li a {
	  display: block;
	  width:12em;	  
	  padding: 3px 0px;	  
	  background-color: transparent;	  
	  white-space:pre;	  
	  font-size:.8em;
	  letter-spacing: -.4px;	    
	  text-align:center; 
	  z-index: 2000;	  
	  font-family: Verdana;	  
	  color: #424242;
	  position: relative; top:105px; left: 0px;	  
	  text-decoration: none; 
	  }

#dropdown li a:hover {color:#000000;}

/* Sub Drop Down Organization */

#dropdown li ul {
	  display: none; 
	  width: 18em;	  
          letter-spacing:  1em;
	  text-align:center;
	  }

/* Sub Drop down Hover */

#dropdown li:hover ul {
	  display: block;
	  position: absolute;
	  margin: 0;
	  padding: 0; }
#dropdown li:hover li {	  
	  float: center;}
#dropdown li:hover li a {
	  word-spacing: .025em; 	  
	  letter-spacing: -.05em;	  
	  font-size:.8em; 
	  font-family: Verdana;	  
	  background: #6e6e6e; background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#ADADAD));
	  background: -moz-linear-gradient(top,  #FFFFFF,  #ADADAD);
	  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#ADADAD');
	  }
#dropdown li li a:hover {color:#ff0000;}



/*------------Index Page------------*/

#IndexWhiteBkgrd {
	width: 861px; 
	height: 457px; 
	top:125px; 
	left:19px; 
	position:absolute; 
	background:url(full_whiteblk.gif); 
	Background-repeat:no-repeat;
	z-index:4;
	}
#IndexSlideshow {
	Width:800px;
	height:350px; 
	top: 155px; 
	left:40px; 
	position:absolute; 
	background-repeat: no-repeat;
	z-index:17;
	}
#IndexPhotoSlideshow {
	Width:800px; 
	height:350px; 
	top: 155px; 
	left:40px; 
	position:absolute; 
	background-repeat: no-repeat;
	z-index:18;
	}

/*------------Gas Booster Page------------*/

#sm {
	margin:0; 
	padding:0;
	}
#sm {
	list-style:none;
	top:240px;
	left:276px; 
	width:604px; 
	height:309px; 
	display:block; 
	overflow:hidden;z-index: 5;
	position:absolute; 
	}
#sm li {
	float:left; 
	display:inline; 
	overflow:hidden;z-index: 5;
	position:relative; 
	}

#GasBoosterTxt{
	font-family:Verdana;
	position:absolute;
	width:210px; 
	height:233px;
	top:180px;
	left:45px;
	line-height: 1.154em;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em; 
	color:#FFFFFF;
	z-index: 200;
	}
#GasBoosterTransBLK{
	width: 256px;
	height:457px;
	position:absolute;
	z-index:3; 
	top:125px; 
	left:19px; 
	background-color:#000000;
	z-index:12;
	opacity:0.87;
	}
#GasBoosterHeader{
	font-family:Verdana;
	font-weight:bold;
	position:absolute;
	width:240px; 
	height:233px;
	top:145px;
	left:27px;
	line-height: 1.154em;
	font-size:.90em; 
	word-spacing:.1em;
	letter-spacing:-.01em; 
	color:#D21D1F;
	z-index: 200;
	}
#GasBoosterSolidWhiteBkgrd {
	width: 607px;
	height:57px;
	position:absolute; 
	z-index:4; 
	top:525px; 
	left:273px; 
	background-color:#FFFFFF;
	opacity:0.9;
	}
#gasPODTxtBTN :hover{color:#000000;}
#ENGBTxtBTN :hover{color:#000000;}
#E101PTxtBTN :hover{color:#000000;}
#E101PHCTxtBTN :hover{color:#000000;}
#E101PHCXtraTxtBTN :hover{color:#000000;}
#AccessoriesTxtBTN :hover{color:#000000;}



#AlternateBoosterNav{
	font-family:Verdana;
	position:absolute;
	width:920px; 
	height:233px;
	top:638px;
	left:45px;
	line-height: 1.154em;
	font-size:1.05em; 
	word-spacing:3em;
	letter-spacing:-.03em; 
	color:#000000;
	z-index: 200;
	}
#LightBlueTopBkgrd{
	width: 604px; 
	height: 67px; 
	top: 129px; 
	left: 276px;
	position:absolute; 
	background:url(lightbluetopbooster.gif);
	Background-repeat:no-repeat;
	z-index:5;
	}
#LightBlueTopBkgrdDrop{
	width: 605px;
	height:13px; 
	position:absolute;
	opacity:1;
	filter:alpha(opacity=100);
	z-index:4; 
	top:190px; 
	left:275px;
	background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(Transparent));
	background: -moz-linear-gradient(bottom, transparent,  #000000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='transparent', endColorstr='#000000');
	}

/*------------ENGB Booster Page------------*/


#ENGBBoosterPhoto {
	width: 650px; 
	height: 433px; 
	top: 138px; 
	left: 110px;
	position:absolute; 
	background:url(Picture_2812.gif);
	Background-repeat:no-repeat;
	z-index:4;
	}
#ENGBBoosterDropRightPhoto {
	width: 130px; 
	height:433px; 
	position:absolute;
	opacity:.89;
	filter:alpha(opacity=100);
	z-index:5; 
	top:138px; 
	left:759px;
	background: -webkit-gradient(linear, left top, right top, from(#000000), to(Transparent));
	background: -moz-linear-gradient(right,  transparent,  #000000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='transparent', endColorstr='#000000');
	}
#ENGBBoosterDropLeftPhoto {
	width: 91px; 
	height:433px; 
	position:absolute;
	opacity:.89;
	filter:alpha(opacity=100);
	z-index:5; 
	top:138px; 
	left:19px;
	background: -webkit-gradient(linear, left top, right top, from(Transparent), to(#000000));
	background: -moz-linear-gradient(right,  #000000,  transparent);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='transparent');
	}
#ENGBBoosterTransBLK {	
	width: 256px;
	height:457px;
	position:absolute;
	z-index:3; 
	top:125px; 
	left:19px; 
	background-color:#000000;
	z-index:12;
	opacity:0.87;
	}
#ENGBBoosterDropRightBlkTrans {
	width: 10px; 
	height:457px; 
	position:absolute;
	opacity:0.6;
	filter:alpha(opacity=100);
	z-index:12; 
	top:125px; 
	left:275px;
	background: -webkit-gradient(linear, left top, right top, from(#000000), to(Transparent));
	background: -moz-linear-gradient(right,  transparent,  #000000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='transparent', endColorstr='#000000');
	}
#ENGBBoosterSolidWhiteBkgrd {
	width: 207px;
	height:457px;
	position:absolute; 
	z-index:6; 
	top:125px; 
	left:673px; 
	background-color:#FFFFFF;
	opacity:0.9;
	}

#ENGBLogo {
	width: 178px; 
	height: 50px; 
	top: 145px; 
	left: 60px;
	position:absolute; 
	background:url(ENGB_Logo.png);
	Background-repeat:no-repeat;
	z-index:15;
	}

#ENGBBoosterText {	
	font-family:Verdana;
	position:absolute;
	width:220px; 
	height:233px;
	top:215px;
	left:40px;
	line-height: 1.154em;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em; 
	color:#DBDBDB;
	z-index: 200;
	}

#ENGBBoosterTextRightSide {	
	text-align: right;
	font-family:Verdana;
	position:absolute;
	width:180px; 
	height:233px;
	top:180px;
	left:687px;
	line-height: 1.5em;
	font-size:.6em; 
	word-spacing: .09em;
	letter-spacing:-.03em; 
	color:#000000;
	z-index: 200;
	}
#ViewDiagram {	
	text-align: right;
	position:absolute;
	width:169px; 
	height:233px;
	top:550px;
	left:705px;
	line-height: 1.7em;
	font-size:.83em; 
	word-spacing: .09em;
	letter-spacing:-.0001em; 
	color:#000000;
	z-index: 200;
	}	
#ETTERApprovals {	
	text-align: right;
	position:absolute;
	font-family:Verdana;
	width:169px; 
	height:233px;
	top:605px;
	left:10px;
	line-height: 1.7em;
	font-size:.63em; 
	word-spacing: .09em;
	letter-spacing:-.0001em;
	color:#000000;
	z-index: 2000;
	}
#ApprovalsTxtpopup{
	text-align:left ;
	position:absolute;
	font-family:Verdana;
	width:400px; 
	height:233px;
	top:58px;
	left:10px;
	line-height: .95em;
	font-size: .7em; 
	word-spacing: .09em;
	letter-spacing:-.0001em;
	color:#000000;
	z-index: 2000;
	}
#ENGBButton {
	text-align: right;
	position:absolute;
	font-family:Verdana;
	width:250px; 
	height:233px;
	top:219px;
	left:617px;
	line-height: 1.7em;
	font-size:.83em; 
	word-spacing: .09em;
	letter-spacing:-.025em; 
	color:#000000;
	z-index: 200;
	}
#E101Button {
	text-align: right;
	position:absolute;
	font-family:Verdana;
	width:250px; 
	height:233px;
	top:540px;
	left:538px;
	line-height: 1.7em;
	font-size:.83em; 
	word-spacing: .09em;
	letter-spacing:-.025em; 
	color:#000000;
	z-index: 200;
	}
#ENGBButton2 {
	text-align: right;
	position:absolute;
	font-family:Verdana;
	width:250px; 
	height:233px;
	top:291px;
	left:617px;
	line-height: 1.7em;
	font-size:.83em; 
	word-spacing: .09em;
	letter-spacing:-.025em; 
	color:#000000;
	z-index: 200;
	}
#ENGBButton3 {
	text-align: right;
	position:absolute;
	font-family:Verdana;
	width:250px; 
	height:233px;
	top:349px;
	left:617px;
	line-height: 1.7em;
	font-size:.83em; 
	word-spacing: .09em;
	letter-spacing:-.025em; 
	color:#000000;
	z-index: 200;
	}
#ENGBButton4 {
	text-align: right;
	position:absolute;
	font-family:Verdana;
	width:250px; 
	height:233px;
	top:421px;
	left:617px;
	line-height: 1.7em;
	font-size:.83em; 
	word-spacing: .09em;
	letter-spacing:-.025em; 
	color:#000000;
	z-index: 200;
	}
#BoosterDiagram{
	width: 450px; 
	height: 392px; 
	top: 80px; 
	left: 0px;
	position:absolute; 
	background:url(solidworks_graphic.gif);
	Background-repeat:no-repeat;
	z-index:999999999;
	}
BoosterNumbers{width: 450px; 
	height: 392px; 
	top: 70px; 
	left: 15px;
	position:absolute; 
	background:url(solidworks_graphic.gif);
	Background-repeat:no-repeat;
	z-index:10;
	}
#fade { /*--Transparent background layer--*/
	display: none; /*--hidden by default--*/
	background: #000;
	position: fixed;
	left: 0; 
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: .20;
	z-index: 9998;
	}
.popup_block {
	display: none; /*--hidden by default--*/
	background: #fff; 
	height:370px;
	padding: 20px;
	border: 2px solid #000;
	float: left;
	font-size: 1.2em;
	position: absolute;
	top: 373px;
	left: 320px;
	z-index: 99998;
	/*--CSS3 Box Shadows--*/
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	}
#container {
	top:480px;
	left:680px;
	width: 400px;
	margin: auto;
	margin-top: 5em;
	z-index:99999;
	position:absolute;
	}
#info {
	background: #FFFFFF;
	border: 2px solid #000;
	width: 413px;
	height:100px;
	top:440px;
	left:575px;
	padding-bottom: .5em;
	overflow: hidden;
	position: absolute;
	z-index:99999;
	}
h4{ 
	color: #D21D2F;
	position:absolute;
	font-size: .85em;
	z-index:99999;
	width:300px;
	height:50px;
	top:0px
	left:0px;
	}
#info p {
	width:280px;
	top:80px;
	left:-85px;
	text-align:left;
	color:#000000;
	font-size: .95em;
	margin-left: 75px;
	margin-top: 0;
	padding: 0 0 0 2em;
	z-index:99999;
	position:absolute;
	}
#infoOneInside {
	background: #FFFFFF;
	border: 2px solid #000;
	font-size: 1em;
	top:10px;
	left:10px;
	width: 300px;
	height:150px;
	padding-bottom: .5em;
	overflow: hidden;	
	position: absolute;
	z-index:9999999;
	}

#infoOne {
	background: #FFFFFF;
	border: 2px solid #000;
	top:130px;
	left:255px;
	width: 425px;
	height:520px;;
	font-size: .85em;
	padding-bottom: .5em;	
	position: absolute;
	z-index:99999;
	}


#OneTitle{ 
	color: #D21D2F;
	position:absolute;
	font-size: .95em;
	z-index:99999;
	width:300px;
	height:50px;
	top:3px;
	left:60px;
	z-index:99999;
	position:absolute;
	}
#OneContent {
	width:280px;
	top:25px;
	left:-82px;
	text-align:left;
	color:#000000;
	font-size: .65em;
	margin-left: 75px;
	margin-top: 0;
	padding: 0 0 0 2em;
	z-index:9999;
	position:absolute;
	}
#OneContentTwo{
	width:370px;
	top:420px;
	left:30px;
	text-align:left;
	color:#FFFFFF;
	font-size: .65em;
	z-index:99999999999999999;
	position:absolute;
	}
#OneContentThree{
	width:350px;
	top:475px;
	left:40px;
	text-align:left;
	color:#FFFFFF;
	font-size: .65em;
	z-index:9999999999999999;
	position:absolute;
	}
#BlackBox{
	width:419px;
	height:115px;
	top:408px;
	left:2px;
	background-color:#000000;
	border: 1px solid #D21D1F;
	z-index:9999999;
	position:absolute;
	}
#infoTwo {
	background: #FFFFFF;
	border: 2px solid #000;
	font-size: .85em;
	top:130px;
	left:255px;
	width: 425px;
	height:520px;
	padding-bottom: .5em;	
	position: absolute;
	z-index:99999;
	position:absolute;
	}
#infoTwoInside {
	background: #FFFFFF;
	border: 2px solid #000;
	font-size: 1em;
	top:10px;
	left:10px;
	width: 300px;
	height:150px;
	padding-bottom: .5em;
	overflow: hidden;	
	position: absolute;
	z-index:99999999999;
	position:absolute;
	}
#TwoTitle{ 
	color: #D21D2F;
	position:absolute;
	font-size: .95em;
	z-index:99999;
	width:300px;
	height:50px;
	top:3px;
	left:60px;
	position:absolute;
	}
#TwoContent {
	width:280px;
	top:25px;
	left:-82px;
	text-align:left;
	color:#000000;
	font-size: .65em;
	margin-left: 75px;
	margin-top: 0;
	padding: 0 0 0 2em;
	z-index:9999;
	position:absolute;
	}
#infoThreeInside {
	background: #FFFFFF;
	border: 2px solid #000;
	font-size: 1em;
	top:10px;
	left:10px;
	width: 300px;
	height:150px;
	padding-bottom: .5em;
	overflow: hidden;	
	position: absolute;
	z-index:99999999999;
	position:absolute;
	}
#infoThree {
	background: #FFFFFF;
	border: 2px solid #000;
	font-size: .85em;
	top:130px;
	left:255px;
	width: 425px;
	height:520px;
	padding-bottom: .5em;
	position: absolute;
	z-index:99999;
	position:absolute;
	}
#ThreeTitle{ 
	color: #D21D2F;
	position:absolute;
	font-size: .95em;
	z-index:99999;
	width:300px;
	height:50px;
	top:3px;
	left:60px;
	position:absolute;
	}
#ThreeContent {
	width:280px;
	top:25px;
	left:-82px;
	text-align:left;
	color:#000000;
	font-size: .65em;
	margin-left: 75px;
	margin-top: 0;
	padding: 0 0 0 2em;
	z-index:9999;
	position:absolute;
	}
#infoFourInside {
	background: #FFFFFF;
	border: 2px solid #000;
	font-size: 1em;
	top:10px;
	left:10px;
	width: 300px;
	height:150px;
	padding-bottom: .5em;
	overflow: hidden;	
	position: absolute;
	z-index:99999999999;
	position:absolute;
	}
#infoFour {
	background: #FFFFFF;
	border: 2px solid #000;
	top:115px;
	left:255px;
	width: 425px;
	height:520px;
	padding-bottom: .5em;
	position: relative;
	z-index:99999;
	}

#FourTitle{ 
	color: #D21D2F;
	position:absolute;
	font-size: .95em;
	z-index:99999;
	width:300px;
	height:50px;
	top:3px;
	left:60px;
	position:absolute;
	}
#FourContent {
	width:280px;
	top:25px;
	left:-82px;
	text-align:left;
	color:#000000;
	font-size: .65em;
	margin-left: 75px;
	margin-top: 0;
	padding: 0 0 0 2em;
	z-index:9999;
	position:absolute;
	}
#ULLogo{
	width: 50px; 
	height: 50px; 
	top: 5px; 
	left: 197px;
	position:absolute; 
	Background-repeat:no-repeat;
	z-index:999;
	}
#NationalGrid{
	width: 207px; 
	height: 50px; 
	top: 5px; 
	left: 3px;
	position:absolute; 
	Background-repeat:no-repeat;
	z-index:999;
	}

#ConED{
	width: 75px; 
	height: 50px; 
	top: 5px; 
	left: 135px;
	position:absolute; 
	Background-repeat:no-repeat;
	z-index:999;
	}

#MassGov{
	width: 120px; 
	height: 50px; 
	top: 5px; 
	left: 248px;
	position:absolute; 
	Background-repeat:no-repeat;
	z-index:999;
	}
#NumberOne{
	width: 35px; 
	height: 35px; 
	top: 200px; 
	left: 400px;
	position:absolute; 
	Background-repeat:no-repeat;
	z-index:9999999999;}
#NumberTwo{
	width: 35px; 
	height: 35px; 
	top: 280px; 
	left: 190px;
	position:absolute; 
	Background-repeat:no-repeat;
	z-index:9999999999;}
#NumberThree{
	width: 35px; 
	height: 35px; 
	top: 292px; 
	left: 5px;
	position:absolute; 
	Background-repeat:no-repeat;
	z-index:999999;}
#NumberFour{
	width: 35px; 
	height: 35px; 
	top: 350px; 
	left: 290px;
	position:absolute; 
	Background-repeat:no-repeat;
	z-index:9999999;}
img.btn_close {
	width:32px; 
	height:28px; 
	z-index: 99999; 
	background:url(closeX.gif);
	position: absolute; 
	top:2px; 
	right:2px;}

/*--Making IE6 Understand Fixed Positioning--*/
*html #fade {
	position: absolute;
	}
*html .popup_block {
	position: absolute;
	}
	
/*------------gasPOD Booster Page------------*/
#gasPODText{	
	font-family:Verdana;
	position:absolute;
	width:220px; 
	height:233px;
	top:255px;
	left:40px;
	line-height: 1.154em;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em; 
	color:#DBDBDB;
	z-index: 200;
	}
#gasPODLogo {
	width: 214px; 
	height: 80px; 
	top: 150px; 
	left: 40px;
	position:absolute; 
	background:url(gas_POD_logo.gif);
	Background-repeat:no-repeat;
	z-index:15;
	}

#gasPODPhoto {
	width: 650px; 
	height: 433px; 
	top: 138px; 
	left: 275px;
	position:absolute; 
	background:url(IMG_3807.gif);
	Background-repeat:no-repeat;
	z-index:4;
	}

#gasPODDropRightPhoto {
	width: 220px; 
	height:433px; 
	position:absolute;
	opacity:.89;
	filter:alpha(opacity=100);
	z-index:5; 
	top:138px; 
	left:680px;
	background: -webkit-gradient(linear, left top, right top, from(#000000), to(Transparent));
	background: -moz-linear-gradient(right,  transparent,  #000000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='transparent', endColorstr='#000000');
	}
#gasPODDropLeftPhoto {
	width: 255px; 
	height:433px; 
	position:absolute;
	opacity:.89;
	filter:alpha(opacity=100);
	z-index:5; 
	top:138px; 
	left:19px;
	background: -webkit-gradient(linear, left top, right top, from(Transparent), to(#000000));
	background: -moz-linear-gradient(right,  #000000,  transparent);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='transparent');
	}

/*------------E101P Booster Page------------*/


#E101PLogo {
	width: 150px; 
	height: 80px; 
	top: 130px; 
	left: 60px;
	position:absolute; 
	background:url(E101-P_Logo.png);
	Background-repeat:no-repeat;
	z-index:15;
	}
#E101PDiagramLogo {
	width: 179px; 
	height: 80px; 
	top: 345px; 
	left: 10px;
	position:absolute; 
	background:url(E101-P_Logo2.png);
	Background-repeat:no-repeat;
	z-index:15;
	}
#E101PPhoto {
	width: 650px; 
	height: 433px; 
	top: 138px; 
	left: 110px;
	position:absolute; 
	background:url(Picture_291.png);
	Background-repeat:no-repeat;
	z-index:4;
	}

#E101PDF{
	position:absolute;
	font-family:Verdana;
	width:200px; 
	height:33px;
	top:565px;
	left:45px;
	line-height: .95em;
	font-size:.5em; 
	word-spacing: .09em;
	letter-spacing:-.0001em;
	color:#000000;
	z-index: 2000;
	}
#E101PTxt{
	font-family:Verdana;
	position:absolute;
	width:215px; 
	height:233px;
	top:220px;
	left:45px;
	line-height: 1.1em;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em; 
	color:#FFFFFF;
	z-index: 200;
	}
#E101PBoosterTextRightSide{	
	text-align: left;
	position:absolute;
	width:180px; 
	height:233px;
	top:165px;
	left:687px;
	line-height: 1.3em;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em;  
	color:#000000;
	z-index: 200;
	}
#E101PIndent{
	text-align: left;
	position:absolute;
	width:180px; 
	height:233px;
	top:420px;
	left:687px;
	line-height: 1.3em;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em;  
	color:#000000;
	z-index: 200;
	}
#FlowCapacityChartE101P{
	width: 274px; 
	height: 200px; 
	top: 20px; 
	left: 90px;
	position:absolute; 
	background:url(FlowCapacityChart_E101P.png);
	Background-repeat:no-repeat;
	z-index:15;
	}
#E101PFlowCapacityChartTxt{
	text-align: left;
	font-family:Verdana;
	position:absolute;
	width:360px; 
	height:433px;
	top:260px;
	left:65px;
	line-height: 1.1em;
	font-size:.58em; 
	word-spacing:.1em;
	letter-spacing:-.03em;
	color:#000000;
	z-index: 200;
	}
#E101PDropRightPhoto {
	width: 130px; 
	height:433px; 
	position:absolute;
	opacity:.89;
	filter:alpha(opacity=100);
	z-index:5; 
	top:138px; 
	left:760px;
	background: -webkit-gradient(linear, left top, right top, from(#000000), to(Transparent));
	background: -moz-linear-gradient(right,  transparent,  #000000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='transparent', endColorstr='#000000');
	}
#E101PDropLeftPhoto {
	width: 91px; 
	height:433px; 
	position:absolute;
	opacity:.89;
	filter:alpha(opacity=100);
	z-index:5; 
	top:138px; 
	left:19px;
	background: -webkit-gradient(linear, left top, right top, from(Transparent), to(#000000));
	background: -moz-linear-gradient(right,  #000000,  transparent);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='transparent');
	}

/*------------E101PHC Booster Page------------*/


#E101PHCLogo {
	width: 179px; 
	height: 80px; 
	top: 130px; 
	left: 45px;
	position:absolute; 
	background:url(E101-PHC_Logo.png);
	Background-repeat:no-repeat;
	z-index:15;
	}

#E101PHCDiagramLogo {
	width: 179px; 
	height: 80px; 
	top: 345px; 
	left: 10px;
	position:absolute; 
	background:url(E101-PHC_Logo2.png);
	Background-repeat:no-repeat;
	z-index:15;
	}
#E101PHCPhoto {
	width: 650px; 
	height: 433px; 
	top: 138px; 
	left: 205px;
	position:absolute; 
	background:url(IMG_3866.png);
	Background-repeat:no-repeat;
	z-index:4;
	}

#E101PHCTxt{
	font-family:Verdana;
	position:absolute;
	width:215px; 
	height:233px;
	top:220px;
	left:45px;
	line-height: 1.1em;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em; 
	color:#FFFFFF;
	z-index: 200;
	}
#E101PHCBoosterTextRightSide{	
	text-align: left;
	font-family:Verdana;
	position:absolute;
	width:190px; 
	height:233px;
	top:165px;
	left:687px;
	line-height: 1.3em;
	font-size:.7em; 
	word-spacing: .09em;
	letter-spacing:-.03em; 
	color:#000000;
	z-index: 200;
	}
#E101PHCIndent{
	text-align: left;
	position:absolute;
	width:180px; 
	height:233px;
	top:420px;
	left:687px;
	line-height: 1.3em;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em;  
	color:#000000;
	z-index: 200;
	}
#FlowCapacityChartE101PHC{
	width: 418px; 
	height: 200px; 
	top: 30px; 
	left: 22px;
	position:absolute; 
	background:url(FlowCapacityChart_E101PHC.png);
	Background-repeat:no-repeat;
	z-index:15;
	}
#E101PHCFlowCapacityChartTxt{
	text-align: left;
	font-family:Verdana;
	position:absolute;
	width:360px; 
	height:433px;
	top:250px;
	left:65px;
	line-height: 1.1em;
	font-size:.58em; 
	word-spacing:.1em;
	letter-spacing:-.03em;
	color:#000000;
	z-index: 200;
	}
#E101PHCDropRightPhoto {
	width: 60px; 
	height:433px; 
	position:absolute;
	opacity:.89;
	filter:alpha(opacity=100);
	z-index:5; 
	top:138px; 
	left:831px;
	background: -webkit-gradient(linear, left top, right top, from(#000000), to(Transparent));
	background: -moz-linear-gradient(right,  transparent,  #000000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='transparent', endColorstr='#000000');
	}
#E101PHCDropLeftPhoto {
	width: 186px; 
	height:433px; 
	position:absolute;
	opacity:.89;
	filter:alpha(opacity=100);
	z-index:5; 
	top:138px; 
	left:19px;
	background: -webkit-gradient(linear, left top, right top, from(Transparent), to(#000000));
	background: -moz-linear-gradient(right,  #000000,  transparent);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='transparent');
	}
/*------------E101PHCXtra Booster Page------------*/


#E101PHCXtraLogo {
	width: 179px; 
	height: 80px; 
	top: 130px; 
	left: 45px;
	position:absolute; 
	background:url(E101-PHC-Xtra_Logo.png);
	Background-repeat:no-repeat;
	z-index:15;
	}

#E101PHCXtraDiagramLogo {
	width: 179px; 
	height: 80px; 
	top: 345px; 
	left: 10px;
	position:absolute; 
	background:url(E101-PHC-Xtra_Logo2.png);
	Background-repeat:no-repeat;
	z-index:15;
	}
#E101PHCXtraPhoto {
	width: 650px; 
	height: 433px; 
	top: 138px; 
	left: 125px;
	position:absolute; 
	background:url(Picture_123.png);
	Background-repeat:no-repeat;
	z-index:4;
	}

#E101PHCXtraTxt{
	font-family:Verdana;
	position:absolute;
	width:215px; 
	height:233px;
	top:220px;
	left:45px;
	line-height: 1.1em;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em; 
	color:#FFFFFF;
	z-index: 200;
	}
#E101PHCXtraBoosterTextRightSide{	
	text-align: left;
	position:absolute;
	width:190px; 
	height:233px;
	top:150px;
	left:687px;
	line-height: 1.3em;
	font-size:.7em; 
	word-spacing: .09em;
	letter-spacing:-.03em; 
	color:#000000;
	z-index: 200;
	}
#E101PHCXtraIndent{
	text-align: left;
	position:absolute;
	width:180px; 
	height:233px;
	top:372px;
	left:687px;
	line-height: 1.3em;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em;  
	color:#000000;
	z-index: 200;
	}
#FlowCapacityChartE101PHCXtra{
	width: 418px; 
	height: 200px; 
	top: 20px; 
	left: 22px;
	position:absolute; 
	background:url(FlowCapacityChart_E101PHCXtra.png);
	Background-repeat:no-repeat;
	z-index:15;
	}
#E101PHCXtraFlowCapacityChartTxt{
	text-align: left;
	font-family:Verdana;
	position:absolute;
	width:345px; 
	height:233px;
	top:245px;
	left:80px;
	line-height: 1.1em;
	font-size:.6em; 
	word-spacing:.1em;
	letter-spacing:-.03em; 
	color:#000000;
	z-index: 200;
	}
#E101PHCXtraDropRightPhoto {
	width: 130px; 
	height:433px; 
	position:absolute;
	opacity:.89;
	filter:alpha(opacity=100);
	z-index:5; 
	top:138px; 
	left:774px;
	background: -webkit-gradient(linear, left top, right top, from(#000000), to(Transparent));
	background: -moz-linear-gradient(right,  transparent,  #000000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='transparent', endColorstr='#000000');
	}
#E101PHCXtraDropLeftPhoto {
	width: 106px; 
	height:433px; 
	position:absolute;
	opacity:.89;
	filter:alpha(opacity=100);
	z-index:5; 
	top:138px; 
	left:19px;
	background: -webkit-gradient(linear, left top, right top, from(Transparent), to(#000000));
	background: -moz-linear-gradient(right,  #000000,  transparent);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='transparent');
	}

/*------------BoosterAccessories Page------------*/

#BoosterAccessoriesTxt{
	font-family:Verdana;
	position:absolute;
	width:245px; 
	height:233px;
	top:195px;
	left:40px;
	line-height: 1.1em;
	font-size:.7em; 
	word-spacing:.05em;
	letter-spacing:-.015em; 
	color:#DBDBDB;
	z-index: 200;
	}
#AccessoriesList{font-family:Verdana;
	position:absolute;
	width:244px; 
	height:233px;
	top:340px;
	left:40px;
	line-height: 1.3em;
	font-size:.7em; 
	word-spacing:.05em;
	letter-spacing:-.015em; 
	z-index: 200;
	}
#DuplexBTN{
	width:120px;
	height:20px;
	top:20px;
	left:10px;
	align:center;
	color:#808080;
	font-family:Verdana;
	position:absolute;
	font-size:.95em;
	word-spacing:.05em;
	letter-spacing:-.015em;
	z-index:13; 
	}
#DuplexBTN:hover{color:#DBDBDB}
#DuplexPhoto{
	width: 391px; 
	height: 433px; 
	top: 140px; 
	left: 279px; 
	background: url(Duplex_Mode_R.png);
	position:absolute; 
	z-index:6;
	}
#DuplexTxt{
	width:160px;
	height:20px;
	top:195px;
	left:695px;
	color:#000000;
	font-family:Verdana;
	position:relative;
	line-height: 1.154em;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em; 
	z-index:13;
	}
#TouchScreenBTN{
	width:200px;
	height:20px;
	top:10px;
	left:10px;
	color:#808080;
	font-family:Verdana;
	position:relative;
	font-size:.95em;
	word-spacing:.05em;
	letter-spacing:-.015em;
	z-index:13;
	}
#TouchScreenBTN:hover{color:#DBDBDB;}
#TouchScreenPhoto{
	width: 391px; 
	height: 433px;
	top:140px;
	left:279px;
	background: url(IMG_3813_MONEY_SHOT.png);
	position:absolute; 
	z-index:13;
	}
#TouchScreenTxt{
	width:160px;
	height:20px;
	top:195px;
	left:695px;
	color:#000000;
	font-family:Verdana;
	position:relative;
	line-height: 1.154em;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em; 
	z-index:13;
	}
#StackedBTN{
	width:200px;
	height:10px;
	top:13px;
	left:10px;
	color:#808080;
	font-family:Verdana;
	position:relative;
	font-size:.95em;
	word-spacing:.05em;
	letter-spacing:-.015em;
	z-index:13;
	}
#StackedBTN:hover{color:#DBDBDB;}
#StackedPhoto{
	width: 391px; 
	height: 433px; 
	top: 140px; 
	left: 279px; 
	color: transparent;
	background: url(IMG_9375.png);
	position:absolute; 
	z-index:5;
	}
#StackedTxt{
	width:160px;
	height:120px;
	top:195px;
	left:695px;
	color:#000000;
	font-family:Verdana;
	position:relative;
	line-height: 1.154em;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em; 
	z-index:13;
	}
#VentlessBTN{
	width:200px;
	height:20px;
	top:16px;
	left:10px;
	color:#808080;
	font-family:Verdana;
	position:relative;
	font-size:.95em;
	word-spacing:.05em;
	letter-spacing:-.015em;
	z-index:13;
	}
#VentlessBTN:hover{color:#DBDBDB;}
#VentlessPhoto{
	display:block;
	width: 391px; 
	height: 433px; 
	top: 140px; 
	left: 279px; 
	color: transparent;
	background: url(Picture_906.png);
	position:absolute; 
	z-index:5;
	}
#VentlessTxt{
	width:160px;
	height:20px;
	top:195px;
	left:695px;
	color:#000000;
	font-family:Verdana;
	position:relative;
	line-height: 1.154em;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em; 
	z-index:13;
	}
#TransBTN{
	width:180px;
	height:20px;
	top:21px;
	left:10px;
	color:#808080;
	font-family:Verdana;
	position:relative;
	font-size:.95em;
	word-spacing:.05em;
	letter-spacing:-.015em;
	z-index:13;
	}
#TransBTN:hover{color:#DBDBDB;}
#TransclosurePhoto{
	width: 391px; 
	height: 433px; 
	top: 140px; 
	left: 279px; 
	background: url(IMG_4174.png);
	position:absolute; 
	z-index:205;
	}
#TransclosureTxt{
	width:160px;
	height:20px;
	top:195px;
	left:695px;
	color:#000000;
	font-family:Verdana;
	position:relative;
	line-height: 1.154em;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em; 
	z-index:13;
	}
#DuplexTransBTN{
	width:220px;
	height:20px;
	top:25px;
	left:10px;
	color:#808080;
	font-family:Verdana;
	position:relative;
	font-size:.95em;
	word-spacing:.05em;
	letter-spacing:-.015em;
	z-index:13;
	}
#DuplexTransBTN:hover{color:#DBDBDB;}
#DuplexTransclosurePhoto{
	width:391px;
	height:433px;
	top:140px;
	left:279px;
	background: url(IMG_3858.png);
	position:absolute; 
	z-index:205;
	}
#DuplexTransclosureTxt{
	width:160px;
	height:120px;
	top:195px;
	left:695px;
	color:#000000;
	font-family:Verdana;
	position:relative;
	line-height: 1.154em;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em; 
	z-index:13;
	}
/*------------Ovens and Furnaces Page------------*/


#OvensandFurnacesTxt {
	font-family:Verdana; 
	width: 150px; 
	height: 300px;
	color:#DBDBDB;
	font-size:.7em; 
	word-spacing:.1em;
	position:absolute; 
	letter-spacing:-.03em; 
	top:165px;
	left:60px;
	z-index: 13;
	}

#OvensandFurnacesList{
	font-family:Verdana; 
	width: 160px; 
	height: 300px;
	color:#000000;
	position:absolute; 
	line-height: 1.3em;
	font-size:.7em; 
	word-spacing: .09em;
	letter-spacing:-.03em;
	top: 165px; 
	left:683px; 
	z-index: 13;
	}

#OvensandFurnacesPhoto {
	width: 753px; 
	height: 433px; 
	top: 138px; 
	left: 19px;
	position:absolute; 
	background:url(furnance_new_crop.png);
	Background-repeat:no-repeat;
	z-index:4;
	}

#OvensandFurnacesDropRightPhoto {
	width: 230px; 
	height:433px; 
	position:absolute;
	opacity:.89;
	filter:alpha(opacity=100);
	z-index:5; 
	top:138px; 
	left:674px;
	background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(Transparent));
	background: -moz-linear-gradient(right,  transparent,  #000000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='transparent', endColorstr='#000000');
	}

/*------------Valve Train Page------------*/


#ValveTrainText {	
	font-family:Verdana;
	position:absolute;
	width:150px; 
	height:233px;
	top:165px;
	left:60px;
	line-height: 1.154em;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em; 
	color:#DBDBDB;
	z-index: 200;
	}
#ValveTrainPhoto {
	width: 650px; 
	height: 433px; 
	top: 138px; 
	left: 145px;
	position:absolute; 
	background:url(Picture_957.gif);
	Background-repeat:no-repeat;
	z-index:4;
	}
#ValveTrainTextRightSide{
	font-family:Verdana;	
	text-align: left;
	position:absolute;
	width:190px; 
	height:233px;
	top:165px;
	left:700px;
	line-height: 1.3em;
	font-size:.7em; 
	word-spacing: .09em;
	letter-spacing:-.03em; 
	color:#000000;
	z-index: 200;
	}
#ValveTrainDropRightPhoto {
	width: 110px; 
	height:433px; 
	position:absolute;
	opacity:.89;
	filter:alpha(opacity=100);
	z-index:5; 
	top:138px; 
	left:795px;
	background: -webkit-gradient(linear, left top, right top, from(#000000), to(Transparent));
	background: -moz-linear-gradient(right,  transparent,  #000000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='transparent', endColorstr='#000000');
	}
#ValveTrainDropLeftPhoto {
	width: 126px; 
	height:433px; 
	position:absolute;
	opacity:.89;
	filter:alpha(opacity=100);
	z-index:5; 
	top:138px; 
	left:19px;
	background: -webkit-gradient(linear, left top, right top, from(Transparent), to(#000000));
	background: -moz-linear-gradient(right,  #000000,  transparent);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='transparent');
	}

/*------------Packaged Heaters Page------------*/


#PackagedHeaters {
	font-family:Verdana; 
	width: 160px; 
	height: 300px;
	color:#DBDBDB;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em;
	position:absolute;
	top: 210px; 
	left:60px; 
	z-index: 13;
	}
#PackagedSystemList {
	font-family:Verdana; 
	width: 200px; 
	height: 430px;
	color:#000000;
	font-size:.69em; 
	position:absolute; 
	line-height: 12px;
	word-spacing:.4px;
	top: 143px; 
	left:675px; 
	z-index: 13;
	}

#WhiteBkgrd {
	width: 567px; 
	height: 457px; 
	top:125px; 
	left:19px; 
	position:absolute; 
	background:url(Packaged_Heat_whiteblk.gif); 
	Background-repeat:no-repeat; 
	z-index:4;
	}
#DropRightWhiteBkgrd {
	width: 10px;
	height:457px; 
	position:absolute;
	opacity:0.6;
	filter:alpha(opacity=100);
	z-index:10; 
	top:125px; 
	left:585px;
	background: -webkit-gradient(linear, left top, right top, from(#000000), to(Transparent));
	background: -moz-linear-gradient(right,  transparent,  #000000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='transparent', endColorstr='#000000');
	}

#LightBlueBkgrd {
	height: 82px; 
	width: 861px; 
	top:582px; 
	left:19px; 
	position:absolute; 
	background:url(Packaged_Heat_lightblueblk.gif);
	Background-repeat:no-repeat;
	z-index:8;
	}

#SolidWhiteBkgrd {
	width: 228px;
	height:465px;
	position:absolute; 
	z-index:1; 
	top:120px; 
	left:652px; 
	background-color:#FFFFFF;
	}
#DropRightSolidWhiteBkgrd {
	width: 10px;
	height:541px; 
	position:absolute;
	opacity:0.6;
	filter:alpha(opacity=100);
	z-index:12; 
	top:125px; 
	left:880px;
	background: -webkit-gradient(linear, left top, right top, from(#000000), to(Transparent));
	background: -moz-linear-gradient(right,  transparent,  #000000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='transparent', endColorstr='#000000');
	}
#DropBottomSolidWhiteBkgrd {
	width: 861px;
	height:13px; 
	position:absolute; 
	opacity:.9;
	filter:alpha(opacity=100);
	z-index:8; 
	top:570px; 
	left:19px;
	background: -webkit-gradient(linear, left top, left bottom, from(Transparent), to(#000000));
	background: -moz-linear-gradient(bottom,  #000000,  Transparent);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='transparent');
	}
#PackageSolidWhiteBkgrd{
	width: 207px;
	height:457px;
	position:absolute; 
	z-index:6; 
	top:125px; 
	left:665px; 
	background-color:#FFFFFF;
	opacity:0.9;
	}


#SolidWhiteBkgrdBottom {
	width: 861px;
	height:50px;
	position:absolute;
	z-index:3; 
	top:620px; 
	left:19px; 
	background-color:#FFFFFF;
	z-index:9;
	}

#PackagedHeaterPhoto {
	height: 433px; 
	width: 650px; 
	top: 138px; 
	left: 110px;
	position:absolute; 
	background:url(Picture_350_2.png);
	Background-repeat:no-repeat;
	z-index:4;
	}

#TransBLK {
	width: 190px;
	height:457px;
	position:absolute;
	z-index:3; 
	top:125px; 
	left:0px; 
	background-color:#000000;
	z-index:12;
	opacity:0.5;
	}
#DropRightBlkTrans {
	width: 10px; 
	height:457px; 
	position:absolute;
	opacity:0.6;
	filter:alpha(opacity=100);
	z-index:12; 
	top:125px; 
	left:275px;
	background: -webkit-gradient(linear, left top, right top, from(#000000), to(Transparent));
	background: -moz-linear-gradient(right,  transparent,  #000000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='transparent', endColorstr='#000000');
	}
#PlugAndPlayLogo {
	width:200px;
	height:63px; 
	top: 585px; 
	left:760px; 
	position:absolute; 
	background:url(Plug_and_Play_Logo.gif); 	
	background-repeat: no-repeat;
	z-index:200;}
#fade { /*--Transparent background layer--*/
	display: none; /*--hidden by default--*/
	background: #000;
	position: fixed;
	left: 0; 
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: .20;
	z-index: 9998;
	}
.popup_block {
	display: none; /*--hidden by default--*/
	background: #fff; 
	height:370px;
	padding: 20px;
	border: 2px solid #000;
	float: left;
	font-size: 1.2em;
	position: absolute;
	top: 373px;
	left: 320px;
	z-index: 99998;
	/*--CSS3 Box Shadows--*/
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	}

img.btn_close {
	width:32px; 
	height:28px; 
	z-index: 99999; 
	background:url(closeX.gif);
	position: absolute; 
	top:2px; 
	right:2px;}

/*--Making IE6 Understand Fixed Positioning--*/
*html #fade {
	position: absolute;
	}
*html .popup_block {
	position: absolute;
	}

#Button {
	z-index: 9999; 
	position:absolute; 
	top:640px; 
	left:25px; 
	text-decoration: none;
	font-family:Verdana; 
	color:#D21D1F;
	}
#PhotoOne {
	background:url(Air_Heat.gif); 
	background-repeat: no-repeat; 
	Width: 190px; 
	height: 125px; 
	top:10px; left:10px; 
	position: absolute; 
	z-index: 99999;
	}
#PhotoTwo {
	background:url(Low_NOx_Pkg.gif); 
	background-repeat: no-repeat;
	Width: 190px; 
	height: 145px; 
	top:142px; 
	left:10px; 
	position: absolute; 
	z-index: 99999;
	}
#PhotoThree {
	background:url(Electric_Heat.gif);
	background-repeat: no-repeat; 
	Width: 190px; 
	height: 274px; 
	top:280px; 
	left:10px; 
	position: absolute; 
	z-index: 99999;
	}
#Text {
	width:230px; 
	font-size:7.5pt; 
	font-family:Verdana; 
	top:10px; 
	left: 210px; 
	position: absolute;
	z-index: 99999;}
#RedBrowseBar {
	width: 861px; 
	height: 2px; 
	top: 660px; 
	left: 19px; 
	background-color: #D21D1F; 
	position: absolute; 
	z-index: 50;
	}

#PackagedHeaterRightDropPhoto {
	width: 130px; 
	height:433px; 
	position:absolute;
	opacity:.89;
	filter:alpha(opacity=100);
	z-index:5; 
	top:138px; 
	left:754px;
	background: -webkit-gradient(linear, left top, right top, from(#000000), to(Transparent));
	background: -moz-linear-gradient(right,  transparent,  #000000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='transparent', endColorstr='#000000');
	}
#PackagedHeaterLeftDropPhoto {
	width: 106px; 
	height:433px; 
	position:absolute;
	opacity:.89;
	filter:alpha(opacity=100);
	z-index:5; 
	top:138px; 
	left:19px;
	background: -webkit-gradient(linear, left top, right top, from(Transparent), to(#000000));
	background: -moz-linear-gradient(right,  #000000,  transparent);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='transparent');
	}
/*------------Control Panel Page------------*/

#ControlPanel {
	font-family:Verdana; 
	width: 160px; 
	height: 300px;
	color:#DBDBDB;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em; 
	position:absolute; 
	top: 210px; 
	left:60px; 
	z-index: 13;
	}

#ControlPanelList {
	font-family:Verdana; 
	width: 200px; 
	height: 300px;
	color:#000000;
	font-size:.69em; 
	position:absolute; 
	line-height: 16px;
	word-spacing:.4px;
	top: 150px; 
	left:680px; 
	z-index: 13;
	}
#ControlPanelPhoto {
	height: 433px; 
	width: 660px; 
	top: 138px; 
	left: 142px; 
	position:absolute; 
	background:url(Picture_812.gif);
	Background-repeat:no-repeat;
	z-index:4;
	}

#ControlPanelRightPhotoDrop {
	width: 230px; 
	height:433px; 
	position:absolute;
	opacity:.89;
	filter:alpha(opacity=100);
	z-index:5; 
	top:138px; 
	left:673px;
	background: -webkit-gradient(linear, left top, right top, from(#000000), to(Transparent));
	background: -moz-linear-gradient(right,  transparent,  #000000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='transparent', endColorstr='#000000');
	}
#ControlPanelLeftPhotoDrop {
	width: 251px; 
	height:433px; 
	position:absolute;
	opacity:.89;
	filter:alpha(opacity=100);
	z-index:5; 
	top:138px; 
	left:19px;
	background: -webkit-gradient(linear, left top, right top, from(Transparent), to(#000000));
	background: -moz-linear-gradient(right,  #000000,  transparent);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='transparent');
	}

/*------------Web Drying Page------------*/


#WebDryingText {
	font-family:Verdana; 
	width: 160px; 
	height: 300px;
	color:#DBDBDB; 
	position:absolute; 
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em;
	top: 165px; 
	left:65px; 
	z-index: 13;
	}

#WebDryingList{
	font-family:Verdana; 
	width: 195px; 
	height: 200px;
	color:#000000;
	font-size:.69em; 
	position:absolute; 
	line-height: 16px;
	word-spacing:.4px;
	top: 165px; 
	left:690px; 
	z-index: 13;
	}
#WebDryPhoto{
	height: 433px; 
	width: 433px; 
	top: 138px; 
	left: 270px; 
	position:absolute; 
	background:url(webdryingsqcrop.png);
	Background-repeat:no-repeat;
	z-index:4;
	}
#E101PHCXtraDropRightPhoto {
	width: 130px; 
	height:433px; 
	position:absolute;
	opacity:.89;
	filter:alpha(opacity=100);
	z-index:5; 
	top:138px; 
	left:774px;
	background: -webkit-gradient(linear, left left, right right, from(transparent), to(#00000));
	background: -moz-linear-gradient(right,  transparent,  #000000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='transparent', endColorstr='#000000');
	}
#E101PHCXtraDropLeftPhoto {
	width: 106px; 
	height:433px; 
	position:absolute;
	opacity:.89;
	filter:alpha(opacity=100);
	z-index:5; 
	top:138px; 
	left:19px;
	background: -webkit-gradient(linear, left left, right right, from(#000000), to(transparent));
	background: -moz-linear-gradient(right,  #000000,  transparent);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='transparent');
	}



/*------------Jobs Page------------*/


#JobsTxt {
	font-family:Verdana;
	color:#DBDBDB;
	width:200px;
	font-size:.7em; 
	position:absolute;
	top:225px; 
	left:65px; 
	z-index:244;
	}
#JobsPhoto {
	width: 650px; 
	height: 433px; 
	top: 138px; 
	left: 230px; 
	background:url(jobs_photo.gif); 
	position:absolute; z-index: 11;
	}
#JobsDropLeftPhoto {
	width: 300px; 
	height:433px; 
	position:absolute;
	opacity:.89;
	filter:alpha(opacity=100);
	z-index:5; 
	top:138px; 
	left:19px;
	background: -webkit-gradient(linear, left left, right right, from(#000000), to(transparent));
	background: -moz-linear-gradient(right,  #000000,  transparent);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='transparent');
	}

/*------------Contact Us Page------------*/



#AddressETC {
	font-family:Verdana;
	color:#000000;
	font-size:.9em; 
	position:absolute;
	line-height:15px;
	top:140px; 
	left:35px; 
	z-index:243;
	}

#PhoneNumber{
	font-family:Verdana; 
	color:#000000;
	font-size:.77em; 
	position:absolute; 
	line-height:12px;
	top:175px; 
	left:35px; 
	z-index:243;
	}

#Subject {
	font-family:Verdana;
	color:#000000;
	font-size:.8em;
	letter-spacing: -.4px; 
	position:absolute; 
	top: 240px; 
	left:35px;
	z-index: 211;
	}
#Name {
	font-family:Verdana;
	color:#000000; 
	font-size:.8em;
	letter-spacing: -.4px;
	position:absolute; 
	top: 288px; 
	left:35px;
	z-index: 210;
	}
#Company {
	font-family:Verdana; 
	color:#000000;
	position:absolute; 
	font-size:.8em;
	letter-spacing: -.4px;
	top: 334px; 
	left:35px; 
	z-index: 225;
	}
#Email {
	font-family:Verdana;
	color:#000000;
	position:absolute;  
	font-size:.8em;
	letter-spacing: -.4px;
	top: 381px; 
	left:35px; 
	z-index: 213;
	}
#Message {
	font-family:Verdana; 
	color:#000000;
	position:absolute; 
	font-size:.8em;
	letter-spacing: -.4px;
	top: 430px; 
	left:35px; 
	z-index:214;
	}
#ContactForm1 {
	position:absolute; 
	top: 226px; 
	left:-8px; 
	z-index: 226;
	}
#ContactForm {
	position:absolute; 
	top: 243px; 
	left:-8px; 
	z-index: 226;
	}
#BackMap {
	position:absolute; 
	top:638px; 
	font-size:9pt;
	text-decoration: none;
	left:780px;
	font-family:Verdana; 
	color:#D21D1F;
	z-index:14;
	}
#DirectButtonTxt {
	position:absolute; 
	top:638px; 
	font-size:9pt;
	text-decoration: none;
	left:700px;
	font-family:Verdana; 
	color:#D21D1F;
	white-space:pre;
	z-index:14;
	}
#EmployeeDirectory {
	margin-right:10px;
	font-family:Verdana; 
	line-height:8px;
	color:#000000; 
	text-align:right; 
	width:250px; 
	height:430px;
	font-size:9pt; 
	position:absolute; 
	white-space:pre;
	top: 135px; 
	left:615px; 
	z-index: 25; 
	overflow:scroll;
	}
#googlemap {
	top: 140px;
	left:420px;
	position:absolute;
	z-index: 227;
	}
#SendButton1 {
	top: 383px;
	left:39px;
	position:absolute;
	z-index: 228;
	}
#SendButton {
	top: 345SSpx;
	left:39px;
	position:absolute;
	z-index: 228;
	}
#PhoneNumbers {
	font-family:Verdana; 
	line-height:11.7px;
	color:#000000;
	font-size:.795em; 
	position:absolute; 
	white-space:pre;
	}


/*------------Safety Audits Page------------*/


#SafetyAuditPhoto {
	width: 650px; 
	height: 433px; 
	top: 138px; 
	left: 230px; 
	background:url(Safety_Audits.gif); 
	position:absolute; 
	z-index: 11;
	}
#SafetyAudits {
	font-family:Verdana; 
	width: 210px; 
	height: 300px;
	color:#DBDBDB;
	font-size:.7em; 
	position:absolute; 
	line-height: 14px;
	top: 157px; 
	left:50px; 
	z-index: 13;
	}
#SafetyAuditsLabel {
	width:121px; 
	height:121px; 
	top: 445px; 
	left:750px; 
	position:absolute; 
	background:url(SafetyAuditPhoto.gif); 
	background-repeat: no-repeat;
	z-index:12;
	}
#NFPALogo {
	width:55px; 
	height:63px;  
	top: 590px; 
	left:50px;  
	position:absolute; 
	background:url(nfpa_logo.png); 
	background-repeat: no-repeat;
	z-index:150;
	}
#SafetyAuditTransBLK {	
	width: 301px;
	height:457px;
	position:absolute;
	z-index:3; 
	top:125px; 
	left:19px; 
	background-color:#000000;
	z-index:12;
	opacity:0.85;
	}
#SafetyAuditDropRightBlkTrans {
	width: 10px;
	height:457px; 
	position:absolute;
	opacity:0.85;
	filter:alpha(opacity=100);
	z-index:12; 
	top:125px; 
	left:320px;
	background: -webkit-gradient(linear, left top, right top, from(#000000), to(Transparent));
	background: -moz-linear-gradient(right,  transparent,  #000000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='transparent', endColorstr='#000000');
	}
#SafetyAuditWhiteBkgrd {
	width: 861px; 
	height: 458px; 
	top:125px; 
	left:19px; 
	position:absolute; 
	background:url(full_whiteblk.gif); 
	Background-repeat:no-repeat; 
	z-index:4;
	}




/*------------Spectrum Page------------*/


#Spectrum {
	width:303px; 
	height:40px; 
	position:absolute; 
	background:url(SPECTRUMlogo.gif);
	top: 157px; 
	left:45px; 
	z-index: 15;
	}
#SpectrumProviding {
	top: 135px; 
	left:45px;
	font-family:Georgia;
	position:absolute; 
	background-repeat: no-repeat;
	font-size:.9em; 
	color:#000000;
	z-index:12;
	}
#SpectrumExpertise {
	top: 200px; 
	left:165px;
	font-family:Georgia;
	position:absolute; 
	background-repeat: no-repeat;
	font-size:.9em; 
	color:#000000;
	z-index:12;
	}
#SpectrumLogo {
	width:350px; 
	height:387px; 
	top: 300px; 
	left:65px; 
	position:absolute; 
	background:url(SPECTRUM.gif); 
	background-repeat: no-repeat;
	z-index:7;
	}
#SpectrumText {
	font-family:Georgia; 
	width: 300px; 
	height: 300px;
	color:#000000;
	font-size:.75em; 
	position:absolute; 
	line-height: 14px;
	top: 235px; 
	left:45px; 
	z-index: 13;
	} 
#EnergyEfficiency {
	font-family:Georgia; 
	width: 450px; 
	height: 400px;
	font-size:.75em; 
	position:absolute; 
	color:#424242; 
	line-height: 13px;
	top: 150px; 
	left:430px; 
	z-index: 14;
	overflow:scroll;
	}
#Header {
	font-family:Georgia; 
	font-weight:bold;
	font-size:1em; 
	position:absolute; 
	letter-spacing: -.05em;
	top: 10px; 
	left:145px; 
	z-index: 15;
	}
#Previous {
	font-family:Georgia;
	font-weight:bold;
	font-size:.7em; 
	white-space:pre;
	position:absolute; 
	top: 640px; 
	left: 775px; 
	z-index: 25;
	text-decoration: 
	none;
	}
#Next {
	font-family:Georgia;
	font-weight:bold;
	font-size:.7em; 
	white-space:pre;
	position:absolute; 
	top: 640px; 
	left: 845px; 
	z-index: 26;
	text-decoration: none;
	}
#SpectrumSolidWhiteBkgrd{
	width: 845px;
	height:457px;
	position:absolute; 
	z-index:6; 
	top:125px; 
	left:20px; 
	background-color:#FFFFFF;
	opacity:0.7;
	}
SpectrumTransBLK {	
	width: 340px;
	height:457px;
	position:absolute;
	z-index:3; 
	top:125px; 
	left:19px; 
	background-color:#000000;
	z-index:12;
	}




/*------------Inside the Job Page------------*/

#InsidetheJob {
	font-family:Georgia; 
	width: 450px; 
	height: 500px;
	font-size:.75em; 
	position:absolute; 
	color:#424242; 
	line-height: 13px;
	top: 150px; 
	left:410px; 
	z-index: 14;
	overflow:scroll;
	}

#InsideIHOPPhoto {
	width:400px; 
	height:387px; 
	top: 0px; 
	left:20px; 
	position:absolute; 
	background:url(InsideJobPA.gif); 
	background-repeat: no-repeat;
	z-index:17;
	}
#PodojilLogo {
	width:171px; 
	height:38px; 
	top: 175px; 
	left:25px; 
	position:absolute; 
	background:url(PodojilLogo.gif); 
	background-repeat: no-repeat;
	z-index:18;
	}
#Philadelphia {
	font-family:Georgia;
	font-size: 1.3em; 
	position:absolute; 
	color:#424242; 
	line-height: 13px;
	letter-spacing: -1px;
	top:190px; 
	left:215px; 
	z-index: 20;
	}
#PABoosterPhoto {
	width:400px; 
	height:387px; 
	top: 555px; 
	left:32px; 
	position:absolute; 
	background:url(PABooster.gif); 
	background-repeat: no-repeat;
	z-index:21;
	}
#Boston {
	font-family:Georgia;
	font-size: 1.3em; 
	position:absolute; 
	color:#424242; 
	line-height: 13px;
	letter-spacing: -1px;
	top:180px; 
	left:125px; 
	z-index: 20;
	}
#InsideFishPierPhoto {
	width:400px; 
	height:387px; 
	top: 0px; 
	left:20px; 
	position:absolute; 
	background:url(InsideJobMA.gif); 
	background-repeat: no-repeat;
	z-index:22;
	}
#PJKennedyLogo {
	width:94px; 
	height:102px; 
	top: 175px; 
	left:25px; 
	position:absolute; 
	background:url(PJKennedyLogo.gif); 
	background-repeat: no-repeat;
	z-index:18;
	}
#TextIndent {
	font-family:Georgia; 
	width: 280px; 
	height: 540px;
	font-size:1em; 
	position:absolute; 
	color:#424242; 
	line-height: 13px;
	top: 200px; 
	left:125px; 
	z-index: 2014;
	}
#InsideForensicPhoto {
	width:400px; 
	height:387px; 
	top: 0px; 
	left:20px; 
	position:absolute; 
	background:url(InsideJobCT.gif); 
	background-repeat: no-repeat;
	z-index:22;
	}
#NutmegLogo {
	width:171px; 
	height:56px; 
	top: 145px; 
	left:25px; 
	position:absolute; 
	background:url(NutmegLogo.gif); 
	background-repeat: no-repeat;
	z-index:18;
	}
#Meriden {
	font-family:Georgia;
	font-size: 1.3em; 
	position:absolute; 
	color:#424242; 
	line-height: 13px;
	letter-spacing: -1px;
	top:165px; 
	left:215px; 
	z-index: 20;
	}
#InsideJobNextBTN {
	font-family:Georgia;
	font-size: .85em; 
	position:absolute; 
	color:#506580; 
	line-height: 13px;
	letter-spacing: -1px; 
	font-weight:bold;
	top:650px; 
	left:825px; 
	z-index: 20; 	
	text-decoration:none;
	}




/*------------History Page------------*/

#HistoryTxt {
	font-family:Georgia;
	font-size: 1.3em; 
	position:absolute; 
	color:#424242; 
	line-height: 13px;
	letter-spacing: -1px;
	top:165px; 
	left:215px; 
	z-index: 20;
	}




/*------------Philosophy Page------------*/

#PhilosophyTxt {
	position:absolute;
	font-family:Verdana;
	width:240px; 
	height:200px;
	top:145px;
	left:55px;
	font-size:.718em; 
	word-spacing:.1em;
	letter-spacing:-.03em; 
	color:#a9a9a9;
	z-index: 200;
	}
#PhilosophyTxtList {
	position:absolute;
	font-family:Verdana;
	width:250px; 
	height:200px;
	top:220px;
	left:0px;
	font-size:.95em; 
	word-spacing:.1em;
	letter-spacing:-.03em;
	line-height:1.35em; 
	color:#a9a9a9;
	z-index: 200;
	}

#PhilosophyPhoto {
	width: 600px; 
	height: 433px; 
	top: 190px; 
	left: 300px;
	background-repeat:no-repeat;    
	background:url(Picture3.gif);
	background-repeat:no-repeat; 
   	position:absolute; 
	z-index: 11;
	}



/*------------The Company Page------------*/


#TheCompany {
	position:absolute;
	font-family:Verdana;
	width:230px; 
	height:233px;
	top:175px;
	left:50px;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em; 
	color:#DBDBDB;
	z-index: 200;
	}
#TheCompanyPhoto {
	width: 565px; 
	height: 433px; 
	top: 138px; 
	left: 315px;
	background-repeat:no-repeat; 
	background:url(Picture2.gif); 
	position:absolute; 
	z-index: 11;
	}


/*------------Parts Line Card------------*/

#LineCard{	
	position:absolute;
	font-family:Verdana;
	width:635px; 
	height:300px;
	top:250px;
	left:135px;
	font-size:.7em; 
	word-spacing:.1em;
	line-height: 13px
	letter-spacing:-.03em; 
	color:#000000;
	overflow:scroll;
	z-index: 5;
	}
#LightBlueBox{
	width:635px;
	height:295px;
	top:250px;
	left:135px;
	background-color:#DBDBDB;
	position:absolute;
	z-index:5;}
#DropRight2 {
	width: 10px;
	height:283px; 
	position:absolute;
	opacity:.7;
	filter:alpha(opacity=100);
	z-index:10; 
	top:250px; 
	left:135px;
	background: -webkit-gradient(linear, left top, right top, from(#000000), to(Transparent));
	background: -moz-linear-gradient(right,  Transparent,  #000000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000');
	}


#DropLeft2 {
	width: 6px;
	height:283px; 
	position:absolute;
	opacity:.7;
	z-index:10; 
	top:250px; 
	left:764px;
	background: -webkit-gradient(linear, left top, right top, from(Transparent), to(#000000));
	background: -moz-linear-gradient(right,  #000000,  Transparent);
	}
#PartsTopDrop {
	width: 635px;
	height:10px; 
	position:absolute;
	opacity:.7;
	z-index:10; 
	top:250px;
	left:135px;
	background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(Transparent));
	background: -moz-linear-gradient(bottom,  Transparent,  #000000);
	}
#PartsBottomDrop {
	width: 635px;
	height:6px; 
	position:absolute;
	opacity:.7;
	z-index:10; 
	top:527px;
	left:135px;
	background: -webkit-gradient(linear, left top, left bottom, from(Transparent), to(#000000));
	background: -moz-linear-gradient(bottom,  #000000,  Transparent);
	}
#OneStop{
	width:164px; 
	height:100px; 
	position: absolute; 
	white-space:pre;    
	background:url(One_Stop.png);
	background-repeat:no-repeat; 
   	top:140px; 
	left:114px; 
	z-index:20;
	}
#PartsHeader{
	text-align:center;
	width:700px;
	height:50px;
	top:225px;
	left:50px;
	font-size:1.1em;
	position:absolute;
	z-index: 20;
	}
#PartsList{
	width:490px;
	height:50px;
	top: 30px;
	left:60px;
	position:absolute;
	z-index: 20;
	}
#PartsHeader2{
	width:480px;
	height:50px;
	top:620px;
	left:50px;
	font-size:1.15em;
	position:absolute;
	z-index: 20;
	}
#PartsList2{
	width:400px;
	height:50px;
	top:690px;
	left:60px;
	position:absolute;
	z-index: 20;
	}
#PartsHeader3{
	width:400px;
	height:50px;
	top:830px;
	left:60px;
	font-size:1.15em;
	position:absolute;
	z-index: 20;
	}
#PartsList3{width:400px;
	height:50px;
	top:900px;
	left:60px;
	position:absolute;
	z-index: 20;
	}
#PartsHeader4{
	width:350px;
	height:50px;
	top:1030px;
	left:60px;
	position:absolute;
	z-index: 20;
	}
#PartsList4{width:490px;
	height:50px;
	top:1110px;
	left:60px;
	position:absolute;
	z-index: 20;
	}
#PartsList42{
	width:490px;
	height:100px;
	top:30px;
	left:0px;
	position:absolute;
	z-index: 20;
	}	
#PartsHeader5{
	width:600px;
	height:33px;
	top:625px;
	left:155px;
	background:url(parts_bottom_title.gif);
	position:absolute;
	z-index: 20;
	}
#PrintableLineCard{
	width:200px;
	height:44px;
	top:585px;
	left:135px;
	position:absolute;
	z-index: 20;
	}

#container2{
	width:200px;
	height:44px;
	top:555px;
	left:690px;
	position:absolute;
	z-index: 20;
	}
#infomanufacturers{
	width:165px; 
	height:520px; 
	top:130px; 
	left:780px;
	background-color:#FFFFFF;
	border: 1px solid #000;
	position:absolute; 
	z-index:219;
	}

/*------------Parts by Manufacturer Page------------*/

#AntunesLogoLarge {
	width:223px; 
	height:73px; 
	top:140px; 
	left:25px;
	background:url(PartsByManLogos/AntunesLogoLarge.gif);
	position:absolute; 
	z-index:224;
	}

#AscoLogoLarge {
	width:200px; 
	height:80px; 
	top:145px; 
	left:30px;
	background:url(PartsByManLogos/AscoLogoLarge.gif);
	position:absolute; 
	z-index:225;
	}

#BryanDonkinLogoLarge {
	width:289px; 
	height:305px; 
	top:175px; 
	left:558px;
	background:url(PartsByManLogos/BryanDonkinLogoLarge.gif);
	position:absolute; 
	z-index:225;
	}

#DuragLogoLarge {
	width:284px; 
	height:57px; 
	top:175px; 
	left:558px;
	background:url(PartsByManLogos/DuragLogoLarge.gif);
	position:absolute; 
	z-index:225;
	}

#DwyerLogoLarge {
	width:300px; 
	height:151px; 
	top:175px; 
	left:558px;
	background:url(PartsByManLogos/DwyerLogoLarge.gif);
	position:absolute; 
	z-index:225;
	}

#EclipseLogoLarge {
	width:200px; 
	height:84px; 
	top:175px; 
	left:558px;
	background:url(PartsByManLogos/EclipseLogoLarge.gif);
	position:absolute; 
	z-index:225;
	}


#EmonLogoLarge {
	width:173px; 
	height:66px; 
	top:175px; 
	left:558px;
	background:url(PartsByManLogos/EmonLogoLarge.gif);
	position:absolute; 
	z-index:225;
	}

#HauckLogoLarge {
	width:177px; 
	height:87px; 
	top:145px; 
	left:50px;
	background:url(PartsByManLogos/HauckLogoLarge.gif);
	position:absolute; 
	z-index:225;
	}

#HoneywellLogoLarge {
	width:300px; 
	height:57px; 
	top:175px; 
	left:558px;
	background:url(PartsByManLogos/HoneywellLogoLarge.gif);
	position:absolute; 
	z-index:225;
	}

#MaxitrolLogoLarge {
	width:223px; 
	height:43px; 
	top:175px; 
	left:558px;
	background:url(PartsByManLogos/MaxitrolLogoLarge.gif);
	position:absolute; 
	z-index:225;
	}

#MaxonLogoLarge {
	width:200px; 
	height:70px; 
	top:145px; 
	left:33px;
	background:url(PartsByManLogos/MaxonLogoLarge.gif);
	position:absolute; 
	z-index:225;
	}

#PartlowLogoLarge {
	width:200px; 
	height:27px; 
	top:145px; 
	left:33px;
	background:url(PartsByManLogos/PartlowLogoLarge.gif);
	position:absolute; 
	z-index:225;
	}

#SensusLogoLarge {
	width:184px; 
	height:48px; 
	top:145px; 
	left:33px;
	background-repeat: no-repeat;
	background:url(PartsByManLogos/SensusLogoLarge.gif);
	position:absolute; 
	z-index:225;
	}

#ShinkoLogoLarge {
	width:226px; 
	height:79px; 
	top:175px; 
	left:558px;
	background:url(PartsByManLogos/ShinkoLogoLarge.gif);
	position:absolute; 
	z-index:225;
	}

#SiemensLogoLarge {
	width:300px; 
	height:68px; 
	top:175px; 
	left:558px;
	background:url(PartsByManLogos/SiemensLogoLarge.gif);
	position:absolute; 
	z-index:225;
	}

#KromSchroderLogoLarge {
	width:238px; 
	height:125px;
	top:175px; 
	left:558px;
	background:url(PartsByManLogos/KromschroderLogoLarge.gif);
	position:absolute; 
	z-index:225;
	}

#VulcanLogoLarge {
	width:247px; 
	height:105px; 
	top:105px; 
	left:558px;
	background:url(PartsByManLogos/VulcanLogoLarge.gif);
	position:absolute; 
	z-index:225;
	}

#ProtectionLogoLarge {
	width:300px; 
	height:87px; 
	top:175px; 
	left:558px;
	background:url(PartsByManLogos/ProtectionLogoLarge.gif);
	position:absolute; 
	z-index:225;
	}






#AntunesLogo {
	width:119px; 
	height:39px; 
	top:630px;
	opacity: .5;
	left:98px; 
	background:url(PartsByManLogos/antunesLogo.gif); 
	position:absolute; 
	z-index:200;
	}
#AntunesLogo:hover{opacity: 5;}

#AscoLogo {
	width:59px; 
	height:23px; 
	top:623px;
	opacity: .5;
	left:418px; 
	background:url(PartsByManLogos/ascoLogo.gif);
	position:absolute; 
	z-index:201;
	}
#AscoLogo:hover{opacity: 5;}

#BryanDonkinLogo {
	width:48px; 
	height:51px; 
	top:614px;
	opacity: .5;
	left:475px; 
	background:url(PartsByManLogos/bryandonkinLogo.gif); 
	position:absolute; 
	z-index:203;
	}
#BryanDonkinLogo:hover{opacity: 5;}

#DwyerLogo {
	width:53px; 
	height:27px; 
	top:638px;
	opacity: .5; 
	left:213px; 
	background:url(PartsByManLogos/dwyerLogo.gif); 
	position:absolute; 
	z-index:202;
	background-repeat:no-repeat;
	}
#DwyerLogo:hover{opacity: 5;}

#MaxonLogo {
	width:109px; 
	height:38px; 
	top:626px;
	opacity: .5; 
	left:720px; 
	background:url(PartsByManLogos/maxonLogo.gif); 
	position:absolute; 
	z-index:200;
	}

#MaxonLogo:hover{opacity: 5;}

#KromSchroderLogo {
	width:65px; 
	height:32px; 
	top:596px;
	opacity: .5; 
	left:2px; 
	background:url(PartsByManLogos/kromschroderLogo.gif); 
	position:absolute; 
	z-index:204;
	}
#KromSchroderLogo:hover{opacity: 5;}

#ShinkoLogo {
	width:69px; 
	height:24px; 
	top:622px;
	opacity: .5; 
	left:523px; 
	background:url(PartsByManLogos/shinkoLogo.gif); 
	position:absolute; 
	z-index:139;
	}
#ShinkoLogo:hover{opacity: 5;}

#MaxitrolLogo {
	width:108px; 
	height:21px; 
	top:647px;
	opacity: .5; 
	left:262px; 
	background:url(PartsByManLogos/maxitrolLogo.gif); 
	position:absolute; 
	z-index:151;
	}
#MaxitrolLogo:hover{opacity: 5;}

#VulcanLogo {
	width:87px; 
	height:37px; 
	top:624px;
	opacity: .5; 
	left:788px; 
	background:url(PartsByManLogos/vulcanLogo.gif); 
	position:absolute; 
	z-index:140;
	}
#VulcanLogo:hover{opacity: 5;}

#SensusLogo {
	width:75px; 
	height:19px; 
	top:620px;
	opacity: .5;
	left:635px; 
	background:url(PartsByManLogos/sensusLogo.gif); 
	position:absolute; 
	z-index:141;
	}
#SensusLogo:hover{opacity: 5;}

#ETTERLogo {
	width:105px; 
	height:33px; 
	top:458px;
	opacity: .5; 
	left:8px; 
	background:url(PartsByManLogos/Logo.gif); 
	position:absolute; 
	z-index:142;
	}
#ETTERLogo:hover{opacity: 5;}

#PartlowLogo {
	width:104px; 
	height:13px; 
	top:648px;
	opacity: .5; 
	left:3px; 
	background:url(PartsByManLogos/partlowLogo.gif); 
	position:absolute; 
	z-index:143;
	}
#PartlowLogo:hover{opacity: 5;}

#ProtectionLogo {
	width:124px; 
	height:36px; 
	top:628px;
	opacity: .5; 
	left:594px; 
	background:url(PartsByManLogos/protectionLogo.gif); 
	position:absolute; 
	z-index:144;
	}
#ProtectionLogo:hover{opacity: 5;}

#EclipseLogo {
	width:77px; 
	height:32px; 
	top:638px;
	opacity: .5;
	left:405px; 
	background:url(PartsByManLogos/eclipseLogo.gif); 
	position:absolute; 
	z-index:145;
	}
#EclipseLogo:hover{opacity: 5;}

#HauckLogo {
	width:93px; 
	height:46px; 
	top:605px;
	opacity: .5; 
	left:269px; 
	background:url(PartsByManLogos/hauckLogo.gif); 
	position:absolute; 
	z-index:146;
	}
#HauckLogo:hover{opacity: 5;}

#EmonLogo {
	width:80px; 
	height:30px; 
	top:601px;
	opacity: .5;
	left:802px; 
	background:url(PartsByManLogos/emonLogo.gif); 
	position:absolute; 
	z-index:147;
	}
#EmonLogo:hover{opacity: 5;}

#DuragLogo {
	width:68px; 
	height:13px; 
	top:648px;
	opacity: .5; 
	left:521px; 
	background:url(PartsByManLogos/duragLogo.gif); 
	position:absolute; 
	z-index:148;
	}
#DuragLogo:hover{opacity: 5;}

#HoneywellLogo {
	width:93px; 
	height:17px; 
	top:631px;
	opacity: .5; 
	left:3px; 
	background:url(PartsByManLogos/honeywellLogo.gif); 
	position:absolute; 
	z-index:149;
	}
#HoneywellLogo:hover{opacity: 5;}

#SiemensLogo {
	width:85px; 
	height:19px; 
	top:631px;
	opacity: .5; 
	left:133px; 
	background:url(PartsByManLogos/siemensLogo.gif); 
	position:absolute; 
	z-index:150; 
	}
#SiemensLogo:hover{opacity: 5;}


#LeftGrayBox {
	width: 20px;
	height:100px; 
	position:absolute;
	z-index:6; 
	top:492px; 
	left:0px; 
	background-color:#FFFFFF;
	}
#RightGrayBox {
	width: 20px;
	height:100px; 
	position:absolute;
	z-index:6; 
	top:492px; 
	left:860px; 
	background-color:#FFFFFF;
	}
#RedParts {
	width: 880px;
	height:2px; 
	position:absolute;
	z-index:4; 
	top:544px; 
	left:0px; 
	background-color:#D21D1F;
	}
#SensusText {
	text-align:left;
	font-family:Georgia; 
	width:190px;
	font-size:.7em; 
	color:#000000; 
	letter-spacing:.0001em;
	position:absolute; 
	top:220px; 
	line-height: 1.1em;
	left: 35px; 
	z-index: 26;
	text-decoration:none;
	}
#ThumbnailBackground {
	width:880px; 
	height:100px; 
	position:absolute;
	z-index:2; 
	top:492px;
	left:0px; 
	background-color:#DFDFDE;
	} 
#slideshow {
	list-style:none; 
	color:#FFFFFF
	}
#slideshow span {
	display:none; 
	color:#FFFFFF
	}
#wrapper {
	width:880px;  
	margin:50px auto; 
	display:none
	}
#wrapper * {
	margin:0; 
	padding:0
	}

#fullsize {
	position:relative; 
	width:25px; 
	height:300px; 
	top:160px; 
	left:385px; 
	padding:2px; 
	}
#information {
	position:absolute; 
	bottom:0; 
	top:-5px; 
	left:180px; 
	width:275px; 
	height:0; 
	background:#FFFFFF; 
	color:#000000; 
	overflow:scroll; 
	z-index:200;
	}
#information h3 {
	padding:4px 8px 3px; 
	font-size:17px; 
	color:#D21D1F;
	letter-spacing:-.015em; 
	font-weight: bolder;
	}
#information p {
	padding:0 8px 8px;
	font-size:.7em;
	line-height: 1.1em; 
	text-align:left;
	font-family:Georgia;
	letter-spacing:.0001em;
	}

text-align:left;font-family:Georgia;letter-spacing:.0001em;}
#image {width:160px;}
#image img {
	position:absolute; 
	z-index:25; 
	width:auto
	}
.imgnav {
	position:absolute; 
	width:25%; 
	height:306px; 
	cursor:pointer; 
	z-index:150
	}

#thumbnails {
	margin-top:15px;
	z-index:200;
	}


#slideleft {
	position:absolute; 
	z-index:201; 
	left: 0px; 
	width:20px; 
	top:505px; 
	height:81px; 
	background:url(images/scroll-left.gif) center center no-repeat; 
	background-color:transparent;
	}
#slideright { 
	position:absolute; 
	z-index:201; 
	left:860px; 
	width:20px; 
	top:505px; 
	height:81px; 
	background:transparent url(images/scroll-right.gif) center center no-repeat
	}
#slidearea {
	z-index:4; 
	left:-40px; 
	position:relative; 
	width:880px; 
	margin-left:0px; 
	height:145px; 
	overflow:hidden; 
	top:120px; 
	background-color:transparent;	
	}
#slider {
	position:absolute; 
	left:0; 
	height:81px; 
	z-index:200;
	}
#slider img {
	cursor:pointer; 
	padding:40px; 
	z-index:4; 
	}

#ManBioWhtBkg{
	width: 218px;
	height:367px; 
	position:absolute;
	z-index:8; 
	top:125px; 
	left:20px; 
	background-color:#FFFFFF;
	}
#ManBioDropShadow{
	width: 10px;
	height:502px; 
	position:absolute;
	opacity:0.6;
	filter:alpha(opacity=100);
	z-index:4; 
	top:-10px; 
	left:236px;
	background: -webkit-gradient(linear, left left, right right, from(Transparent), to(#333333));
	background: -moz-linear-gradient(right,  Transparent,  #333333);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='Transparent', endColorstr='#3333333');
	}
#PartsByManDropShadow{
	width: 880px;
	height:10px; 
	position:absolute;
	opacity:0.85;
	filter:alpha(opacity=100);
	z-index:7; 
	top:492px; 
	left:0px;
	background: -webkit-gradient(linear, top top, bottom bottom, from(Transparent), to(#333333));
	background: -moz-linear-gradient(bottom,  Transparent,  #333333);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='Transparent', endColorstr='#333333');
	}
#PartsByManDropShadow2{
	width: 880px;
	height:10px; 
	position:absolute;
	opacity:0.85;
	filter:alpha(opacity=100);
	z-index:7; 
	top:588px; 
	left:0px;
	background: -webkit-gradient(linear, top top, bottom bottom, from(#333333), to(Transparent));
	background: -moz-linear-gradient(bottom,  #333333,  Transparent);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='Transparent');
	}
#LrgProductWhtBkg{
	width: 466px;
	height:367px; 
	position:absolute;
	z-index:3; 
	top:125px; 
	left:414px; 
	background-color:#FFFFFF;
	}
#LrgProductDropShadow{
	width: 10px;
	height:705px; 
	position:absolute;
	opacity:0.6;
	filter:alpha(opacity=100);
	z-index:1; 
	top:-10px; 
	left:880px;
	background: -webkit-gradient(linear, left left, right right, from(Transparent), to(#00000));
	background: -moz-linear-gradient(right,  Transparent,  #000000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='Transparent', endColorstr='#000000');
	}
#LogoNavWhtBkg{
	width: 880px;
	height:75px; 
	position:absolute;
	z-index:3; 
	top:592px; 
	left:0px; 
	background-color:#FFFFFF;
	}


#Manufacturers{
	text-align:left;
	font-family:Georgia; 
	font-weight:bold;
	font-size:.9em; 
	color:#000000;
	position:absolute; 
	top:250px; 
	left: 245px; 
	z-index: 26;
	text-decoration:none;
	}

#Types{
	text-align:left;
	font-family:Georgia; 
	font-weight:bold;
	font-size:.9em; 
	color:#000000;
	position:absolute; 
	top:250px; 
	left: 245px; 
	z-index: 26;
	text-decoration:none;
	}




/*------------Literature Pages------------*/

#LiteratureMenu {
	width: 320px;
	margin-left: 582px;
	margin-top: 123px;
	position:absolute;
	z-index: 25;
	}
accordionEndButton {
	width: 284px;
	height:5px;
	float: left;
	font-family:Verdana;
	font-size:.8em;
	color:#FFFFFF;
	background: #000000;
	cursor: pointer;
	background: -webkit-gradient(linear, left top, left bottom, from(#D21D1F), to(#000000));
	background: -moz-linear-gradient(bottom ,#D21D1F,  #808080 ,#424242 ,#000000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='transparent', endColorstr='#000000');
	position:relative;
	z-index: 99;
	}
.accordionButton {	
	width: 280px;
	height:25px;
	float: left;
	font-family:Verdana;
	font-size:.8em;
	color:#424242;
	padding-top: .3em;
	padding-left: .3em;
	background: #808080;
	cursor: pointer;
	background: -webkit-gradient(linear, left top, left bottom, from(#424242), to(#DBDBDB));
	background: -moz-linear-gradient(bottom, #000000, #424242, #808080 ,#DBDBDB ,#808080 ,#424242 );
	position:relative;
	z-index: 99;
	}
.accordionButton:hover{color:#000000;}	
.accordionContent {	
	width: 330px;
	float: left;
	font-family:Verdana;
	font-size:.7em;
	background: transparent;
	cursor: pointer;
	display: none;
	position:relative;
	z-index: 99;
	}
.accordionBContent {	
	width: 245px;
	height:18px;
	float: left;
	padding-left: 1em;
	padding-top: .4em;
	top:1px;
	margin-left:15px;
	font-family:Verdana;
	color:#424242;
	font-size:.9em;
	background: #FFFFFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#808080), to(#FFFFFF));
	background: -moz-linear-gradient(bottom, #FFFFFF,  #808080);
	position:relative;
	z-index: 99;
	}
.accordionBContent:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#808080));
	background: -moz-linear-gradient(bottom, #FFFFFF,  #DBDBDB);
	color:#D21D1F;
	}
#LiteratureBlkTrans {	
	width: 311px;
	height:457px;
	position:absolute;
	z-index:3; 
	top:125px; 
	left:569px; 
	background-color:#000000;
	z-index:12;
	opacity:0.85;
	}
#LiteratureBlkDropTrans {
	width: 10px;
	height:457px; 
	position:absolute;
	opacity:0.85;
	filter:alpha(opacity=100);
	z-index:12; 
	top:125px; 
	left:559px;
	background: -webkit-gradient(linear, left top, right top, from(transparent) ,to(#000000));
	background: -moz-linear-gradient(right,  #000000,  transparent);
	}
#LiteraturePhoto{	
	width:861px;
	height:533px;
	top:138px;
	left:19px;
	background:url(literaturebkground.gif);
	background-repeat:no-repeat;
	position:absolute;
	z-index:7;
	}
#LiteratureTxt{
	width:400px;
	height:25px;
	top:142px;
	left:578px;
	line-height: 1.1em;
	font-size:.7em; 
	word-spacing:.01em;
	letter-spacing:-.03em; 
	font-family:Verdana;
	position:absolute;
	z-index:20000;
	}

/*------------Terms of Service Page------------*/
#TOSHeadline{
	color:#000000; 
	font-weight:bold; 
	font-family:Verdana;
	font-size:12pt; 
	position:absolute; 
	z-index:20;
	top:150px; 
	left:200px;
	}
#TOSParagraph {
	color:#4d4d4d; 
	font-family:Verdana;	
	font-size:9pt; 
	width:850px; 
	position:absolute; 
	top:200px; 
	left:38px; 
	z-index:20; 
	height:360px;
	width:800px;
	overflow:scroll;
	}




/*------------Privacy Policy Page------------*/

#PolicyHeadline{ 
	color:#000000; 
	font-weight:bold; 
	font-family:Verdana; 
	font-size:12pt; 
	position:absolute; 
	z-index:20;
	top:150px; 
	left:200px;
	}
#PrivacyPolicyText {
	color:#4d4d4d; 
	font-family:Verdana;	
	font-size:9pt; 
	width:850px; 
	position:absolute; 
	top:200px; 
	left:38px; 
	z-index:20; 
	height:360px;
	width:800px;
	overflow:scroll;
	}






/*------------Site Map Page------------*/

#sitemaplist {
	color:#808080; 
	font-family:Verdana;	
	font-size:9pt; 
	width:800px; 
	height:470px;
	position:absolute; 
	top:135px;
	left:80px; 
	z-index:5;
	}







/*------------ENewsletter------------*/
#ENews {
	position:absolute; 
	top:589px; 
	left:50px; 
	line-height: .8em;
	z-index:901;
	}





/*------------Bottom Address, Phone, etc.------------*/
#CompanyName {
	color:#333333;
	font-family:Verdana;
	font-weight:bold;
	font-size:7pt; 
	white-space:pre;
	position: absolute; 
	top: 670px; 
	left: 25px; 
	z-index: 601;
	}
#Address {
	color:#333333;
	font-family:Verdana;
	font-weight:bold;
	font-size:7pt; 
	white-space:pre;
	position: absolute; 
	top: 670px; 
	left: 210px; 
	z-index: 602;
	}
#Phone {
	color:#333333;
	font-family:Verdana;
	font-weight:bold;
	font-size:7pt; 
	white-space:pre;
	position: absolute; 
	top: 670px; 
	left: 410px; 
	z-index: 603;
	}
#PrivacyPolicy {
	color:#333333;
	font-family:Verdana;
	font-weight:bold;
	font-size:7pt; 
	white-space:pre;
	position:absolute; 
	top: 670px; 
	left: 650px; 
	z-index: 604;
	text-decoration: none;
	}
#TermsofService {
	color:#333333;
	font-family:Verdana;
	font-weight:bold;
	font-size:7pt; 
	white-space:pre;
	position:absolute; 
	top: 670px; 
	left: 735px; 
	z-index: 605;
	text-decoration: none;
	}
#SiteMap {
	color:#333333;
	font-family:Verdana;
	font-weight:bold;
	font-size:7pt; 
	left: 830px; 
	position:absolute; 
	top: 670px; 
	text-decoration: none;
	white-space:pre;
	z-index: 606;
	}

