/* Background no-repeat */
body {
	background-repeat:no-repeat;
	background-color:transparent;
	background-position:center
	font-size: 12pt; 
	color:#000000;
	position: relative; 
	text-align:left;
	font-family:Verdana; 
	}



/*------------Layout and Navagation------------*/

#Wrapper {
	margin: 0 auto;
	position: relative;	
	text-align:left; 
	width: 960px; 
	}
#BluePrint {
	width:960px; 
	height:639px;
	background-repeat:no-repeat;  	   	
	position:absolute; 
	top:0px;left:0px;	
	background:url(CCimages/blueprintbackgrd.gif);
	z-index: 1;
	}
#Logo {
	width:125px; 
	height:66px; 
	position: absolute; 
	background:url(ETTERLogo.gif);
	background-repeat:no-repeat; 
   	top:20px; 
	left:750px; 
	z-index: 
	200;
	}
#NavBar {
	width:972px; 
	height:19px; 
	position: absolute;      
	background:url(CCimages/navbar.gif); 
   	top:-10px; 
	left:-6px; 
	z-index: 11;
	}
#NavBarDrop {
	width: 960px;
	height:15px; 
	position:absolute;
	opacity:9;
	z-index:10; 
	top:9px;
	left:0px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000');
	}
#BottomDrop {
	width: 960px;
	height:20px; 
	position:absolute;
	opacity:9;
	z-index:1; 
	top:635px;
	left:0px; 
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000');
	}
#NavBar2 {
	width:972px; 
	height:19px; 
	position: absolute;      
	background:url(CCimages/navbar.gif); 
   	top:616px; 
	left:-6px; 
	z-index: 11;
	}
#NavBarDrop2 {
	width: 960px;
	height:13px; 
	position:absolute;
	opacity:1;
	filter:alpha(opacity=100);
	z-index:10; 
	top:629px; 
	left:0px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000');
	}
#Red {
	width: 960px;
	height:19px; 
	position:absolute;
	z-index:9; 
	top:626px; 
	left:0px; 
	background-color:#D21D1F;
	}
#RedTall {
	width: 15px;
	height:630px; 
	position:absolute;
	z-index:9; 
	top:0px; 
	left:37px; 
	background-color:#D21D1F;
	}
#DropRight {
	width: 10px;
	height:655px; 
	position:absolute;
	opacity:0.6;
	filter:alpha(opacity=100);
	z-index:1; 
	top:-10px; 
	left:960px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000', GradientType=1);
	}
#DropLeft {
	width: 10px;
	height:655px; 
	position:absolute;
	opacity:0.6;
	filter:alpha(opacity=100);
	z-index:1; 
	top:-10px; 
	left:-10px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=1);
	}
#SafetyAuditTransBLK {	
	width: 371px;
	height:590px;
	position:absolute;
	z-index:3; 
	top:10px; 
	left:510px; 
	background-color:#000000;
	z-index:6;
	filter:alpha(opacity=85);
	}
#ConsultantsCornerBTN{
	width:160px;
	height:40px;
	top:40px;
	left:550px;
	background:url(CCimages/ETTERHomeBTN.gif);
	background-repeat:no-repeat;
	position:absolute;
	z-index:150;
	}
#ConsultantsCornerBTN:hover{background:url(CCimages/ETTERHomeBTN2.gif);
	width:160px;
	height:40px;
	top:40px;
	left:550px;
	background-repeat:no-repeat;
	position:absolute;
	z-index:150;
	}

/*------------Index Page------------*/

#DropRightWhiteBkgrd {
	width: 10px;
	height:457px; 
	position:absolute;
	opacity:0.6;
	filter:alpha(opacity=100);
	z-index:10; 
	top:75px; 
	left:585px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000');
	}
#DropRightSolidWhiteBkgrd {
	width: 10px;
	height:607px; 
	position:absolute;
	opacity:0.6;
	filter:alpha(opacity=100);
	z-index:12; 
	top:10px; 
	left:880px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000', GradientType=1);
	}
DropBottomSolidWhiteBkgrd {
	width: 861px;
	height:13px; 
	position:absolute; 
	opacity:.9;
	filter:alpha(opacity=100);
	z-index:15; 
	top:600px; 
	left:19px;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000');
	}
#SolidWhiteBkgrdBottom {
	width: 861px;
	height:30px;
	position:absolute;
	z-index:3; 
	top:600px; 
	left:19px; 
	background-color:#FFFFFF;
	}
#ConsultantsCorner{
	font-face:Verdana;
	font-size:2.3em;
	color:#FFFFFF;
	height:20px;
	width:500px;
	top:555px;
	left:60px;
	position: absolute;
	z-index: 15;}
#ConsultantsCornerPhoto{
	width:503px;
	height:590px;
	top:10px;
	left:19px;
	background:url(shelving.gif);
	background-repeat:no-repeat; 
	position:absolute;
	z-index:6;
	}
#ConsultantsCornerPhoto2{
	width:503px;
	height:590px;
	top:10px;
	left:378px;
	background:url(ccatalog.gif);
	background-repeat:no-repeat; 
	position:absolute;
	z-index:5;
	}
#ConsultantsCornerText{
	font-face:Verdana;
	line-height: 1.154em;
	font-size:.7em; 
	word-spacing:.1em;
	letter-spacing:-.03em; 
	color:#DBDBDB;
	height:300px;
	width: 320px;
	top: 85px;
	left: 550px;
	position: absolute;
	z-index:15;
	background-repeat:no-repeat; 
	}
#LiteratureMenu {
	width: 320px;
	margin-left: 555px;
	margin-top: 280px;
	position:absolute;
	z-index: 25;
	}

.accordionButton {	
	width: 280px;
	height:25px;
	float: left;
	font-family:Verdana;
	font-size:.8em;
	color:#424242;
	padding-top: .3em;
	padding-left: .3em;
	background: #808080;
	cursor: pointer;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#424242', endColorstr='#DBDBDB');
	position:relative;
	z-index: 99;
	}
.accordionButton:hover{
	color:#000000;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#DBDBDB', endColorstr='#424242');
	}	
.accordionContent {	
	width: 330px;
	float: left;
	font-family:Verdana;
	font-size:.7em;
	background: transparent;
	cursor: pointer;
	display: none;
	position:relative;
	z-index: 99;
	}
.accordionBContent {	
	width: 245px;
	height:18px;
	float: left;
	padding-left: 1em;
	padding-top: .4em;
	top:1px;
	margin-left:15px;
	font-family:Verdana;
	color:#424242;
	font-size:.9em;
	background: #FFFFFF;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#808080', endColorstr='#FFFFFF');
	position:relative;
	z-index: 99;
	}
.accordionBContent:hover {
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#808080');
	color:#D21D1F;
	}
#CompanyName {
	color:#333333;
	font-family:Verdana;
	font-weight:bold;
	font-size:7pt; 
	white-space:pre;
	position: absolute; 
	top: 602px; 
	left: 65px; 
	z-index: 601;
	}
#Address {
	color:#333333;
	font-family:Verdana;
	font-weight:bold;
	font-size:7pt; 
	white-space:pre;
	position: absolute; 
	top: 602px; 
	left: 250px; 
	z-index: 602;
	}
#Phone {
	color:#333333;
	font-family:Verdana;
	font-weight:bold;
	font-size:7pt; 
	white-space:pre;
	position: absolute; 
	top: 602px; 
	left: 450px; 
	z-index: 603;
	}