/* Background no-repeat */
body {
	background-repeat:no-repeat;
	background-color:transparent;
	background-position:center
	font-size: 12pt; 
	color:#000000;
	position: relative; 
	text-align:left;
	font-family:Verdana; 
	}



/*------------Layout and Navagation------------*/

#Wrapper {
	margin: 0 auto;
	position: relative;	
	text-align:left; 
	width: 960px; 
	}
#PageHotLink{
	width:960px;
	height:640px;
	top:0px;
	left:0px;
	position:absolute;
	z-index:100;}
#BluePrint {
	width:960px; 
	height:639px;
	background-repeat:no-repeat;  	   	
	position:absolute; 
	top:0px;left:0px;	
	background:url(blueprintbackgrd.gif);
	z-index: 1;
	}
#Tagline {
	color:#ACB0C3; 
	font-family:Verdana;
	text-decoration: none;
	font-size:.5em; 
	font-weight: bold; 
	white-space:pre;
	position: absolute; 
	top: 172px; 
	left:32px; 
	z-index: 300; 
	}

#NavBar {
	width:972px; 
	height:19px; 
	position: absolute;      
	background:url(navbar.gif); 
   	top:-10px; 
	left:-6px; 
	z-index: 11;
	}
#NavBarDrop {
	width: 960px;
	height:15px; 
	position:absolute;
	opacity:9;
	z-index:10; 
	top:9px;
	left:0px;
	 background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(Transparent));
	background: -moz-linear-gradient(bottom,  Transparent,  #000000);
	}
#BottomDrop {
	width: 960px;
	height:20px; 
	position:absolute;
	opacity:9;
	z-index:1; 
	top:635px;
	left:0px; 
	 background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(Transparent));
	background: -moz-linear-gradient(bottom,  Transparent,  #000000);
	}
#NavBar2 {
	width:972px; 
	height:19px; 
	position: absolute;      
	background:url(navbar.gif); 
   	top:616px; 
	left:-6px; 
	z-index: 11;
	}
#NavBarDrop2 {
	width: 960px;
	height:13px; 
	position:absolute;
	opacity:1;
	filter:alpha(opacity=100);
	z-index:10; 
	top:629px; 
	left:0px;
	background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(Transparent));
	background: -moz-linear-gradient(bottom, transparent,  #000000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='transparent', endColorstr='#000000');
	}
#Red {
	width: 960px;
	height:19px; 
	position:absolute;
	z-index:9; 
	top:626px; 
	left:0px; 
	background-color:#D21D1F;
	}
#DropRight {
	width: 10px;
	height:655px; 
	position:absolute;
	opacity:0.6;
	filter:alpha(opacity=100);
	z-index:1; 
	top:-10px; 
	left:960px;
	 background: -webkit-gradient(linear, left top, right top, from(#000000), to(Transparent));
	background: -moz-linear-gradient(right,  #FFFFFF,  #000000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#000000');
	}
#DropLeft {
	width: 10px;
	height:655px; 
	position:absolute;
	opacity:0.6;
	filter:alpha(opacity=100);
	z-index:1; 
	top:-10px; 
	left:-10px;
	 background: -webkit-gradient(linear, left top, right top, from(Transparent), to(#000000));
	background: -moz-linear-gradient(left,  #FFFFFF,  #000000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#000000');
	}
#ConsultantsCornerDrivecropBlkBlock{
	width: 300px;
	height: 600px;
	top: 60px;
	left: 19px;
	background:url(ConsultantsCornerDrivecropBlkBlock.gif);
	background-repeat: no-repeat;
	position:absolute;
	z-index:6;
	}
#ConsultantsCornerDrivecropBlueBlock{
	width: 862px;
	height: 60px;
	top: 5px;
	left: 19px;
	background-color:#DBDBDB;
	position:absolute;
	z-index:9;
	}
/*------------Index Page------------*/

#IndexWhiteBkgrd {
	width: 865px; 
	height: 757px; 
	top:15px; 
	left:19px; 
	position:absolute; 
	background:url(ConsultantsCornerDrivecrop4.gif); 
	Background-repeat:no-repeat;
	z-index:2;
	}
#WhiteBkgrd {
	width: 567px; 
	height: 457px; 
	top:75px; 
	left:19px; 
	position:absolute; 
	background:url(Packaged_Heat_whiteblk.gif); 
	Background-repeat:no-repeat; 
	z-index:4;
	}
#DropRightWhiteBkgrd {
	width: 10px;
	height:457px; 
	position:absolute;
	opacity:0.6;
	filter:alpha(opacity=100);
	z-index:10; 
	top:75px; 
	left:585px;
	background: -webkit-gradient(linear, left top, right top, from(#000000), to(Transparent));
	background: -moz-linear-gradient(right,  transparent,  #000000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='transparent', endColorstr='#000000');
	}

#LightBlueBkgrd {
	height: 82px; 
	width: 861px; 
	top:532px; 
	left:19px; 
	position:absolute; 
	background:url(Packaged_Heat_lightblueblk.gif);
	Background-repeat:no-repeat;
	z-index:8;
	}

#SolidWhiteBkgrd {
	width: 228px;
	height:465px;
	position:absolute; 
	z-index:1; 
	top:70px; 
	left:652px; 
	background-color:#FFFFFF;
	}
#DropRightSolidWhiteBkgrd {
	width: 10px;
	height:607px; 
	position:absolute;
	opacity:0.6;
	filter:alpha(opacity=100);
	z-index:12; 
	top:10px; 
	left:880px;
	background: -webkit-gradient(linear, left top, right top, from(#000000), to(Transparent));
	background: -moz-linear-gradient(right,  transparent,  #000000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000');
	}
#DropBottomSolidWhiteBkgrd {
	width: 861px;
	height:13px; 
	position:absolute; 
	opacity:.9;
	filter:alpha(opacity=100);
	z-index:8; 
	top:520px; 
	left:19px;
	background: -webkit-gradient(linear, left top, left bottom, from(Transparent), to(#000000));
	background: -moz-linear-gradient(bottom,  #000000,  Transparent);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000');
	}
#SolidWhiteBkgrdBottom {
	width: 861px;
	height:50px;
	position:absolute;
	z-index:3; 
	top:570px; 
	left:19px; 
	background-color:#FFFFFF;
	z-index:9;
	}
#RedBrowseBar {
	width: 861px; 
	height: 2px; 
	top: 610px; 
	left: 19px; 
	background-color: #D21D1F; 
	position: absolute; 
	z-index: 50;
	}
#SafetyAuditWhiteBkgrd {
	width: 861px; 
	height: 458px; 
	top:75px; 
	left:19px; 
	position:absolute; 
	background:url(full_whiteblk.gif); 
	Background-repeat:no-repeat; 
	z-index:4;
	}
#ConsultantsCorner{
	font-face:Verdana;
	font-size:2.5em;
	height:20px;
	width:500px;
	top:20px;
	left:430px;
	position: absolute;
	z-index: 15;}

#ConsultantsCornerText{
	font-face:Verdana;
	font-size:.7em;
	color:#FFFFFF;
	height:300px;
	width: 200px;
	top: 210px;
	left: 40px;
	position: absolute;
	z-index:15;
	background-repeat:no-repeat; 
	}
#ConsultantBlkTransDropRight {
	width: 15px;
	height:470px; 
	position:absolute;
	opacity:0.6;
	filter:alpha(opacity=100);
	z-index:8; 
	top:61px; 
	left:267px;
	 background: -webkit-gradient(linear, left top, right top, from(#000000), to(Transparent));
	background: -moz-linear-gradient(right,  Transparent,  #000000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000');
	}
#ConsultantBlkTransDropTop {
	width: 861px;
	height:15px; 
	position:absolute;
	opacity:9;
	z-index:7; 
	top:61px;
	left:19px;
	background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(Transparent));
	background: -moz-linear-gradient(bottom,  Transparent,  #424242);
	}
#ConsultantsCornerBTN{
	width:160px;
	height:40px;
	top:480px;
	left:290px;
	background:url(consultantsBTN.gif);
	background-repeat:no-repeat;
	position:absolute;
	z-index:150;
	}
#ConsultantsCornerBTN:hover{background:url(consultantsBTN2.gif);
	width:160px;
	height:40px;
	top:480px;
	left:290px;
	background-repeat:no-repeat;
	position:absolute;
	z-index:150;
	}



#CompanyName {
	color:#333333;
	font-family:Verdana;
	font-weight:bold;
	font-size:7pt; 
	white-space:pre;
	position: absolute; 
	top: 595px; 
	left: 405px; 
	z-index: 601;
	}
#Address {
	color:#333333;
	font-family:Verdana;
	font-weight:bold;
	font-size:7pt; 
	white-space:pre;
	position: absolute; 
	top: 595px; 
	left: 590px; 
	z-index: 602;
	}
#Phone {
	color:#333333;
	font-family:Verdana;
	font-weight:bold;
	font-size:7pt; 
	white-space:pre;
	position: absolute; 
	top: 595px; 
	left: 790px; 
	z-index: 603;
	}


