body {
	background-repeat:no-repeat;
	background-color:transparent;
	background-position:center;
	font-size: 12pt; 
	position: relative; 
	text-align:left;
	font-family:Verdana; 
	}

#Wrapper {
	margin: 0 auto;
	position: relative;	
	text-align:left; 
	width: 980px;
	}

 /* slider specific CSS */
        .sliderGallery {
            background-color:transparent;
	    left:17px;
            overflow: hidden;
	    top:477px;
            position: relative;
            height: 110px;
            width: 865px;
	    z-index:7;
        }
        
        .sliderGallery UL {
            position: absolute;
            list-style: none;
            overflow: none;
            white-space: nowrap;
            padding: 0;
            margin: 0;
        }
        
        .sliderGallery UL LI {
            display: inline;
	    padding:40px;
        }
        
        .slider {
            width: 861px;
            height: 17px;
            margin-top: 80px;
            margin-left: 2px;
            padding: 0px;
            position: relative;
	    z-index:1;
            background: url(productbrowser_scrollbar_20070622.png) no-repeat;
        }
        
        .handle {
            position: absolute;
            cursor: move;
            height: 18px;
            width: 181px;
            top: 0;
            background: url(http://static.jqueryfordesigners.com/demo/images/productbrowser_scroller_20080115.png) no-repeat;
            z-index: 1;
        }
        
        .slider span {
            color: #bbb;
            font-size: 80%;
            cursor: pointer;
            position: absolute;
            z-index: 11;
            top: 3px;
        }
        
        .slider .slider-lbl1 {
            left: 50px;
        }
        
        .slider .slider-lbl2 {
            left: 107px;
        }
        
        .slider .slider-lbl3 {
            left: 156px;
        }

        .slider .slider-lbl4 {
            left: 280px;
        }

        .slider .slider-lbl5 {
            left: 455px;
        }
.popup_block_Parts {
	display: none; 
	background: transparent; 
	height:300px;
	padding: 20px;
	float: left;
	font-size: .95em;
	position: absolute;
	top: 520px;
	left:680px;
	z-index: 99998;
	}

#PLC-Operator-Interface{
	top:50px;
	position:absolute; 
	z-index:5;
	}
#Vert-Oven{
	top:50px;
	position:absolute; 
	z-index:5;}
#Gas-Pulse{
	top:50px;
	position:absolute; 
	z-index:5;}
#Dial{
	top:50px;
	position:absolute; 
	z-index:5;}
#Control-Panel{
	top:50px;
	position:absolute; 
	z-index:5;}
#Catalytic-Heater{
	top:50px;
	position:absolute; 
	z-index:5;}
#fullsize {
	position:relative; 
	width:25px; 
	height:238px; 
	top:5px; 
	left:5px; 
	padding:2px; 
	z-index:10;
	}
h3 {
	positions:absolute;
	z-index:200;
	top:100px;
	font-size:13px; 
	color:#D21D1F;
	letter-spacing:-.015em; 
	font-weight: bolder;
	}
p {
	positions:absolute;
	z-index:200;
	top:100px;
	font-size:.65em;
	line-height: 1.1em; 
	text-align:left;
	letter-spacing:.0001em;
	font-family:Verdana;
	}

