@charset "utf-8";
/* CSS Document */
P {text-align:left;}

.headings { 
font-family: verdana,sans-serif;
color: #F00;
background: #000;
font-size:16pt;
font-weight:bold;
text-decoration:none;
}

P {text-align:left;}

.body { 
font-family: verdana,sans-serif;
color: #FFF;
background: #000;
font-size:11pt;
text-decoration:none;
}
