/*************************************************************/
/*   Design:   Multiflex-3 Update-2 / Layout-4               */
/*   File:     Global layout structure                       */
/*-----------------------------------------------------------*/
/*   Author:   G. Wolfgang                                   */
/*   Date:     November 29, 2006                             */
/*   Homepage: wwww.1-2-3-4.info                             */
/*-----------------------------------------------------------*/
/*   License:  Fully open source without restrictions.       */
/*             Please keep footer credits with a link to     */
/*             G. Wolfgang (www.1-2-3-4.info). Thank you!    */
/*************************************************************/

/************/
/*  GLOBAL  */
/************/

/* NON-HEADER */
* {
	padding:0;
	margin:0;
}

body {
	font-size:62.5%;
	background-color:rgb(255,255,255);
	font-family:verdana, arial, sans-serif;
} /*Font-size: 1.0em = 10px when browser default size is 16px*/

.page-container {
	width:1024px;
	margin:0px auto;
	margin-top:10px;
	margin-bottom:10px;
	border:solid 1px rgb(150,150,150);
	font-size:1.0em;
}

.main {
	clear:both;
	width:1024px;
	padding-bottom:30px;
	background:transparent url(http://www.etterengineering.com/new_site/img/bg_main_withnav.jpg) top left repeat-y;
}

.main-navigation {
	display:inline /*Fix IE floating margin bug*/;
	float:left;
	width:200px;
	overflow:visible !important /*Firefox*/;
	overflow:hidden /*IE6*/;
}

.main-content {
	display:inline; /*Fix IE floating margin bug*/
	;
	float:left;
	width:540px;
	margin:0 0 0 30px;
	overflow:visible !important /*Firefox*/;
	overflow:hidden /*IE6*/;
}

.main-subcontent {
	display:inline /*Fix IE floating margin bug*/;
	float:right;
	width:185px;
	margin:0 15px 0 0;
	overflow:visible !important /*Firefox*/;
	overflow:hidden /*IE6*/;
}

.footer {
	clear:both;
	width:1024px;
	height:3.7em;
	padding:1.1em 0 0;
	background:rgb(225,225,225) url(http://www.etterengineering.com/new_site/img/bg_foot.jpg) no-repeat;
	font-size:1.0em;
	overflow:visible !important /*Firefox*/;
	overflow:hidden /*IE6*/;
}

/* --- For alternative headers START PASTE here --- */

/* HEADER */
.header {
	width:1024px;
	font-family:"trebuchet ms", arial, sans-serif;
}

.header-top {
	width:1024px;
	height:80px;
	background:rgb(240,240,240) url(http://www.etterengineering.com/new_site/img/bg_head_top.jpg);
	overflow:visible !important /*Firefox*/;
	overflow:hidden /*IE6*/;
}

.header-middle {
	width:1024px;
	height:150px;
	background:rgb(230,230,230) url(http://www.etterengineering.com/new_site/img/bg_head_middle.jpg);
	overflow:visible !important /*Firefox*/;
	overflow:hidden /*IE6*/;
}

.header-bottom {
	width:1024px;
	height:40px;
	background:rgb(255,255,255) url(http://www.etterengineering.com/new_site/img/bg_head_breadcrumbs.jpg) repeat-y;
}

.header-breadcrumbs {
	clear:both;
	width:1024px;
	padding:1.0em 0 1.5em 0;
	background:rgb(100,100,100) url(http://www.etterengineering.com/new_site/img/bg_head_breadcrumbs.jpg) repeat-y;
}

/********************/
/*  HEADER SECTION  */
/********************/
.sitelogo {
	width:145px;
	height:96px;
	position:absolute;
	z-index:1;
	margin:22px 0 0 20px;
	background:url(http://www.etterengineering.com/new_site/img/bg_head_top_logo.jpg);
	background-image: url(http://www.etterengineering.com/new_site/css/img/bg_head_top_logo.png);
	left: 123px;
	top: -17px;
}

.sitename {
	width:380px;
	height:45px;
	position:absolute;
	z-index:1;
	margin:20px 0 0 90px;
	overflow:visible !important /*Firefox*/;
	overflow:hidden /*IE6*/;
	left: 370px;
	top: 3px;
}

.sitename h1 {
	font-size:420%;
}

.sitename h2 {
	margin:-4px 0 0 0;
	color:rgb(125,125,125);
	font-size:120%;
}

.sitename a {
	text-decoration:none;
	color:rgb(125,125,125);
}

.sitename a:hover {
	text-decoration:none;
	color:rgb(50,50,50);
}

.nav0 {
	width:350px;
	position:absolute;
	z-index:2;
	margin:25px 0 0 0;
	margin-left:550px !important/*Non-IE6*/;
	margin-left:553px /*IE6*/;
}

.nav0 ul {
	float:right;
	padding:0 20px 0 0;
}

.nav0 li {
	display:inline;
	list-style:none;
}

.nav0 li a {
	padding:0 0 0 3px;
}

.nav0 a:hover {
	text-decoration:none;
}

.nav0 a img {
	height:14px;
	border:none;
}

.nav1 {
	width:350px;
	position:absolute;
	z-index:3;
	margin:45px 0 0 550px;
	left: 246px;
	top: 66px;
}

.nav1 ul {
	float:right;
	padding:0 15px 0 0;
	font-weight:bold;
}

.nav1 li {
	display:inline;
	list-style:none;
}

.nav1 li a {
	display:block;
	float:left;
	padding:2px 5px 2px 5px;
	color:rgb(125,125,125);
	text-decoration:none;
	font-size:120%;
}

.nav1 a:hover {
	text-decoration:none;
	color:rgb(50,50,50);
}

.sitemessage {
	width:350px;
	height:120px;
	position:absolute;
	z-index:1;
	margin:20px 0 0 530px;
	color:rgb(234,239,247); /*xoverflow:visible !important /*Activate if Firefox print problems*/
	;
	overflow:hidden /*IE6*/;
}

.sitemessage h1 {
	width:350px;
	text-align:right;
	font-size:230%;
}

.sitemessage h2 {
	float:right;
	width:270px;
	margin:8px 0 0 0;
	text-align:right;
	line-height:100%;
	font-size:160%;
}

.sitemessage h3 {
	float:right;
	width:270px;
	margin:10px 0 0 0;
	text-align:right;
	font-size:140%;
}

.sitemessage h3 a {
	text-decoration:none;
	color:rgb(234,239,247);
}

.sitemessage h3 a:hover {
	text-decoration:none;
	color:rgb(50,50,50);
}

.nav2 {
	float:left;
	width:1024px;
	border:none;
	background:rgb(220,220,220) url(http://www.etterengineering.com/new_site/img/bg_head_bottom_nav.jpg) repeat-x;
	color:rgb(75,75,75);
	font-size:1.0em;
	font-size:130%;
} /*Color navigation bar normal mode*/

.nav2 ul {
	list-style-type:none;
}

.nav2 ul li {
	float:left;
	position:relative;
	z-index:1000;
	border-right:solid 1px rgb(175,175,175);
}

.nav2 ul li ul {
	display:none;
	border:none;
}

.nav2 ul li ul {
	margin-left:-30px;
	padding:0 30px 30px 30px;
	background:url(http://www.etterengineering.com/new_site/img/bg_head_bottom_nav_hover.gif) top center;
} /*Sticky hover zones*/

.nav2 ul li a {
	float:left;
	display:block;
	height:3.1em;
	line-height:3.1em;
	padding:0 16px 0 16px;
	text-decoration:none;
	font-weight:bold;
	color: rgb(100,100,100);
}

.nav2 ul li:hover {
	width:auto;
}

.nav2 table {
	position:absolute;
	z-index:999;
	top:0;
	left:0;
	border-collapse:collapse;
}

/*Non-IE6*/
.nav2 ul li:hover a {
	background-color:rgb(210,210,210);
	text-decoration:none;
} /*Color main cells hovering mode*/

.nav2 ul li:hover ul {
	display:block;
	position:absolute;
	z-index:998;
	top:3.0em;
	margin-top:0.1em;
	left:0;
}

.nav2 ul li:hover ul li ul {
	display: none;
}

.nav2 ul li:hover ul li a {
	display:block;
	width:10em;
	height:auto;
	line-height:1.3em;
	margin-left:-1px;
	padding:4px 16px 4px 16px;
	border-left:solid 1px rgb(175,175,175);
	border-bottom: solid 1px rgb(175,175,175);
	background-color:rgb(237,237,237);
	font-weight:normal;
	color:rgb(50,50,50);
} /*Color subcells normal mode*/

.nav2 ul li:hover ul li a:hover {
	background-color:rgb(210,210,210);
	text-decoration:none;
} /*Color subcells hovering mode*/

/*IE6*/
.nav2 ul li a:hover {
	background-color:rgb(210,210,210);
	text-decoration:none;
} /*Color main cells hovering mode*/

.nav2 ul li a:hover ul {
	display:block;
	position:absolute;
	z-index:997;
	top:3.1em;
	t\op:3.0em;
	left:0;
	marg\in-top:0.1em;
}

.nav2 ul li a:hover ul li a {
	display:block;
	w\idth:10em;
	height:1px;
	line-height:1.3em;
	padding:4px 16px 4px 16px;
	border-left:solid 1px rgb(175,175,175);
	border-bottom: solid 1px rgb(175,175,175);
	background-color:rgb(237,237,237);
	font-weight:normal;
	color:rgb(50,50,50);
} /*Color subcells normal mode*/

.nav2 ul li a:hover ul li a ul {
	visibility:hidden;
	height:0px;
	width:0px;
	position:absolute;
	z-index: 997;
}

.nav2 ul li a:hover ul li a:hover {
	background-color:rgb(210,210,210);
	text-decoration:none;
} /*Color subcells hovering mode*/

.header-breadcrumbs ul {
	float:left;
	width:560px;
	list-style:none;
	padding:0 0 0 15px;
	font-family:verdana, arial, sans-serif;
}

.header-breadcrumbs ul li {
	display:inline;
	padding:0 0 0 10px;
	background:transparent url(http://www.etterengineering.com/new_site/img/bg_bullet_arrow.gif) no-repeat 0 50%;
	font-weight:bold;
	color:rgb(125,125,125);
	font-size:100%;
}

.header-breadcrumbs ul a {
	color:rgb(70,122,167);
	text-decoration:none;
}

.header-breadcrumbs ul a:hover {
	color:rgb(42,90,138);
	text-decoration:underline;
}

.header-breadcrumbs .searchform {
	float:right;
	width:285px;
	padding:0 17px 0px 0px !important /*Non-IE6*/;
	padding:0 12px 0px 0px /*IE6*/;
}

.header-breadcrumbs .searchform form fieldset {
	float:right;
	border:none;
}

.header-breadcrumbs .searchform input.field {
	width:10.0em;
	padding:0.2em 0 0.2em 0;
	border:1px solid rgb(200,200,200);
	font-family:verdana, arial, sans-serif;
	font-size:120%;
}

.header-breadcrumbs .searchform input.button {
	width:3.0em;
	padding:1px !important /*Non-IE6*/;
	padding:0 /*IE6*/;
	background:rgb(230,230,230);
	border:solid 1px rgb(150,150,150);
	text-align:center;
	font-family:verdana, arial, sans-serif;
	color:rgb(150,150,150);
	font-size:120%;
}

.header-breadcrumbs .searchform input.button:hover {
	cursor:pointer;
	border:solid 1px rgb(80,80,80);
	background:rgb(220,220,220);
	color:rgb(80,80,80);
}

/* --- For alternative headers END PASTE here --- */

/******************/
/*  MAIN SECTION  */
/******************/

/* MAIN NAVIGATION */
.main-navigation .round-border-topright {
	width:10px;
	height:10px;
	position:absolute;
	z-index:100;
	margin:0 0 0 190px;
	background:url(http://www.etterengineering.com/new_site/img/bg_corner_topright.gif) no-repeat;
}

/* MAIN CONTENT */
.column1-unit {
	width:440px;
	margin-bottom:10px !important /*Non-IE6*/;
	margin-bottom:5px /*IE6*/;
}

.column2-unit-left {
	float:left;
	width:200px;
	margin-bottom:10px !important /*Non-IE6*/;
	margin-bottom:5px /*IE6*/;
}

.column2-unit-right {
	float:right;
	width:200px;
	margin-bottom:10px !important /*Non-IE6*/;
	margin-bottom:5px /*IE6*/;
}

.column3-unit-left {
	float:left;
	width:104px;
	margin-bottom:10px !important /*Non-IE6*/;
	margin-bottom:5px /*IE6*/;
	margin-right:10px;
}

.column3-unit-middle {
	float:left;
	width:104px;
	margin-bottom:10px !important /*Non-IE6*/;
	margin-bottom:5px /*IE6*/;
	margin-left:1px;
}

.column3-unit-right {
	float:left;
	width:104px;
	margin-bottom:10px !important /*Non-IE6*/;
	margin-bottom:5px /*IE6*/;
	margin-left:11px;
}

/* MAIN SUBCONTENT */
.subcontent-unit-border {
	width:183px;
	margin:0 0 2.0em 0;
	padding:0 0 5px 0;
	border:solid 1px rgb(190,190,190);
	background:rgb(235,235,235);
}

.subcontent-unit-border-green {
	width:183px;
	margin:0 0 2.5em 0;
	padding:0 0 10px 0;
	border:solid 1px rgb(160,214,81);
	background-color:rgb(217,239,185);
}

.subcontent-unit-border-blue {
	width:183px;
	margin:0 0 2.5em 0;
	padding:0 0 10px 0;
	border:solid 1px rgb(137,170,214);
	background-color:rgb(213,225,240);
}

.subcontent-unit-border-orange {
	width:183px;
	margin:0 0 2.5em 0px;
	padding:0 0 10px 0;
	border:solid 1px rgb(232,177,13);
	background-color:rgb(248,224,150);
}

.subcontent-unit-noborder {
	width:185px;
	margin:0 0 2.5em 0;
	padding:0 0 10px 0;
	background:rgb(235,235,235);
}

.subcontent-unit-noborder-green {
	width:185px;
	margin:0 0 2.5em 0;
	padding:0 0 10px 0;
	background-color:rgb(217,239,185);
}

.subcontent-unit-noborder-blue {
	width:185px;
	margin:0 0 2.5em 0;
	padding:0 0 10px 0;
	background-color:rgb(213,225,240);
}

.subcontent-unit-noborder-orange {
	width:185px;
	margin:0 0 2.5em 0;
	padding:0 0 10px 0;
	background-color:rgb(248,224,150);
}

.round-border-topleft {
	width:10px;
	height:10px;
	position:absolute;
	z-index:100;
	background:url(http://www.etterengineering.com/new_site/img/bg_corner_topleft.gif) no-repeat;
	margin-top:-1px;
	margin-left:-1px;
	top: 141px;
}

.round-border-topright {
	width:10px;
	height:10px;
	position:absolute;
	z-index:100;
	background:url(http://www.etterengineering.com/new_site/img/bg_corner_topright.gif) no-repeat;
	margin-top:-1px;
	margin-left:174px;
	left: 83px;
	top: 3264px;
}

.round-noborder-topleft {
	width:10px;
	height:10px;
	position:absolute;
	z-index:100;
	background:url(file:///C|/Documents%20and%20Settings/cdelsole/Desktop/ETTER%20Blog/multiflex32/multiflex32/img/bg_corner_topleft.gif) no-repeat;
	margin-top:0px;
	margin-left:0px;
}

.round-noborder-topright {
	width:10px;
	height:10px;
	position:absolute;
	z-index:100;
	background:url(http://www.etterengineering.com/new_site/img/bg_corner_topright.gif) no-repeat;
	margin-top:0px;
	margin-left:175px;
	left: 987px;
	top: 746px;
}

/********************/
/*  FOOTER SECTION  */
/********************/
.footer p {
	line-height:1.3em;
	text-align:center;
	color:rgb(125,125,125);
	font-weight:bold;
	font-size:110%;
}

.footer p.credits {
	font-weight:normal;
}

.footer a {
	text-decoration:underline;
	color:rgb(125,125,125);
}

.footer a:hover {
	text-decoration:none;
	color:rgb(0,0,0);
}

.footer a:visited {
	color:rgb(0,0,0);
}

/******************/
/*  CLEAR FLOATS  */
/******************/
.page-container:after, .header:after, .header-breadcrumbs:after, .main:after, .main-navigation:after, .main-content:after, .main-content div:after, .main-subcontent:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

.column1-unit:after, .column2-unit-left:after, .column2-unit-right:after, .column3-unit-left:after, .column3-unit-middle:after, .column3-unit-right:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

.subcontent-unit-border:after, .subcontent-unit-noborder:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

.subcontent-unit-border-blue:after, .subcontent-unit-border-green:after, .subcontent-unit-border-orange:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

.subcontent-unit-noborder-blue:after, .subcontent-unit-noborder-green:after, .subcontent-unit-noborder-orange:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

.footer:after, p:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

.clear-contentunit {
	clear:both;
	width:440px;
	height:0.1em;
	border:none;
	background:rgb(210,210,210);
	color:rgb(210,210,210);
}

/********************************/
/*  PRINTING and MISCELLANEOUS  */
/********************************/
@media print {

.header-top {
	width:1024px;
	height:80px;
	background:rgb(240,240,240);
	overflow:visible !important /*Firefox*/;
	overflow:hidden /*IE6*/;
}
}
@media print {

.header-breadcrumbs {
	width:1024px;
	background:transparent;
}
}
@media print {

.nav2 {
	float:left;
	width:1024px;
	border:none;
	background:rgb(240,240,240);
	color:rgb(75,75,75);
	font-size:1.0em;
	font-size:130%;
}
} /*Color navigation bar normal mode*/
@media print {

.main {
	clear:both;
	width:1024px;
	padding-bottom:30px;
	background:transparent;
}
}
@media print {

.main-navigation {
	display:inline /*Fix IE floating margin bug*/;
	float:left;
	width:199px;
	border-right:solid 1px rgb(200,200,200);
	border-bottom:solid 1px rgb(200,200,200);
	background-color:rgb(240,240,240);
	overflow:visible !important /*Firefox*/;
	overflow:hidden /*IE*/;
}
}
@media print {

.footer {
	clear:both;
	width:1024px;
	height:3.7em;
	padding:1.1em 0 0;
	background:rgb(240,240,240);
	font-size:1.0em;
	overflow:visible !important /*Firefox*/;
	overflow:hidden /*IE6*/;
}
}

html {
filter: expression(document.execCommand("BackgroundImageCache", false, true));
} /*IE proprietary flicker hack for background images. Not validating, but OK*/
