
/*************************************************************/
/*   Design:   Multiflex-3 Update-2 / Layout-4               */
/*   File:     Text formats                                  */
/*-----------------------------------------------------------*/
/*   Author:   G. Wolfgang                                   */
/*   Date:     November 29, 2006                             */
/*   Homepage: wwww.1-2-3-4.info                             */
/*-----------------------------------------------------------*/
/*   License:  Fully open source without restrictions.       */
/*             Please keep footer credits with a link to     */
/*             G. Wolfgang (www.1-2-3-4.info). Thank you!    */
/*************************************************************/

/******************/
/*  MAIN SECTION  */
/******************/

/* MAIN NAVIGATION */
.nav3-grid {
	width:199px;
	border-bottom:solid 1px rgb(200,200,200);
}

.nav3-grid dt a, .nav3-grid dt a:visited {
	display:block;
	min-height:2.0em /*Non-IE6*/;
	height:auto !important;
	height:2.0em /*IE6*/;
	line-height:2.0em;
	padding:0px 10px 0px 20px;
	border-top: solid 1px rgb(200,200,200);
	text-decoration:none;
	color:rgb(70,122,167);
	font-weight:bold;
	font-size:120%;
}

.nav3-grid dd a, .nav3-grid dd a:visited {
	display:block;
	min-height:1.7em /*Non-IE6*/;
	height:auto !important;
	height:1.7em /*IE6*/;
	line-height:1.7em;
	padding:0px 10px 0px 40px;
	border:none;
	font-weight:normal;
	text-decoration:none;
	color:rgb(70,122,167);
	font-size:120%;
}

.nav3-grid dt a:hover, .nav3-grid dd a:hover {
	background-color:rgb(225,225,225);
	color:rgb(42,90,138);
	text-decoration:none;
}

.nav3-bullet {
	width:170px;
	margin:10px 0 0 20px;
}

.nav3-bullet dt a, .nav3-bullet dt a:visited {
	line-height:2.0em;
	padding:0 0 0 10px;
	background:url(http://www.etterengineering.com/new_site/img/bg_bullet_full_1.gif) no-repeat 0px 50%;
	text-decoration:none;
	color:rgb(70,122,167);
	font-weight:bold;
	font-size:120%;
}

.nav3-bullet dd a, .nav3-bullet dd a:visited {
	line-height:1.7em;
	margin:0 0 0 15px;
	padding:0 0 0 10px;
	background:url(http://www.etterengineering.com/new_site/img/bg_bullet_half_1.gif) no-repeat 0px 50%;
	text-decoration:none;
	color:rgb(70,122,167);
	font-weight:normal;
	font-size:120%;
}

.nav3-bullet dt a:hover {
	background:url(http://www.etterengineering.com/new_site/img/bg_bullet_full_2.gif) no-repeat 0px 50%;
	text-decoration:underline;
	color:rgb(42,90,138);
}

.nav3-bullet dd a:hover {
	background:url(http://www.etterengineering.com/new_site/img/bg_bullet_half_2.gif) no-repeat 0px 50%;
	text-decoration:underline;
	color:rgb(42,90,138);
}

.nav3-nobullet {
	width:170px;
	margin:10px 0 0 20px;
}

.nav3-nobullet dt a, .nav3-nobullet dt a:visited {
	line-height:2.0em;
	text-decoration:none;
	color:rgb(70,122,167);
	font-weight:bold;
	font-size:120%;
}

.nav3-nobullet dd a, .nav3-nobullet dd a:visited {
	line-height:1.7em;
	margin:0 0 0 15px;
	text-decoration:none;
	color:rgb(70,122,167);
	font-weight:normal;
	font-size:120%;
}

.nav3-nobullet dt a:hover, .nav3-nobullet dd a:hover {
	text-decoration:underline;
	color:rgb(42,90,138);
}

.main-navigation .loginform {
	width:160px;
	margin:-10px 20px 0 20px;
}

.main-navigation .loginform p {
	clear:both;
	margin:0;
	padding:0;
}

.main-navigation .loginform fieldset {
	width:160px;
	border:none;
}

.main-navigation .loginform label.top {
	float:left;
	width:125px;
	margin:0 0 2px 0;
	font-size:110%;
}

.main-navigation .loginform label.right {
	float:left;
	width:125px;
	margin:5px 0 0 0;
	padding:0 0 0 3px; /*IE6*/
	;
	font-size:110%;
}

.main-navigation .loginform input.field {
	width:158px;
	margin:0 0 5px 0;
	padding:0.1em 0 0.2em 0 !important /*Non-IE6*/;
	padding:0.2em 0 0.3em 0 /*IE6*/;
	border:solid 1px rgb(200,200,200);
	font-family:verdana, arial, sans-serif;
	font-size:110%;
}

.main-navigation .loginform input.checkbox {
	float:left;
	margin:5px 0 0 0 !important /*Non-IE6*/;
	margin:2px 0 0 -3px /*IE6*/;
	border:none;
}

.main-navigation .loginform input.button {
	float:left;
	width:5.0em;
	margin:10px 0 5px 0;
	padding:1px;
	background:rgb(230,230,230);
	border:solid 1px rgb(150,150,150);
	text-align:center;
	font-family:verdana, arial, sans-serif;
	color:rgb(150,150,150);
	font-size:110%;
}

.main-navigation .loginform input.button:hover {
	cursor:pointer;
	border:solid 1px rgb(80,80,80);
	background:rgb(220,220,220);
	color:rgb(80,80,80);
}

.main-navigation .searchform {
	width:160px;
	margin:0 20px 0 20px;
}

.main-navigation .searchform p {
	clear:both;
	margin:0;
	padding:0;
}

.main-navigation .searchform fieldset {
	border:none;
}

.main-navigation .searchform input.field {
	float:left;
	width:158px;
	padding:0.1em 0 0.2em 0 !important /*Non-IE6*/;
	padding:0.2em 0 0.3em 0 /*IE6*/;
	border:1px solid rgb(200,200,200);
	font-family:verdana, arial, sans-serif;
	font-size:120%;
}

.main-navigation .searchform input.button {
	float:left;
	width:3.0em;
	margin-top: 0.5em;
	padding:1px;
	background:rgb(230,230,230);
	border:solid 1px rgb(150,150,150);
	text-align:center;
	font-family:verdana, arial, sans-serif;
	color:rgb(150,150,150);
	font-size:120%;
}

.main-navigation .searchform input.button:hover {
	cursor:pointer;
	border:solid 1px rgb(80,80,80);
	background:rgb(220,220,220);
	color:rgb(80,80,80);
}

.main-navigation h1.first {
	clear:both;
	margin:0px;
	padding:4px 20px 3px 20px;
	background-color:rgb(190,190,190);
	font-family:"trebuchet ms", arial, sans-serif;
	color:rgb(255,255,255);
	font-weight:bold;
	font-size:150%;
}

.main-navigation h1 {
	clear:both;
	margin:30px 0 20px 0;
	padding:4px 20px 3px 20px;
	background:rgb(190,190,190);
	font-family:"trebuchet ms", arial, sans-serif;
	color:rgb(255,255,255);
	font-weight:bold;
	font-size:150%;
}

.main-navigation h2 {
	clear:both;
	margin:20px 10px 10px 20px;
	font-family:"trebuchet ms", arial, sans-serif;
	color:rgb(100,100,100);
	font-weight:bold;
	font-size:150%;
}

.main-navigation h3 {
	clear:both;
	margin:10px 10px 5px 20px;
	color:rgb(80,80,80);
	font-weight:bold;
	font-size:110%;
} /* Note: h2 not existent, to make identical to formats for main-navigation for easier exchange */

.main-navigation p {
	clear:both;
	margin:0 10px 10px 20px;
	color:rgb(80,80,80);
	line-height:1.3em;
	font-size:110%;
}

.main-navigation p.center {
	text-align:center;
}

.main-navigation p.right {
	text-align:right;
}

.main-navigation ul {
	list-style:none;
	margin:0.5em 10px 1.0em 20px;
}

.main-navigation ul li {
	margin:5px 0 0.2em 2px;
	padding:0px 0px 0 11px;
	background:url(http://www.etterengineering.com/new_site/img/bg_bullet_full_1.gif) no-repeat 0 0.4em;
	line-height:1.2em;
	font-size:110%;
}

.main-navigation ol {
	margin:0.5em 10px 1.0em 40px !important /*Non-IE6*/;
	margin:0.5em 10px 1.0em 45px /*IE6*/;
}

.main-navigation ol li {
	list-style-position:outside;
	margin:0 0 0.4em 0;
	font-size:110%;
}

/* MAIN CONTENT */
.main-content h1.pagetitle {
	margin:0 0 0.4em 0;
	padding:0 0 2px 0;
	border-bottom:solid 7px rgb(225,225,225);
	font-family:"trebuchet ms", arial, sans-serif;
	color:rgb(100,100,100);
	font-weight:bold;
	font-size:220%;
}

.main-content h1.block {
	clear:both;
	margin:1.0em 0 0em 0;
	padding:2px 0 2px 2px;
	background:rgb(190,190,190);
	font-family:"trebuchet ms", arial, sans-serif;
	color:rgb(255,255,255);
	font-weight:bold;
	font-size:220%;
}

.main-content h1 {
	clear:both;
	margin:1.0em 0 0.5em 0;
	font-family:"trebuchet ms", arial, sans-serif;
	color:rgb(80,80,80);
	font-weight:normal;
	font-size:210%;
}

.main-content h2 {
	clear:both;
	margin:1.0em 0 0.5em 0;
	font-family:"trebuchet ms", arial, sans-serif;
	color:rgb(80,80,80);
	font-weight:normal;
	font-size:170%;
}

.main-content h3 {
	clear:both;
	margin:-1.0em 0 0.5em 0;
	font-family:"trebuchet ms", arial, sans-serif;
	color:rgb(125,125,125);
	font-weight:normal;
	font-size:130%;
}

.main-content h1.side {
	clear:none;
}

.main-content h2.side {
	clear:none;
}

.main-content h3.side {
	clear:none;
}

.main-content h4 {
	margin:1.5em 0 1.0em 0;
	color:rgb(80,80,80);
	font-family:"trebuchet ms", arial, sans-serif;
	font-weight:normal;
	font-size:170%;
}

.main-content h5 {
	margin:1.5em 0 1.0em 0;
	color:rgb(80,80,80);
	font-family:"trebuchet ms", arial, sans-serif;
	font-size:140%;
}

.main-content h6 {
	margin:1.5em 0 1.0em 0;
	color:rgb(80,80,80);
	font-family:"trebuchet ms", verdana, arial, sans-serif;
	font-weight:normal;
	font-size:140%;
}

.main-content p {
	margin:0 0 1.0em 0;
	line-height:1.5em;
	font-size:120%;
}

.main-content p.center {
	text-align:center;
}

.main-content p.right {
	text-align:right;
}

.main-content p.details {
	clear:both;
	margin:-0.25em 0 1.0em 0;
	line-height:1.0em;
	font-size:110%;
}

.main-content blockquote {
	clear:both;
	margin:0 30px 0.6em 30px;
	font-size:90%;
}

.main-content table {
	clear:both;
	width:400px;
	margin:2.0em 0 0.2em 20px;
	table-layout: fixed;
	border-collapse:collapse;
	empty-cells:show;
	background-color:rgb(233,232,244);
}

.main-content table th.top {
	height:3.5em;
	padding:0 7px 0 7px;
	empty-cells:show;
	background-color:rgb(175,175,175);
	text-align:left;
	color:rgb(255,255,255);
	font-weight:bold;
	font-size:110%;
}

.main-content table th {
	height:3.0em;
	padding:2px 20px 2px 7px;
	border-left:solid 2px rgb(255,255,255);
	border-right:solid 2px rgb(255,255,255);
	border-top:solid 2px rgb(255,255,255);
	border-bottom:solid 2px rgb(255,255,255);
	background-color:rgb(225,225,225);
	text-align:left;
	color:rgb(80,80,80);
	font-weight:bold;
	font-size:110%;
}

.main-content table td {
	height:3.0em;
	padding:2px 7px 2px 7px;
	border-left:solid 2px rgb(255,255,255);
	border-right:solid 2px rgb(255,255,255);
	border-top:solid 2px rgb(255,255,255);
	border-bottom:solid 2px rgb(255,255,255);
	background-color:rgb(225,225,225);
	text-align:left;
	font-weight:normal;
	color:rgb(80,80,80);
	font-size:110%;
}

p.caption {
	clear:both;
	margin:0.5em 0 2.0em 20px;
	text-align:left;
	color:rgb(80,80,80);
	font-size:110%;
}

.main-content ul {
	list-style:none;
	margin:0.5em 0 1.0em 0;
}

.main-content ul li {
	margin:0 0 0.2em 2px;
	padding:0 0 0 12px;
	background:url(http://www.etterengineering.com/new_site/img/bg_bullet_full_1.gif) no-repeat 0 0.5em;
	line-height:1.4em;
	font-size:120%;
}

.main-content ol {
	margin:0.5em 0 1.0em 20px !important /*Non-IE6*/;
	margin:0.5em 0 1.0em 25px /*IE6*/;
}

.main-content ol li {
	list-style-position:outside;
	margin:0 0 0.2em 0;
	line-height:1.4em;
	font-size:120%;
}

.contactform {
	width:418px;
	margin:2.0em 0 0 0;
	padding:10px 10px 0 10px;
	border:solid 1px rgb(200,200,200);
	background-color:rgb(240,240,240);
}

.contactform fieldset {
	padding:20px 0 0 0 !important /*Non-IE6*/;
	padding:0 /*IE6*/;
	margin:0 0 20px 0;
	border:solid 1px rgb(220,220,220);
}

.contactform fieldset legend {
	margin:0 0 0 5px !important /*Non-IE*/;
	margin:0 0 20px 5px /*IE6*/;
	padding:0 2px 0 2px;
	color:rgb(80,80,80);
	font-weight:bold;
	font-size:130%;
}

.contactform label.left {
	float:left;
	width:100px;
	margin:0 0 0 10px;
	padding:2px;
	font-size:110%;
}

.contactform select.combo {
	width:175px;
	padding:2px;
	border:solid 1px rgb(200,200,200);
	font-family:verdana, arial, sans-serif;
	font-size:110%;
}

.contactform input.field {
	width:275px;
	padding:2px;
	border:solid 1px rgb(200,200,200);
	font-family:verdana, arial, sans-serif;
	font-size:110%;
}

.contactform textarea {
	width:275px;
	padding:2px;
	border:solid 1px rgb(200,200,200);
	font-family:verdana, arial, sans-serif;
	font-size:110%;
}

.contactform input.button {
	float:right;
	width:9.0em;
	margin-right:20px;
	padding:1px !important /*Non-IE6*/;
	padding:0 /*IE6*/;
	background:rgb(230,230,230);
	border:solid 1px rgb(150,150,150);
	text-align:center;
	font-family:verdana, arial, sans-serif;
	color:rgb(150,150,150);
	font-size:110%;
}

.contactform input.button:hover {
	cursor: pointer;
	border:solid 1px rgb(80,80,80);
	background:rgb(220,220,220);
	color:rgb(80,80,80);
}

/* MAIN SUBCONTENT */
.main-subcontent h1 {
	clear:both;
	margin:0 0 10px 0;
	padding:4px 10px 3px 10px;
	background-color:rgb(190,190,190);
	font-family:"trebuchet ms", arial, sans-serif;
	color:rgb(255,255,255);
	font-weight:bold;
	font-size:140%;
}

.main-subcontent h1.green {
	clear:both;
	margin:0 0 5px 0;
	padding:4px 10px 3px 10px;
	background-color:rgb(160,214,81);
	font-family:"trebuchet ms", verdana, arial, sans-serif;
	color:rgb(255,255,255);
	font-weight:bold;
	font-size:140%;
}

.main-subcontent h1.blue {
	clear:both;
	margin:0 0 5px 0;
	padding:4px 10px 3px 10px;
	background-color:rgb(137,170,214);
	font-family:"trebuchet ms", verdana, arial, sans-serif;
	color:rgb(255,255,255);
	font-weight:bold;
	font-size:140%;
}

.main-subcontent h1.orange {
	clear:both;
	margin:0 0 5px 0;
	padding:4px 10px 3px 10px;
	background-color:rgb(232,177,13);
	font-family:"trebuchet ms", verdana, arial, sans-serif;
	color:rgb(255,255,255);
	font-weight:bold;
	font-size:140%;
}

/* Note: h2 non-existent, to make HTML-code interchangeable between 'main-navigation' and 'main-subcontent' */
.main-subcontent h3 {
	clear:both;
	margin:1.0em 10px 0.5em 10px;
	color:rgb(80,80,80);
	font-weight:bold;
	font-size:110%;
}

.main-subcontent p {
	clear:both;
	margin:0 10px 1.0em 10px;
	color:rgb(80,80,80);
	line-height:1.3em;
	font-size:110%;
}

.main-subcontent p.center {
	text-align:center;
}

.main-subcontent p.right {
	text-align:right;
}

.main-subcontent ul {
	list-style:none;
	margin:0.5em 10px 1.0em 10px;
}

.main-subcontent ul li {
	margin:5px 0 0.2em 2px;
	padding:0 0 0 11px;
	background:url(http://www.etterengineering.com/new_site/img/bg_bullet_full_1.gif) no-repeat 0 0.4em;
	line-height:1.2em;
	font-size:110%;
}

.main-subcontent ol {
	margin:0.5em 10px 1.0em 30px !important /*Non-IE6*/;
	margin:0.5em 10px 1.0em 35px /*IE6*/;
}

.main-subcontent ol li {
	list-style-position:outside;
	margin:0 0 0.4em 0;
	font-size:110%;
}

.main-subcontent .loginform {
	width:160px;
	margin:0 10px 0 10px;
}

.main-subcontent .loginform p {
	clear:both;
	margin:0;
	padding:0;
}

.main-subcontent .loginform fieldset {
	width:160px;
	border:none;
}

.main-subcontent .loginform label.top {
	float:left;
	width:125px;
	margin:0 0 2px 0;
	font-size:110%;
}

.main-subcontent .loginform label.right {
	float:left;
	width:125px;
	margin:5px 0 0 0;
	padding:0 0 0 3px; /*IE6*/
	;
	font-size:110%;
}

.main-subcontent .loginform input.field {
	width:158px;
	margin:0 0 5px 0;
	padding:0.1em 0 0.2em 0 !important /*Non-IE6*/;
	padding:0.2em 0 0.3em 0 /*IE6*/;
	border:solid 1px rgb(200,200,200);
	font-family:verdana, arial, sans-serif;
	font-size:110%;
}

.main-subcontent .loginform input.checkbox {
	float:left;
	margin:5px 0 0 0 !important /*Non-IE6*/;
	margin:2px 0 0 -3px /*IE6*/;
	border:none;
}

.main-subcontent .loginform input.button {
	float:left;
	width:5.0em;
	margin:10px 0 5px 0;
	padding:1px;
	background:rgb(230,230,230);
	border:solid 1px rgb(150,150,150);
	text-align:center;
	font-family:verdana, arial, sans-serif;
	color:rgb(150,150,150);
	font-size:110%;
}

.main-subcontent .loginform input.button:hover {
	cursor:pointer;
	border:solid 1px rgb(80,80,80);
	background:rgb(220,220,220);
	color:rgb(80,80,80);
}

.main-subcontent .searchform {
	width:160px;
	margin:0 10px 0 10px;
}

.main-subcontent .searchform fieldset {
	border:none;
}

.main-subcontent .searchform input.field {
	float:left;
	width:158px;
	padding:0.1em 0 0.2em 0 !important /*Non-IE6*/;
	padding:0.2em 0 0.3em 0 /*IE6*/;
	border:1px solid rgb(200,200,200);
	font-family:verdana, arial, sans-serif;
	font-size:120%;
}

.main-subcontent .searchform input.button {
	float:left;
	width:3.0em;
	margin-top: 0.5em;
	padding:1px;
	background:rgb(230,230,230);
	border:solid 1px rgb(150,150,150);
	text-align:center;
	font-family:verdana, arial, sans-serif;
	color:rgb(150,150,150);
	font-size:120%;
}

.main-subcontent .searchform input.button:hover {
	cursor:pointer;
	border:solid 1px rgb(80,80,80);
	background:rgb(220,220,220);
	color:rgb(80,80,80);
}

/********************/
/*  COMMON CLASSES  */
/********************/
.main img {
	clear:both;
	float:left;
	margin:3px 10px 7px 0;
	padding:1px;
	border:1px solid rgb(150,150,150);
}

.main img.center {
	clear:both;
	float:none;
	margin:0;
	padding:1px;
	border:1px solid rgb(150,150,150);
}

.main img.right {
	clear:both;
	float:right;
	margin:3px 0 7px 10px;
	padding:1px;
	border:1px solid rgb(150,150,150);
}

.main a {
	color:rgb(70,122,167);
	font-weight:bold;
	text-decoration:none;
}

.main-content h1 a {
	color:rgb(70,122,167);
	font-weight:normal;
	text-decoration:none;
}

.main a:hover {
	color:rgb(42,90,138);
	text-decoration:underline;
}

.main a:visited {
	color:rgb(42,90,138);
}

.main a img {
	border:solid 1px rgb(150,150,150);
}

.main a:hover img {
	border:solid 1px rgb(220,220,220);
}
