body {
	background-repeat:no-repeat;
	background-color:transparent;
	background-position:center;
	font-size: 12pt; 
	position: relative; 
	text-align:left;
	font-family:Verdana; 
	}
/*------------Layout and Navagation------------*/

#Wrapper {
	margin: 0 auto;
	position: relative;	
	text-align:left; 
	width: 980px;
	}
#ProductOne{
	display:block;
	top:100px; 
	left:20px; 		
	height:100px;
	width: 100px;
	background:url(Photo1.png);
	position:absolute; 
	z-index:10}
#ProductTwo{
	display:block;
	top:100px; 
	left:140px; 		
	height:100px;
	width: 100px;
	background:url(Photo2.png);
	position:absolute; 
	z-index:10}
#ProductThree{
	display:block;
	top:100px; 
	left:260px; 		
	height:100px;
	width: 100px;
	background:url(Photo3.png);
	position:absolute; 
	z-index:10}
#ProductFour{
	display:block;
	top:100px; 
	left:380px; 		
	height:100px;
	width: 100px;
	background:url(Photo4.png);
	position:absolute; 
	z-index:10}
.popup_block_Product {
	display: none; 
	background: #fff; 
	height:200px;
	padding: 20px;
	float: left;
	font-size: .95em;
	position: absolute;
	top: 250px;
	left:170px;
	z-index: 99998;
	/*--CSS3 Box Shadows--*/
	-webkit-box-shadow: 0px 0px 5px #000;
	-moz-box-shadow: 0px 0px 5px #000;
	box-shadow: 0px 0px 5px #000;
	}
.popup_block_Product2 {
	display: none; 
	background: #fff; 
	height:200px;
	padding: 20px;
	float: left;
	font-size: .95em;
	position: absolute;
	top: 250px;
	left:290px;
	z-index: 99998;
	/*--CSS3 Box Shadows--*/
	-webkit-box-shadow: 0px 0px 5px #000;
	-moz-box-shadow: 0px 0px 5px #000;
	box-shadow: 0px 0px 5px #000;
	}
.popup_block_Product3 {
	display: none; 
	background: #fff; 
	height:200px;
	padding: 20px;
	float: left;
	font-size: .95em;
	position: absolute;
	top: 250px;
	left:410px;
	z-index: 99998;
	/*--CSS3 Box Shadows--*/
	-webkit-box-shadow: 0px 0px 5px #000;
	-moz-box-shadow: 0px 0px 5px #000;
	box-shadow: 0px 0px 5px #000;
	}
.popup_block_Product4 {
	display: none; 
	background: #fff; 
	height:200px;
	padding: 20px;
	float: left;
	font-size: .95em;
	position: absolute;
	top: 250px;
	left:530px;
	z-index: 99998;
	/*--CSS3 Box Shadows--*/
	-webkit-box-shadow: 0px 0px 5px #000;
	-moz-box-shadow: 0px 0px 5px #000;
	box-shadow: 0px 0px 5px #000;
	}
img.btn_close_Products1 {
	width:15px; 
	height:13px; 
	z-index: 99999; 
	background:url(closeXsmall.gif);
	position: absolute; 
	top:2px; 
	right:2px;}
img.btn_close_Products2 {
	width:15px; 
	height:13px; 
	z-index: 99999; 
	background:url(closeXsmall.gif);
	position: absolute; 
	top:2px; 
	right:2px;}
img.btn_close_Products3 {
	width:15px; 
	height:13px; 
	z-index: 99999; 
	background:url(closeXsmall.gif);
	position: absolute; 
	top:2px; 
	right:2px;}
img.btn_close_Products4 {
	width:15px; 
	height:13px; 
	z-index: 99999; 
	background:url(closeXsmall.gif);
	position: absolute; 
	top:2px; 
	right:2px;}

#ApprovalsTxtpopup{
	text-align:left ;
	position:absolute;
	font-family:Verdana;
	width:200px; 
	height:233px;
	top:58px;
	left:10px;
	line-height: .95em;
	font-size: .7em; 
	word-spacing: .09em;
	letter-spacing:-.0001em;
	color:#000000;
	z-index: 2000;
	}
#ULLogo{
	width: 50px; 
	height: 50px; 
	top: 5px; 
	left: 5px;
	position:absolute; 
	Background-repeat:no-repeat;e
	z-index:1000;
	}
#NationalGrid{
	width: 50px; 
	height: 50px; 
	top: 5px; 
	left: 5px;
	position:absolute; 
	Background-repeat:no-repeat;
	z-index:999;
	}
#ConED{
	width: 50px; 
	height: 50px; 
	top: 5px; 
	left: 5px;
	position:absolute; 
	Background-repeat:no-repeat;
	z-index:999;
	}
#MassGov{
	width: 50px; 
	height: 50px; 
	top: 5px; 
	left: 5px;
	position:absolute; 
	Background-repeat:no-repeat;
	z-index:999;
	}
/*------------Navagation------------*/