a:link
{
	color: rgb(51, 102, 204);
}
a:active
{
	color: rgb(153, 102, 0);
}
a:visited
{
	color: rgb(102, 102, 102);
}
body
{
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}
table
{
	table-border-color-light: rgb(102, 102, 102);
	table-border-color-dark: rgb(0, 0, 0);
}
h1
{
	color: rgb(0, 0, 102);
}
h2
{
	color: rgb(51, 51, 153);
}
h3
{
	color: rgb(102, 102, 102);
}
h4
{
	color: rgb(0, 0, 102);
}
h5
{
	color: rgb(51, 51, 153);
}
h6
{
	color: rgb(102, 102, 102);
}
button
{
	background-color: rgb(0, 0, 102);
	color: rgb(255, 255, 255);
}
label
{
	color: rgb(0, 0, 0);
}
.mstheme-text
{
}
textarea
{
	color: rgb(0, 0, 0);
}
fieldset
{
	color: rgb(0, 0, 0);
}
legend
{
	color: rgb(102, 102, 102);
}
select
{
	color: rgb(0, 0, 0);
}
caption
{
	color: rgb(102, 102, 102);
}
th
{
	color: rgb(0, 0, 0);
}
