.mstheme
{
	separator-image: url(indhorsa.gif);
	list-image-1: url(indbul1a.gif);
	list-image-2: url(indbul2a.gif);
	list-image-3: url(indbul3a.gif);
	nav-banner-image: url(indbanna.gif);
	navbutton-horiz-normal: url(indhbuda.gif);
	navbutton-horiz-hovered: url(indhbuha.gif);
	navbutton-horiz-pushed: url(indhbusa.gif);
	navbutton-vert-normal: url(indvbuda.gif);
	navbutton-vert-hovered: url(indvbuha.gif);
	navbutton-vert-pushed: url(indvbusa.gif);
	navbutton-home-normal: url(indhomda.gif);
	navbutton-home-hovered: url(indhomha.gif);
	navbutton-home-pushed: url(indhomsa.gif);
	navbutton-next-normal: url(indnexda.gif);
	navbutton-next-hovered: url(indnexha.gif);
	navbutton-next-pushed: url(indnexsa.gif);
	navbutton-prev-normal: url(indpreda.gif);
	navbutton-prev-hovered: url(indpreha.gif);
	navbutton-prev-pushed: url(indpresa.gif);
	navbutton-up-normal: url(indupda.gif);
	navbutton-up-hovered: url(indupha.gif);
	navbutton-up-pushed: url(indupsa.gif);
}
.mstheme-bannertxt
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 6;
	font-style: normal;
	font-weight: normal;
}
.mstheme-horiz-navtxt
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 2;
	font-style: normal;
	font-weight: bold;
}
.mstheme-vert-navtxt
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 2;
	font-style: normal;
	font-weight: bold;
}
.mstheme-navtxthome
{
	font-family: Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtnext
{
	font-family: Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtprev
{
	font-family: Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtup
{
	font-family: Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
ul
{
	list-style-image: url(indbul1a.gif);
}
ul ul
{
	list-style-image: url(indbul2a.gif);
}
ul ul ul
{
	list-style-image: url(indbul3a.gif);
}
