.mstheme
{
	separator-image: url(indhorsd.gif);
	list-image-1: url(indbul1d.gif);
	list-image-2: url(indbul2d.gif);
	list-image-3: url(indbul3d.gif);
	nav-banner-image: url(indbannd.gif);
	navbutton-horiz-normal: url(indhbudd.gif);
	navbutton-horiz-hovered: url(indhbudd.gif);
	navbutton-horiz-pushed: url(indhbusd.gif);
	navbutton-vert-normal: url(indvbudd.gif);
	navbutton-vert-hovered: url(indvbudd.gif);
	navbutton-vert-pushed: url(indvbusd.gif);
	navbutton-home-normal: url(indhombd.gif);
	navbutton-home-hovered: url(indhombd.gif);
	navbutton-home-pushed: url(indhombd.gif);
	navbutton-next-normal: url(indnexbd.gif);
	navbutton-next-hovered: url(indnexbd.gif);
	navbutton-next-pushed: url(indnexbd.gif);
	navbutton-prev-normal: url(indprebd.gif);
	navbutton-prev-hovered: url(indprebd.gif);
	navbutton-prev-pushed: url(indprebd.gif);
	navbutton-up-normal: url(indupbd.gif);
	navbutton-up-hovered: url(indupbd.gif);
	navbutton-up-pushed: url(indupbd.gif);
}
.mstheme-bannertxt
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 6;
	font-style: normal;
	font-weight: normal;
}
.mstheme-horiz-navtxt
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 2;
	font-style: normal;
	font-weight: bold;
}
.mstheme-vert-navtxt
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 2;
	font-style: normal;
	font-weight: bold;
}
.mstheme-navtxthome
{
	font-family: Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtnext
{
	font-family: Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtprev
{
	font-family: Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtup
{
	font-family: Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
ul
{
	list-style-image: url(indbul1d.gif);
}
ul ul
{
	list-style-image: url(indbul2d.gif);
}
ul ul ul
{
	list-style-image: url(indbul3d.gif);
}
